<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="University of York">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>York Concerts theme page</title>
  <meta name="description" content="">
  <link rel="shortcut icon" href="/img/york-concerts-favicon.ico">
  <link rel="icon" type="image/x-icon" href="/img/york-concerts-favicon.ico">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/vendor/modernizr/modernizr.js"></script>
  <script src="/js/vendor/requirejs/require.js" data-main="/js/app"></script>
  <script src="//use.typekit.net/dvj8rpp.js"></script>
  <script>
  try { Typekit.load(); } catch (e) {}
  </script>
</head>
<body class="o-page__level--1 o-page__width--narrow t-yorkconcerts">

  <a href="#Main-Content" class="o-skip-link">Skip to content</a>
  <a href="https://www.york.ac.uk/about/legal-statements/accessibility/" class="o-skip-link">Accessibility statement</a>
  
  <header class="c-main-header" role="banner">
    <div class="o-wrapper o-grid">
      <div class="o-grid__row">
        <div class="o-grid__box o-grid__box--threequarters o-grid__box--threequarters@medium o-grid__box--threequarters@small o-grid__box--threequarters@tiny">
          <h2 class="c-main-header__title"><a href="https://www.york.ac.uk/"><img class="c-main-header__logo" src="https://www.york.ac.uk/static/stable/img/logo.svg" alt="University of York" width="250" height="40"></a></h2>
        </div>
        <div class="o-grid__box o-grid__box--quarter o-grid__box--quarter@medium o-grid__box--quarter@small o-grid__box--quarter@tiny">
          <form action="https://www.york.ac.uk/search" method="get" class="c-form c-form--joined c-form--header is-hidden@medium-" autocomplete="off">
            <fieldset>
              <div class="c-form__element">
                <input class="c-form__input c-form__input--text" type="text" id="q-search" aria-label="Search" name="q" placeholder="Search york.ac.uk" />
                <input type="hidden" name="site" value="yorkweb">
                <button type="submit" class="c-btn c-btn--medium" aria-label="Search"><i class="c-icon c-icon--search" aria-hidden="true"></i></button>
              </div>
            </fieldset>
          </form>
          <!-- Mobile search -->
          <a href="#Mobile-Search" class="c-mobile-search-button js-toggle-mobile-search is-hidden@large+" aria-label="Search"><i class="c-icon c-icon--search" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </header>
  
  <form action="https://www.york.ac.uk/search" method="get" class="c-form c-form--joined c-form--mobile-search" id="Mobile-Search">
    <fieldset class="c-form__fieldset">
      <legend class="c-form__legend">Search york.ac.uk</legend>
      <div class="o-grid">
        <div class="o-grid__row">
          <div class="o-grid__box o-grid__box--full">
            <div class="c-form__element">
              <input class="c-form__input c-form__input--text" type="text" id="q-mobile" name="q" aria-label="Search" />
              <input type="hidden" name="site" value="yorkweb">
              <button type="submit" class="c-btn c-btn--medium" aria-label="Search">Search</button>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
      
  <!-- Page title -->
  <div class="o-wrapper o-wrapper--wide c-page-title__wrapper o-grid">
    <div class="o-grid__row">
      <div class="o-grid__box o-grid__box--full">
        <div class="c-page-title">
          <h1 class="c-page-title__header"><a class="c-page-title__link" href="">Concerts (new)</a></h1>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Main nav -->
  <nav class="c-nav c-nav--main" role="navigation" id="Main-Navigation">
    <h4 class="c-nav__header"><a href="privacy-policy/">Privacy policy</a></h4>
    <ul class="c-nav__list c-nav__list--associative">
    
    </ul>
    <h4 class="c-nav__header">Other sections</h4>
    <ul class="c-nav__list c-nav__list--structural">
      <li class="c-nav__item"><a href="../whats-on/">What's on</a></li><li class="c-nav__item"><a href="../your-visit/">Your visit</a></li><li class="c-nav__item"><a href="../bookings/">Bookings</a></li><li class="c-nav__item"><span class="currentbranch0"><a href="privacy-policy/">Privacy policy</a></span></li><li class="c-nav__item c-nav__item--more"><a class="c-nav__link js-toggle-button" href="#Main-Navigation">More&hellip;</a></li>
    </ul>
  
  </nav>
  
  <!-- Breadcrumb -->
  <div class="c-breadcrumb"><div class="c-breadcrumb__items"><a href="/"><i class="c-icon c-icon--home" title="Home"></i><span class="c-icon__sr-text">Home</span></a><span class="c-breadcrumb__separator">&gt;</span><a href="https://cms.york.ac.uk/terminalfour/preview/1/en/221229">Concerts (new)</a><span class="c-breadcrumb__separator">&gt;</span><a href="/privacy-policy/">Privacy policy</a></div></div>
  
  <div class="o-wrapper o-wrapper--main o-grid js-wrapper--main">
    
      <div class="o-grid__row">
        <div class="o-grid__box o-grid__box--quarter" role="complementary">
          <nav class="c-subnav is-hidden@medium is-hidden@small-">
          <ul class="c-subnav__list">
                <li class="c-subnav__item c-subnav__title"><a href="privacy-policy/">Privacy policy</a></li>
              
          </ul>
      </nav>
          <nav class="c-subnav is-hidden@medium-">  
    <ul class="c-subnav__list c-subnav__list--structural">
       <li class="c-subnav__title c-subnav__item"><span class="c-subnav__link">Other sections</a></li>
      class="c-subnav__item"><a href="../whats-on/">What's on</a></li>class="c-subnav__item"><a href="../your-visit/">Your visit</a></li>class="c-subnav__item"><a href="../bookings/">Bookings</a></li><li class="c-subnav__item"><span class="currentbranch0">Privacy policy</span></li></ul>
  </nav>
  
        </div>
        <div class="o-grid__box o-grid__box--threequarters" role="main" id="Main-Content"><div class="o-grid__row">
    <div class="o-grid__box o-grid__box--full">
      
      <h1>Privacy Policy</h1>
       
    </div>
  </div>
  
  <div class="o-grid__row">
    <div class="o-grid__box o-grid__box--twothirds">
      <div class="lead"><p class="c3">This general privacy notice is for any individual who provides&nbsp;<span class="c10"><a class="c9" href="https://www.google.com/url?q=https://www.york.ac.uk/records-management/dp/introduction/&amp;sa=D&amp;ust=1532971359820000">personal data</a></span>&nbsp;or&nbsp;<span class="c10"><a class="c9" href="https://www.google.com/url?q=https://www.york.ac.uk/records-management/dp/introduction/&amp;sa=D&amp;ust=1532971359821000">special category data</a></span><span class="c0">&nbsp;to YorkConcerts, University of York.</span></p>
  <p class="c3">For the purposes of this privacy notice, University of York is the&nbsp;<span class="c10"><a class="c9" href="https://www.google.com/url?q=https://www.york.ac.uk/records-management/dp/guidance/privacynotices/&amp;sa=D&amp;ust=1532971359821000">Data Controller</a></span>&nbsp;as defined in the General Data Protection Regulation. We are registered with the Information Commissioner’s Office and our entry can be found&nbsp;<span class="c10"><a class="c9" href="https://www.google.com/url?q=https://ico.org.uk/ESDWebPages/Entry/Z4855807&amp;sa=D&amp;ust=1532971359822000">here</a></span>. Our registration number is Z4855807.&nbsp;</p></div>
       <h2 class="c8"><span class="c2">What data do we have?</span></h2>
  <h3 class="c3">Ticketing data</h3>
  <p class="c3">When you purchase tickets or a membership product through our Box Office (at the Department of Music, University of York) your name, email address, phone number(s) and postal address will be stored by our ticketing partner, Ticketsolve. This applies to bookings made in person, via the website or by telephone. We will work to ensure we keep your details up to date.&nbsp;</p>
  <h3 class="c8"><span class="c1">Online data</span></h3>
  <p class="c3">When you book tickets online, data is shared between the University of York, Global Payments (our card payment gateway) and Ticketsolve (the ticketing platform) in order to process the transaction. Where customers have opted to provide their details to receive emails from us then data will also be shared with MailChimp, our email partner.</p>
  <h2 class="c8"><span class="c2">What is our legal basis for processing your data?</span></h2>
  <p class="c3">&nbsp;Typically, data will be processed:</p>
  <ul class="c20 lst-kix_ytklodx11dn0-0 start">
  <li class="c11"><span class="c13">on the grounds of contractual requirement or to take steps to enter into a contract with you, e.g. to sell you a ticket for an event;</span></li>
  <li class="c11"><span class="c13">because you have given us your consent, e.g. to receive a copy of our newsletter.</span></li>
  </ul>
  <h2><span class="c2">How do we use your data?</span></h2>
  <p class="c3">&nbsp;t<span class="c0">o deliver a business service to you, namely the provision of concert tickets;</span></p>
  <ul class="c20 lst-kix_cwafm67smazl-0 start">
  <li class="c8 c22 c21"><span class="c13 c7">to administer the financial aspects of our relationship with you including processing any payments made by you to YorkConcerts;</span></li>
  <li class="c8 c21 c22"><span class="c13 c7">to send you email or postal marketing materials.</span>&nbsp;</li>
  </ul>
  <p class="c8"><span class="c0">Marketing messages will only be sent to those who have opted in to receive emails. We may also include information about other third-party events we think you may be interested in. When you sign up for our mailing list – either at the time of booking or separately through our sign-up form – we collect personal information. We use that information for the following reasons:</span>&nbsp;</p>
  <ul class="c20 lst-kix_drvfvbvk8stg-1 start">
  <li class="c8 c12 c21"><span class="c0">to share information such as upcoming shows;</span></li>
  <li class="c8 c12 c21"><span class="c0">to check our records are correct</span></li>
  <li class="c8 c12 c21"><span class="c0">and to occasionally confirm that you are happy and satisfied with the service we provide.</span></li>
  </ul>
  <p class="c3">We also gather statistics around email opening and clicks within emails using industry-standard technologies to enable us to monitor and improve our marketing. You can unsubscribe by clicking the 'unsubscribe' link at the bottom of any of our emails or by contacting the Box Office at&nbsp;<span class="c10"><a class="c9" href="mailto:boxoffice@york.ac.uk">boxoffice@york.ac.uk</a></span><span class="c0">.</span></p>
  <h2 class="c8"><span class="c15 c7">Who do we share your data with?</span>&nbsp;</h2>
  <ul>
  <li>We use MailChimp to send marketing messages, as well as to welcome new customers, interact with lapsed customers, provide special offers and to thank customers who donate to the Music Development Fund through Ticketsolve.</li>
  <li>&nbsp;We use Ticketsolve and Global Payments to manage your purchase and administer card payments.&nbsp;</li>
  </ul>
  <p class="c3">For further information, see&nbsp;<span class="c10"><a class="c9" href="https://www.google.com/url?q=https://www.ticketsolve.com/privacy-policy/&amp;sa=D&amp;ust=1532971359828000">https://www.ticketsolve.com/privacy-policy/</a></span>;&nbsp;<span class="c10"><a class="c9" href="https://www.google.com/url?q=https://www.globalpaymentsinc.com/en-gb/privacy-statement&amp;sa=D&amp;ust=1532971359828000">https://www.globalpaymentsinc.com/en-gb/privacy-statement</a></span>&nbsp;and&nbsp;<span class="c10"><a class="c9" href="https://www.google.com/url?q=https://mailchimp.com/legal/privacy/&amp;sa=D&amp;ust=1532971359828000">https://mailchimp.com/legal/privacy/</a></span>.</p>
  <h2 class="c8"><span class="c2">How do we keep your data secure?</span></h2>
  <p class="c3"><span class="c7 c18">The University takes information security extremely seriously and has implemented appropriate technical and organisational measures to protect personal data and special category data. Access to information is restricted on a need-to-know basis and security arrangements are regularly reviewed to ensure their continued suitability.&nbsp;<a href="https://www.york.ac.uk/it-services/security/">Find out&nbsp;more information</a></span><span class="c13 c7">.&nbsp;&nbsp;</span></p>
  <h2 class="c8"><span class="c7 c15">How long will we keep your data?</span></h2>
  <p class="c3">The University will retain your data in line with legal requirements or where there is a business need. Retention timeframes will be determined in line with the University’s Records Retention Schedule.&nbsp;&nbsp;</p>
  <h2 class="c8"><span class="c15 c7">What rights do you have in relation to your data?</span></h2>
  <p class="c3"><span class="c7 c18">Under the General Data Protection Regulation, you have a right of access to your data, a right to rectification, erasure (in certain circumstances), restriction, objection or portability (in certain circumstances). You also have a right to withdraw consent. You can verify or correct information in your student record at any time by <a href="https://www.york.ac.uk/students/studying/manage/student-record/">following the guidance</a></span><span class="c7 c18">. Find out more <a href="https://www.york.ac.uk/records-management/generaldataprotectionregulation/individualsrights/">information for all other requests</a></span><span class="c13 c7">.&nbsp;&nbsp;</span></p>
  <h3 class="c8"><span class="c15 c7">Questions or concerns</span></h3>
  <p class="c3"><span class="c7 c18">If you have any questions about this privacy notice or concerns about how your data is being processed, please contact&nbsp;</span>Box Office at&nbsp;<span class="c10"><a class="c9" href="mailto:boxoffice@york.ac.uk">boxoffice@york.ac.uk</a></span>&nbsp;in the first instance. You can also direct requests directly to<span class="c7 c18">&nbsp;the University’s Data Protection Officer at&nbsp;</span><span class="c6">dataprotection@york.ac.uk</span><span class="c13 c7">.</span></p>
  <h3 class="c8"><span class="c15 c7">Right to complain</span></h3>
  <p class="c3"><span class="c7 c18">If you are unhappy with the way in which the University has handled your personal data, you have a right to complain to the Information Commissioner’s Office.&nbsp;<a href="http://www.ico.org.uk/concerns">Find out&nbsp;more information</a>&nbsp;on reporting a concern to the Information Commissioner’s Office</span><span class="c13 c7">.&nbsp;&nbsp;</span></p>
  <p class="c8"><span class="c0">We will regularly review this Privacy Policy to ensure we are continuing to operate within all relevant legal frameworks and to provide as much transparency as possible with regards to our activities. This version (1.1) was adopted on&nbsp;<strong>31 July 2018.</strong></span></p>
  <hr>
  <h1 class="c3"><span class="c2">Cookie Policy</span>&nbsp;</h1>
  <h2 class="c3">Cookies</h2>
  <p class="c3"><span class="c7">A cookie is a small text file which helps your web browser navigate through a particular website. The cookie can then be read back later by the web browser as required. The use of cookies is a convenient way of allowing a computer to remember specific information relating to a website which has been visited. For further information about cookies including a detailed&nbsp;</span><span class="c14 c6"><a class="c9" href="https://www.google.com/url?q=http://www.allaboutcookies.org/cookies/&amp;sa=D&amp;ust=1532971359838000">definition</a></span><span class="c7">, please consult&nbsp;</span><span class="c14 c6"><a class="c9" href="https://www.google.com/url?q=http://www.allaboutcookies.org/&amp;sa=D&amp;ust=1532971359839000">All About Cookies</a></span><span class="c0 c7">.</span></p>
  <h2><span class="c2 c7">Cookie usage</span></h2>
  <p class="c3">When someone visits our website (www.yorkconcerts.co.uk) and our ticketing site (yorkconcerts.ticketsolve.com) we use a number of third-party services to collect standard internet log information and details of visitor behaviour patterns. We do this to find out things such as the number of visitors to the various parts of the site, types of devices used and length of time on pages.</p>
  <table class="c17">
  <tbody>
  <tr class="c28">
  <td class="c7 c19" colspan="1" rowspan="1">
  <p class="c4"><strong><span class="c23">Cookie</span></strong></p>
  </td>
  <td class="c5" colspan="1" rowspan="1">
  <p class="c4"><strong><span class="c23">Data</span></strong></p>
  </td>
  <td class="c7 c16" colspan="1" rowspan="1">
  <p class="c4"><strong><span class="c23">Purpose</span></strong></p>
  </td>
  </tr>
  <tr class="c25">
  <td class="c19 c7" colspan="1" rowspan="1">
  <p class="c4"><span class="c0">Universal Analytics (Google)</span></p>
  </td>
  <td class="c5" colspan="1" rowspan="1">
  <p class="c4"><span class="c0">_ga_gali_gat_UA-XXXX_gid</span></p>
  </td>
  <td class="c16 c7" colspan="1" rowspan="1">
  <p class="c4"><span class="c0">These cookies are used to collect information about how visitors use our website. We use the information to compile reports and to help us improve the website. The cookies collect information in an anonymous form, including the number of visitors to the website, device used, where visitors have come to the website from and the pages they visited.</span></p>
  </td>
  </tr>
  </tbody>
  </table>
  <h2 class="c8"><span class="c2"><br>Managing / deleting cookies from this site</span></h2>
  <p class="c3">&nbsp;You can manage cookies from this site, including blocking or deleting them, by&nbsp;<span class="c10"><a class="c9" href="https://www.google.com/url?q=http://www.allaboutcookies.org/manage-cookies/&amp;sa=D&amp;ust=1532971359844000">changing the settings</a></span><span class="c0">&nbsp;in your web browser. However, please note that deleting cookies may result in parts of this site and its online services not working as expected.</span></p>
    </div>
     <div class="o-grid__box o-grid__box--third is-hidden@small-">
      <!-- navigation object : Contact details -->            <div class="c-panel c-panel--compact">
                <div class="c-panel__content">
                  <h3>Contact us</h3>
                    <p>
                    <i class="c-icon c-icon--envelope-o c-icon--before" aria-label="email address"></i><a href="mailto:boxoffice@york.ac.uk">boxoffice@york.ac.uk</a>
                    <br>
                    <i class="c-icon c-icon--phone c-icon--before" aria-label="telephone number"></i><a href="tel:+441904322439">+44 (0)1904 32 2439</a>
                    <br>
                    <i class="c-icon c-icon--map-marker c-icon--before" aria-label="address"></i>Concerts Box Office<br>
  University of York,<br>
  York, YO10 5DD
                    <br>
                    <i class="c-icon c-icon--twitter c-icon--before" aria-hidden="true"></i><a href="https://twitter.com/UoYConcerts" aria-label="twitter">UoYConcerts</a>
                    <br>
                  </p>
                </div>
              </div>
  
      <!-- navigation object : Related links -->
    </div>
  </div>
  
  <div class="o-grid__row is-visible@small-">
    <div class="o-grid__box o-grid__box--full">
        <!-- navigation object : Contact details -->            <div class="c-panel c-panel--compact">
                <div class="c-panel__content">
                  <h3>Contact us</h3>
                    <p>
                    <i class="c-icon c-icon--envelope-o c-icon--before" aria-label="email address"></i><a href="mailto:boxoffice@york.ac.uk">boxoffice@york.ac.uk</a>
                    <br>
                    <i class="c-icon c-icon--phone c-icon--before" aria-label="telephone number"></i><a href="tel:+441904322439">+44 (0)1904 32 2439</a>
                    <br>
                    <i class="c-icon c-icon--map-marker c-icon--before" aria-label="address"></i>Concerts Box Office<br>
  University of York,<br>
  York, YO10 5DD
                    <br>
                    <i class="c-icon c-icon--twitter c-icon--before" aria-hidden="true"></i><a href="https://twitter.com/UoYConcerts" aria-label="twitter">UoYConcerts</a>
                    <br>
                  </p>
                </div>
              </div>
  
        <!-- navigation object : Related links -->
      </div>
  </div>
  
  
  </div>
  </div>
  </div>
  
  
  
  <footer class="c-footer-main">
    <div class="o-grid o-wrapper">
      <div class="o-grid__row">
        <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
          <h3 class="c-footer-main__heading" id="information-links">Information for</h3>
          <ul>
            <li><a href="https://www.york.ac.uk/study/" aria-labelledby="information-links prospective-students" id="prospective-students">Prospective students</a></li>
            <li><a href="https://www.york.ac.uk/students/" aria-labelledby="information-links current-students" id="current-students">Current students</a></li>
            <li><a href="https://www.york.ac.uk/staff/" aria-labelledby="information-links university-staff" id="university-staff">Staff</a></li>
            <li><a href="https://www.york.ac.uk/alumni/" aria-labelledby="information-links university-alumi" id="university-alumi">Alumni</a></li>
            <li><a href="https://www.york.ac.uk/news-and-events/for-media/" aria-labelledby="information-links press-media" id="press-media">Press and media</a></li>
          </ul>
        </div>
        <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
          <h3 class="c-footer-main__heading" id="about-links">About</h3>
          <ul>
            <li><a href="https://www.york.ac.uk/about/" aria-labelledby="about-links the-university" id="the-university">The University</a></li>
            <li><a href="https://www.york.ac.uk/research/" aria-labelledby="about-links university-research" id="university-research">Research</a></li>
            <li><a href="https://www.york.ac.uk/business/" aria-labelledby="about-links university-business" id="university-business">Business</a></li>
            <li><a href="https://www.york.ac.uk/global" aria-labelledby="about-links university-global" id="university-global">Global</a></li>
            <li><a href="https://www.york.ac.uk/news-and-events/news/" aria-labelledby="about-links university-news" id="university-news">News</a></li>
            <li><a href="https://www.york.ac.uk/news-and-events/events/" aria-labelledby="about-links university-events" id="university-events">Events</a></li>
            <li><a href="https://www.york.ac.uk/york-unlimited/" aria-labelledby="about-links york-unlimited" id="york-unlimited">York Unlimited</a></li>
            <li><a href="https://www.york.ac.uk/study/visit/online-campus-tour/#virtualtour" aria-labelledby="about-links virtual-tour" id="virtual-tour">Virtual tour</a></li>
          </ul>
        </div>
        <div  class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
          <h3 class="c-footer-main__heading">Quick links</h3>
          <ul>
            <li><a href="https://www.york.ac.uk/about/departments/a-to-z/">A-Z</a></li>
            <li><a href="https://www.york.ac.uk/about/departments/">Departments</a></li>
            <li><a href="https://www.york.ac.uk/directory/">Staff directory</a></li>
            <li><a href="https://www.york.ac.uk/about/maps/">Maps and directions</a></li>
            <li><a href="https://www.york.ac.uk/about/term-dates/">Term dates</a></li>
            <li><a href="https://jobs.york.ac.uk/">Job vacancies</a></li>
          </ul>
        </div>
        <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
          <h3 class="c-footer-main__heading">Contact us</h3>
          <p class="c-footer-main__address">University of York<br>
            York<br>
            YO10 5DD<br>
            United Kingdom<br>
          </p>
          <p>+44 (0) 1904 320 000</p>
        </div>
      </div>
      <div class="o-grid__row">
        <div class="o-grid__box o-grid__box--threequarters">
          <p>&copy; University of York <br /> <a href="https://www.york.ac.uk/about/legal-statements/">Legal statements</a> | <a href="https://www.york.ac.uk/about/legal-statements/#tab-4">Privacy</a> | <a href="https://www.york.ac.uk/about/legal-statements/cookies/">Cookies</a> | <a href="https://www.york.ac.uk/about/sustainability/strategy/slavery-human-trafficking/">Modern slavery statement</a> | <a href="https://www.york.ac.uk/about/legal-statements/accessibility/">Accessibility</a></p>
        </div>
        <div class="o-grid__box o-grid__box--quarter">
          <p>
            <a href="https://twitter.com/uniofyork" aria-label="Follow us on Twitter"><i class="c-icon c-icon--twitter c-icon--2x c-icon--fw" title="Follow us on Twitter" aria-hidden="true"></i></a>
            <a  href="https://www.facebook.com/universityofyork" aria-label="Like us on Facebook"><i class="c-icon c-icon--facebook c-icon--2x c-icon--fw" title="Like us on Facebook" aria-hidden="true"></i></a>
            <a href="https://instagram.com/uniofyork" aria-label="Follow us on Instagram"><i class="c-icon c-icon--instagram c-icon--2x  c-icon--fw" title="Follow us on Instagram" aria-hidden="true"></i></a>
            <a  href="http://www.youtube.com/universityofyorkuk" aria-label="Watch our videos on YouTube"><i class="c-icon c-icon--youtube c-icon--2x c-icon--fw" title="Watch our videos on YouTube" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>
  
      <!-- global alert function -->
      <script src="https://www.york.ac.uk/static/globalalert/globalalert.js" async defer></script>
  <!-- Footer start-->
    </div>
  </footer>
  
  </body>
  
  </html><!-- Footer end-->