<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="University of York">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>York Concerts theme page</title>
  <meta name="description" content="">
  <link rel="shortcut icon" href="/img/york-concerts-favicon.ico">
  <link rel="icon" type="image/x-icon" href="/img/york-concerts-favicon.ico">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/vendor/modernizr/modernizr.js"></script>
  <script src="/js/vendor/requirejs/require.js" data-main="/js/app"></script>
  <script src="//use.typekit.net/dvj8rpp.js"></script>
  <script>
  try { Typekit.load(); } catch (e) {}
  </script>
</head>
<body class="o-page__level--1 o-page__width--narrow t-yorkconcerts">
<!-- Header + mobile search -->

<a href="#Main-Content" class="o-skip-link">Skip to content</a>
<a href="https://www.york.ac.uk/about/legal-statements/accessibility/" class="o-skip-link">Accessibility statement</a>

<header class="c-main-header" role="banner">
  <div class="o-wrapper o-grid">
    <div class="o-grid__row">
      <div class="o-grid__box o-grid__box--threequarters o-grid__box--threequarters@medium o-grid__box--threequarters@small o-grid__box--threequarters@tiny">
        <h2 class="c-main-header__title"><a href="https://www.york.ac.uk/"><img class="c-main-header__logo" src="https://www.york.ac.uk/static/stable/img/logo.svg" alt="University of York" width="250" height="40"></a></h2>
      </div>
      <div class="o-grid__box o-grid__box--quarter o-grid__box--quarter@medium o-grid__box--quarter@small o-grid__box--quarter@tiny">
        <form action="https://www.york.ac.uk/search" method="get" class="c-form c-form--joined c-form--header is-hidden@medium-" autocomplete="off">
          <fieldset>
            <div class="c-form__element">
              <input class="c-form__input c-form__input--text" type="text" id="q-search" aria-label="Search" name="q" placeholder="Search york.ac.uk" />
              <input type="hidden" name="site" value="yorkweb">
              <button type="submit" class="c-btn c-btn--medium" aria-label="Search"><i class="c-icon c-icon--search" aria-hidden="true"></i></button>
            </div>
          </fieldset>
        </form>
        <!-- Mobile search -->
        <a href="#Mobile-Search" class="c-mobile-search-button js-toggle-mobile-search is-hidden@large+" aria-label="Search"><i class="c-icon c-icon--search" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</header>

<form action="https://www.york.ac.uk/search" method="get" class="c-form c-form--joined c-form--mobile-search" id="Mobile-Search">
  <fieldset class="c-form__fieldset">
    <legend class="c-form__legend">Search york.ac.uk</legend>
    <div class="o-grid">
      <div class="o-grid__row">
        <div class="o-grid__box o-grid__box--full">
          <div class="c-form__element">
            <input class="c-form__input c-form__input--text" type="text" id="q-mobile" name="q" aria-label="Search" />
            <input type="hidden" name="site" value="yorkweb">
            <button type="submit" class="c-btn c-btn--medium" aria-label="Search">Search</button>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
    
<!-- Page title -->
<div class="o-wrapper o-wrapper--wide c-page-title__wrapper o-grid">
  <div class="o-grid__row">
    <div class="o-grid__box o-grid__box--full">
      <div class="c-page-title">
        <h1 class="c-page-title__header"><a class="c-page-title__link" href="https://cms.york.ac.uk/terminalfour/preview/1/en/221229">Concerts (new)</a></h1>
      </div>
    </div>
  </div>
</div>

<!-- Main nav -->
<nav class="c-nav c-nav--main" role="navigation" id="Main-Navigation">
  <h4 class="c-nav__header"><a href="/your-visit/">Your visit</a></h4>
  <ul class="c-nav__list c-nav__list--associative">
	
  </ul>
  <h4 class="c-nav__header">Other sections</h4>
  <ul class="c-nav__list c-nav__list--structural">
    <li class="c-nav__item"><a href="../whats-on/">What's on</a></li><li class="c-nav__item"><span class="currentbranch0"><a href="your-visit/">Your visit</a></span></li><li class="c-nav__item"><a href="../bookings/">Bookings</a></li><li class="c-nav__item"><a href="../privacy-policy/">Privacy policy</a></li><li class="c-nav__item c-nav__item--more"><a class="c-nav__link js-toggle-button" href="#Main-Navigation">More&hellip;</a></li>
  </ul>

</nav>

<!-- Breadcrumb -->
<div class="c-breadcrumb"><div class="c-breadcrumb__items"><a href="/"><i class="c-icon c-icon--home" title="Home"></i><span class="c-icon__sr-text">Home</span></a><span class="c-breadcrumb__separator">&gt;</span><a href="https://cms.york.ac.uk/terminalfour/preview/1/en/221229">Concerts (new)</a><span class="c-breadcrumb__separator">&gt;</span><a href="/your-visit/">Your visit</a></div></div>

<div class="o-wrapper o-wrapper--main o-grid js-wrapper--main">
  
    <div class="o-grid__row">
      <div class="o-grid__box o-grid__box--quarter" role="complementary">
        <nav class="c-subnav is-hidden@medium is-hidden@small-">
  			<ul class="c-subnav__list">
              <li class="c-subnav__item c-subnav__title"><a href="your-visit/">Your visit</a></li>
    	 	   
    		</ul>
		</nav>
        <nav class="c-subnav is-hidden@medium-">  
  <ul class="c-subnav__list c-subnav__list--structural">
     <li class="c-subnav__title c-subnav__item"><span class="c-subnav__link">Other sections</a></li>
    class="c-subnav__item"><a href="../whats-on/">What's on</a></li><li class="c-subnav__item"><span class="currentbranch0">Your visit</span></li>class="c-subnav__item"><a href="../bookings/">Bookings</a></li>class="c-subnav__item"><a href="../privacy-policy/">Privacy policy</a></li></ul>
</nav>

      </div>
      <div class="o-grid__box o-grid__box--threequarters" role="main" id="Main-Content"><div class="o-grid__row">
  <div class="o-grid__box o-grid__box--full">
    
<div class="c-figure c-figure--link">
      <img class="c-figure__image" src="https://cms.york.ac.uk/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=ab9ff3274492e273377c8dcc923dd5daa95ae0b0" alt="" width="800" height="400" />
      <div class="c-figure__content c-figure__content--teal c-figure__content--left">
  
  	<h1>Your visit</h1>
     
   	</div>
	</div>
  
  </div>
</div>

<div class="o-grid__row">
  <div class="o-grid__box o-grid__box--twothirds">
	  <div class="lead"><p>Explore our venues and find out more about access, seating and how to get here.</p></div>
   	<p>Concerts and performances are held across three venues, the Sir Jack Lyons Concert Hall, Central Hall and occasionally <a href="https://yorkminster.org/">York Minster</a>.</p>
  </div>
   <div class="o-grid__box o-grid__box--third is-hidden@small-">
  	<!-- navigation object : Contact details -->            <div class="c-panel c-panel--compact">
              <div class="c-panel__content">
                <h3>Contact us</h3>
                  <p>
                  <i class="c-icon c-icon--envelope-o c-icon--before" aria-label="email address"></i><a href="mailto:boxoffice@york.ac.uk">boxoffice@york.ac.uk</a>
                  <br>
                  <i class="c-icon c-icon--phone c-icon--before" aria-label="telephone number"></i><a href="tel:+441904322439">+44 (0)1904 32 2439</a>
                  <br>
                  <i class="c-icon c-icon--map-marker c-icon--before" aria-label="address"></i>Concerts Box Office<br>
University of York,<br>
York, YO10 5DD
                  <br>
                  <i class="c-icon c-icon--twitter c-icon--before" aria-hidden="true"></i><a href="https://twitter.com/UoYConcerts" aria-label="twitter">UoYConcerts</a>
                  <br>
                </p>
              </div>
            </div>

    <!-- navigation object : Related links -->
  </div>
</div>

<div class="o-grid__row">
  <div class="o-grid__box o-grid__box--twothirds">
    <h2>Seating charts</h2>
  </div>
</div><div class="o-grid__row">
  <div class="o-grid__box o-grid__box--full">
      <a class="c-gallery-item c-gallery-item--landscape js-modal js-modal--frameless js-modal--gallery" href="https://cms.york.ac.uk/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=4f11bf334fadb8bb4397ceac06b6ebd7f3fc999d" data-caption="<h2>Sir Jack Lyons Concert Hall</h2>
<p>The seating is raked, with row A at the back. If a concert sells out, we may put extra chirs in front of the first row of fixed seats.</p>">
        <figure class="c-gallery-item__thumbnail">
          <img class="c-gallery-item__thumbnail-image" src="https://cms.york.ac.uk/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=4f11bf334fadb8bb4397ceac06b6ebd7f3fc999d" alt="<h2>Sir Jack Lyons Concert Hall</h2>
<p>The seating is raked, with row A at the back. If a concert sells out, we may put extra chirs in front of the first row of fixed seats.</p>">
        </figure>
      </a>
      <a class="c-gallery-item c-gallery-item--landscape js-modal js-modal--frameless js-modal--gallery" href="https://cms.york.ac.uk/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=7c6c5e5205bcc5a1954f93c78b611e3598dc4c1c" data-caption="<h2>Central Hall</h2>
<ul>
<li>Centre block: 3</li>
<li>Centre side blocks: 2 and 4</li>
<li>Side blocks: 1 and 5</li>
</ul>">
        <figure class="c-gallery-item__thumbnail">
          <img class="c-gallery-item__thumbnail-image" src="https://cms.york.ac.uk/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=7c6c5e5205bcc5a1954f93c78b611e3598dc4c1c" alt="<h2>Central Hall</h2>
<ul>
<li>Centre block: 3</li>
<li>Centre side blocks: 2 and 4</li>
<li>Side blocks: 1 and 5</li>
</ul>">
        </figure>
      </a>
      <a class="c-gallery-item c-gallery-item--portrait js-modal js-modal--frameless js-modal--gallery" href="https://cms.york.ac.uk/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=62a5ce771887dd0ba3cbd75bafade6e6a8946cf2" data-caption="<h2>York Minster</h2>
<p>Unreserved seats are available in the side aisles.</p>">
        <figure class="c-gallery-item__thumbnail">
          <img class="c-gallery-item__thumbnail-image" src="https://cms.york.ac.uk/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=62a5ce771887dd0ba3cbd75bafade6e6a8946cf2" alt="<h2>York Minster</h2>
<p>Unreserved seats are available in the side aisles.</p>">
        </figure>
      </a>
  </div>
</div>
<div class="o-grid__row o-grid__row--default">
  <div class="o-grid__box o-grid__box--full">
    <figure class="c-figure c-figure--banner">
      <img class="c-figure__image" src="" alt="" />
      
      <div class="c-figure__content">
        <h2>Pre-concert food and drink</h2>
<p>&nbsp;</p>
<h2>Bars</h2>
<p>The bars in the Sir Jack Lyons Concert Hall and Central Hall which serve a full range of drinks.&nbsp;Remember to order your interval drinks before the concert and they will be waiting for you.</p>
<p>&nbsp;</p>
      </div>
    </figure>
  </div>
</div><h2>Getting here</h2>
<p>We are easily accessible at the heart of the <a data-t4-type="sslink" data-t4-ss-link-id="4" href="https://cms.york.ac.uk/terminalfour/preview/1/en/65180">University of York</a>.</p>
<ul>
<li>For daytime concerts, follow the footpath signs to Sir Jack Lyons Concert Hall</li>
<li>For evening concerts, follow the footpath signs to the Concerts &amp; Evening Box Office</li>
<li>For accessible access: follow signs to Concerts &amp; Evening Box Office and enter via the walkway to the Music Research Centre.</li>
</ul>
<h3>Parking</h3>
<p>There are no parking charges for concert audiences after 6pm or at the weekend. At other times, please use&nbsp;<a href="https://www.york.ac.uk/map/">pay and display car parks</a>.</p>
<p>If you are visiting the Box Office in the afternoon, you may use one of the limited number of free short-stay spaces in the car park in front of the&nbsp;<a href="https://www.york.ac.uk/map/#locid352">Information Centre</a>.</p>
<div class="o-grid__row is-visible@small-">
	<div class="o-grid__box o-grid__box--full">
  		<!-- navigation object : Contact details -->            <div class="c-panel c-panel--compact">
              <div class="c-panel__content">
                <h3>Contact us</h3>
                  <p>
                  <i class="c-icon c-icon--envelope-o c-icon--before" aria-label="email address"></i><a href="mailto:boxoffice@york.ac.uk">boxoffice@york.ac.uk</a>
                  <br>
                  <i class="c-icon c-icon--phone c-icon--before" aria-label="telephone number"></i><a href="tel:+441904322439">+44 (0)1904 32 2439</a>
                  <br>
                  <i class="c-icon c-icon--map-marker c-icon--before" aria-label="address"></i>Concerts Box Office<br>
University of York,<br>
York, YO10 5DD
                  <br>
                  <i class="c-icon c-icon--twitter c-icon--before" aria-hidden="true"></i><a href="https://twitter.com/UoYConcerts" aria-label="twitter">UoYConcerts</a>
                  <br>
                </p>
              </div>
            </div>

	    <!-- navigation object : Related links -->
  	</div>
</div>


</div>
</div>
</div>



<footer class="c-footer-main">
  <div class="o-grid o-wrapper">
    <div class="o-grid__row">
      <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
        <h3 class="c-footer-main__heading" id="information-links">Information for</h3>
        <ul>
          <li><a href="https://www.york.ac.uk/study/" aria-labelledby="information-links prospective-students" id="prospective-students">Prospective students</a></li>
          <li><a href="https://www.york.ac.uk/students/" aria-labelledby="information-links current-students" id="current-students">Current students</a></li>
          <li><a href="https://www.york.ac.uk/staff/" aria-labelledby="information-links university-staff" id="university-staff">Staff</a></li>
          <li><a href="https://www.york.ac.uk/alumni/" aria-labelledby="information-links university-alumi" id="university-alumi">Alumni</a></li>
          <li><a href="https://www.york.ac.uk/news-and-events/for-media/" aria-labelledby="information-links press-media" id="press-media">Press and media</a></li>
        </ul>
      </div>
      <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
        <h3 class="c-footer-main__heading" id="about-links">About</h3>
        <ul>
          <li><a href="https://www.york.ac.uk/about/" aria-labelledby="about-links the-university" id="the-university">The University</a></li>
          <li><a href="https://www.york.ac.uk/research/" aria-labelledby="about-links university-research" id="university-research">Research</a></li>
          <li><a href="https://www.york.ac.uk/business/" aria-labelledby="about-links university-business" id="university-business">Business</a></li>
          <li><a href="https://www.york.ac.uk/global" aria-labelledby="about-links university-global" id="university-global">Global</a></li>
          <li><a href="https://www.york.ac.uk/news-and-events/news/" aria-labelledby="about-links university-news" id="university-news">News</a></li>
          <li><a href="https://www.york.ac.uk/news-and-events/events/" aria-labelledby="about-links university-events" id="university-events">Events</a></li>
          <li><a href="https://www.york.ac.uk/york-unlimited/" aria-labelledby="about-links york-unlimited" id="york-unlimited">York Unlimited</a></li>
          <li><a href="https://www.york.ac.uk/study/visit/online-campus-tour/#virtualtour" aria-labelledby="about-links virtual-tour" id="virtual-tour">Virtual tour</a></li>
        </ul>
      </div>
      <div  class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
        <h3 class="c-footer-main__heading">Quick links</h3>
        <ul>
          <li><a href="https://www.york.ac.uk/about/departments/a-to-z/">A-Z</a></li>
          <li><a href="https://www.york.ac.uk/about/departments/">Departments</a></li>
          <li><a href="https://www.york.ac.uk/directory/">Staff directory</a></li>
          <li><a href="https://www.york.ac.uk/about/maps/">Maps and directions</a></li>
          <li><a href="https://www.york.ac.uk/about/term-dates/">Term dates</a></li>
          <li><a href="https://jobs.york.ac.uk/">Job vacancies</a></li>
        </ul>
      </div>
      <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
        <h3 class="c-footer-main__heading">Contact us</h3>
        <p class="c-footer-main__address">University of York<br>
          York<br>
          YO10 5DD<br>
          United Kingdom<br>
        </p>
        <p>+44 (0) 1904 320 000</p>
      </div>
    </div>
    <div class="o-grid__row">
      <div class="o-grid__box o-grid__box--threequarters">
        <p>&copy; University of York <br /> <a href="https://www.york.ac.uk/about/legal-statements/">Legal statements</a> | <a href="https://www.york.ac.uk/about/legal-statements/#tab-4">Privacy</a> | <a href="https://www.york.ac.uk/about/legal-statements/cookies/">Cookies</a> | <a href="https://www.york.ac.uk/about/sustainability/strategy/slavery-human-trafficking/">Modern slavery statement</a> | <a href="https://www.york.ac.uk/about/legal-statements/accessibility/">Accessibility</a></p>
      </div>
      <div class="o-grid__box o-grid__box--quarter">
        <p>
          <a href="https://twitter.com/uniofyork" aria-label="Follow us on Twitter"><i class="c-icon c-icon--twitter c-icon--2x c-icon--fw" title="Follow us on Twitter" aria-hidden="true"></i></a>
          <a  href="https://www.facebook.com/universityofyork" aria-label="Like us on Facebook"><i class="c-icon c-icon--facebook c-icon--2x c-icon--fw" title="Like us on Facebook" aria-hidden="true"></i></a>
          <a href="https://instagram.com/uniofyork" aria-label="Follow us on Instagram"><i class="c-icon c-icon--instagram c-icon--2x  c-icon--fw" title="Follow us on Instagram" aria-hidden="true"></i></a>
          <a  href="http://www.youtube.com/universityofyorkuk" aria-label="Watch our videos on YouTube"><i class="c-icon c-icon--youtube c-icon--2x c-icon--fw" title="Watch our videos on YouTube" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>

    <!-- global alert function -->
    <script src="https://www.york.ac.uk/static/globalalert/globalalert.js" async defer></script>
<!-- Footer start-->

  </div>
</footer>

</body>

</html><!-- Footer end-->
