//
// York Unlimited theme
//


// Colours

$white:#ffffff;
$charcoal: #333;
$dark-teal:#333F48;
$mid-teal:#00677F;
$light-teal:#00B2A9;
$light-grey:#E2E5E5;
$orange:#FF6900;
$purple:#C724B1;
$green:#97D700;

$t-dark-main: $dark-teal;
$t-main: $mid-teal;
$t-main-highlight: $light-teal;
$t-light-highlight: lighten($t-main-highlight,10);
$t-light-neutral: $light-grey;
$t-mid-neutral: #666;
$t-dark-neutral: $charcoal;

// Dark (e.g. alt1 row)
$t-alt1: $t-dark-main;
// Darker (e.g. alt2 row)
$t-alt2: $t-main-highlight;
// Light (e.g. alt3 row)
$t-alt3: $t-light-neutral;

$t-btn: $t-main-highlight;
$t-btn-color: darken($t-dark-main,10);
$t-btn-hover:lighten($t-main-highlight,5);
$t-btn-active:lighten($t-btn, 10);
$t-btn-focus:darken($t-btn, 10);

$t-btn-secondary:$orange;
$t-btn-secondary-color: darken($t-dark-neutral,5);
$t-btn-secondary-hover:lighten($orange,5);
$t-btn-secondary-active:lighten($t-btn-secondary, 10);
$t-btn-secondary-focus:darken($t-btn-secondary, 10);

.t-york-unlimited {

  //logos
  .c-main-header__logo--york-unlimited {
    width:340px;
  }
  .york-logo {
    max-width:125px;
    display:block;
  }

  // Centre logo on small screens
  @include mq('small', '-') {
    .c-main-header__title {
      float:none;
    }
    .c-main-header__logo--york-unlimited {
      margin:0 auto;
    }
  }

  // Skip-to/a11y links
  .o-skip-link {
    &,&:hover { color:white; }
  }

  // Makes sure search box has not margin at bottom
  .c-form--mobile-search {
    top:0;
    margin-bottom:0;
    .c-form__fieldset {
      margin:0;
      background-color: $t-dark-main;
      &:after {
        display:none;
      }
    }
    .c-form__element {
      padding-left:0;
      padding-right:0;
    }
    &.is-open {
      height:3.625em;
      @include mq('huge', '++') {
        height: 3.9375em;
      }
    }
    @include mq('large', '+') {
      display:block;
    }
  }

  // links
  a {
    color:darken($t-main-highlight, 10);
    &:hover {
      color:$t-main-highlight;
    }
  }
  .o-grid__row--alt1 {
    a {
      color:$t-light-highlight;
      &:hover{
        color:$t-main-highlight;
      }
      &.c-btn {
        color: $t-btn-color;
      }
    }
  }
  .o-grid__row--alt2 {
    a {
      color:$t-dark-neutral;
      &:hover{
        color:$t-main;
      }
      &.c-btn {
        color: $t-btn-color;
      }
    }
  }

  .o-grid__row--alt3 {
    a {
      color:$t-dark-main;
      &:hover{
        color:$t-main;
      }
      &.c-btn {
        color: $t-btn-color;
      }
    }
  }



  //Tables

  th {
    border-bottom-color: $t-main;
    color:$charcoal;
  }
  td {
    border-bottom-color: $t-main;
  }

  // Page title
  .c-page-title,
  .c-page-title__wrapper,
  .c-main-header--alt {
    background-color: $t-dark-main;
  }
  .c-page-title__link {
    color: $white;
    &:hover {
      color:$white;
    }
  }
  .c-main-header--alt {
    padding:10px 0;
  }

  // Navigation
  .c-nav {
    background-color: $t-dark-main;
    //border-top-width:0;
    border-bottom-color:$t-main-highlight;
  }
  .c-nav__item {
    //border-width: 0;
    //font-weight: bold;
    .currentsection {
      //color: $t-main;
    }
  }
  .c-nav__link,
  .c-nav__item a {
    color:$light;
    &:hover {
      background-color:$t-main-highlight;
      color:$white;
    }
  }
  .c-nav.is-open {
    .c-nav__link,
    .c-nav__item a {
      &:hover {
        color:$t-main-highlight;
      }
    }
    .c-nav__header,
    .c-nav__header a {
      color:$t-main-highlight;
    }
    .c-nav__item--more .c-nav__link {
      color: $t-dark-neutral;
      background-color:$t-main-highlight;
      &:hover {
        color: $light;
        background-color:$t-main-highlight;
      }
    }
  }
  .c-nav__item--more .c-nav__link {
    background-color:$t-main-highlight;
    box-shadow: none;
    color: $t-dark-neutral;
    &:hover {
      background-color:$t-main-highlight;
    }
  }
  .c-subnav__item a,
  .c-subnav__title .c-subnav__link,
  .c-subnav__title a {
    color:$charcoal;
    &:hover {
      color: $t-main-highlight;
      text-decoration:underline;
    }
  }

  // Signposts
  .c-signpost {
    .c-signpost__icon {
      color:$t-main-highlight;
    }
    .c-btn {

    }
  }

  // Breadcrumb
  .c-breadcrumb a {
    color:$charcoal;
    &:hover{
      color:$t-main-highlight;
    }
  }

  // Panel
  .c-panel {
    background-color:$t-light-neutral;
    border-color:$t-main-highlight;
    border-style: solid;
    border-left-width:0;
    border-right-width:0;
    border-bottom-width:0;
  }
  .c-panel__content {
    color:$t-dark-neutral;
    h2, h3, h4 {
      color:darken($t-main-highlight,8);
    }
  }
  .c-panel a,
  .c-panel--link .c-panel__more {
    font-weight: bold;
    color: $t-main;
  }
  .c-panel a:hover,
  .c-panel--link:hover .c-panel__more{
    color:$t-main-highlight;
  }
  .c-panel--highlight {
    background-color:$t-dark-main;
    border-color: $t-main-highlight;
    .c-panel__content {
      color: $white;
      h2, h3, h4 {
        color:$t-main-highlight;
      }
    }
    &.c-panel--link {
      .c-panel__more {
        color:$t-light-highlight;
      }
      &:hover .c-panel__more {
        color:$t-main-highlight;
      }
    }
  }

  // Block links
  .c-block-link {
    background-color:$white;
    border-color:darken($t-main-highlight,10);
    border-style: solid;
    border-top-width:1px;
    border-right-width:1px;
    border-bottom-width:1px;
  }

  // Footer
  .c-footer-main {
    background-color: $t-dark-main;
    border-top-color: $t-main-highlight;
    background-image: url(https://www.york.ac.uk/static/stable/img/york-unlimited-footer-background-left.png), url(https://www.york.ac.uk/static/stable/img/york-unlimited-footer-background-right.png);
    background-position: left top, right bottom;
    background-repeat:no-repeat;
    a {
      color: $light;
      &:hover {
        color:$light;
        text-decoration: underline;
      }
    }
  }

  @include mq(small, '-') {
    .c-footer-main {
      background-image: url(https://www.york.ac.uk/static/stable/img/york-unlimited-footer-background-top-right.png), url(https://www.york.ac.uk/static/stable/img/york-unlimited-footer-background-right.png);
      background-position: right top, right bottom;
    }
  }

  // Figures
  .c-figure--banner {
    .c-figure__content, .c-figure__caption {
      background-color: $t-main;
    }
  }
  .c-figure__caption--blue,
  .c-figure__caption,
  .c-figure__content {
    background-color: $t-main-highlight;
    background-color: transparentize($t-main-highlight, 0.25);
  }
  @include mq(tiny, '~') {
    .c-figure--link .c-figure__content {
      background-color: $t-main-highlight;
    }
  }

  .c-figure__caption--below {
    background: transparent;
    color: $t-dark-neutral;
  }
  .o-grid__row--alt1 .c-figure__caption--below {
    color:$white !important;
  }
  a.c-figure--link {
    .c-figure__content {
      background-color: $t-main;
      background-color: transparentize($t-main, 0.25);
    }
    &:hover, &:focus, &:active {
      .c-figure__content {
        background-color: $t-main-highlight;
        background-color: transparentize($t-main-highlight, 0.25);
      }
    }
  }
  @include mq(tiny, '~') {
    .c-figure__content, a.c-figure--link .c-figure__content {
      background-color: $t-main;
    }
  }
  @include mq(small, '-') {
    .c-figure--banner .c-figure__content {
      background-color: $t-main;
    }
  }
  a[href*="/york-unlimited/get-involved/donate/"].c-figure--link {
    .c-figure__content {
      background-color: darken($orange,12);
      background-color: transparentize(darken($orange,12), 0.25);
    }
    &:hover, &:focus, &:active {
      .c-figure__content {
        background-color: $orange;
        background-color: transparentize($orange, 0.25);
      }
    }
  }
  a[href*="/york-unlimited/get-involved/volunteer/"].c-figure--link {
    .c-figure__content {
      background-color: darken($purple,10);
      background-color: transparentize(darken($purple,10), 0.25);
    }
    &:hover, &:focus, &:active {
      .c-figure__content {
        background-color: $purple;
        background-color: transparentize($purple, 0.25);
      }
    }
  }
  a[href*="/york-unlimited/get-involved/york-asks/"].c-figure--link {
    .c-figure__content {
      background-color: darken($green,18);
      background-color: transparentize(darken($green,17), 0.2);
    }
    &:hover, &:focus, &:active {
      .c-figure__content {
        background-color: darken($green,10);
        background-color: transparentize(darken($green,10), 0.25);
      }
    }
  }

  // Grid rows
  .o-grid__row--alt1,
  .o-grid__row--alt1:before,
  .o-grid__row--alt1:after {
    background-color: $t-alt1;
  }
  .o-grid__row--alt2,
  .o-grid__row--alt2:before,
  .o-grid__row--alt2:after {
    background-color: $t-alt2;
    color: $t-dark-neutral;
  }
  .o-grid__row--alt3,
  .o-grid__row--alt3:before,
  .o-grid__row--alt3:after {
    background-color: $t-alt3;
  }

  // Buttons
  .c-btn {
    color:$t-btn-color;
    background-color:$t-btn;
    border-color:$t-btn;
    &:hover {
      color: $t-btn-color;
      background-color: $t-btn-hover;
      border-color: $t-btn-hover;
    }
    &:active {
      color: $t-btn-color;
      background-color: $t-btn-active;
    }
    &:focus {
      color: $t-btn-color;
      background-color: $t-btn-focus;
    }
    &:hover {

    }
  }
  .o-grid__row--alt2 {
    .c-btn {
      border-color: $t-dark-neutral;
      &:hover {
        border-color: $t-main;
      }
    }
  }


  .c-btn--secondary,
  p.cta a[href*="/york-unlimited/our-priorities/student-to-shine/yos/"],
  p.cta a[href*="/york-unlimited/get-involved/donate/"],
  p.cta a[href*="://unlimited.hubbub.net"],
  p.cta a[href*="https://www.yorkspace.net/donate-form"]  {
    background-color:$t-btn-secondary;
    border-color:$t-btn-secondary;
    color:$t-btn-secondary-color;
    &:hover {
      color: $t-btn-secondary-color;
      background-color: $t-btn-secondary-hover;
      border-color: $t-btn-secondary-hover;
    }
    &:active {
      color: $t-btn-secondary-color;
      background-color: $t-btn-secondary-active;
    }
    &:focus {
      color: $t-btn-secondary-color;
      background-color: $t-btn-secondary-focus;
    }
  }

  // Listings
  .c-listings-item {
    border-bottom-color: $t-main-highlight;
  }
  .c-listings-item__title {
    color:$t-main;
  }

  // News
  .c-news--excerpt .c-news__title {
    color:$t-main;
  }
  .c-news--excerpt:hover .c-news__title {
    color:$t-main-highlight;
  }
  .c-news__event-date {
    color:$t-mid-neutral;
  }

  // Key facts
  .c-key-fact__icon {
    color:$t-main;
  }
  a.c-key-fact:hover .c-key-fact__icon {
    color: $t-main-highlight;
  }
  .c-key-fact__title {
    color:$t-dark-neutral;
  }
  a.c-key-fact:hover .c-key-fact__title {
    color: $t-dark-neutral;
  }
  .c-key-fact__title strong {
    color:darken($t-main-highlight,10);
  }
  a.c-key-fact:hover .c-key-fact__title strong {
    color:$t-main-highlight;
  }

  .c-key-fact__content {
    color:$t-dark-neutral;
  }
  .o-grid__row--alt1 .c-key-fact {
    background-color: $t-dark-main;
    .c-key-fact__title {
      color: $light;
      strong {
        color: lighten($t-main-highlight,5);
      }
    }
    .c-key-fact__icon {
      color:$t-main-highlight;
    }
    .c-key-fact__content {
      color: darken($light,5);
    }
    &:hover {
      background-color: $t-dark-main;
      .c-key-fact__title {
        color: $light;
        strong {
          color: lighten($t-main-highlight,5);
        }
      }
      .c-key-fact__icon {
        color: lighten($t-main-highlight,5);
      }
      .c-key-fact__content {
        color: $light;
      }
    }
  }

  .o-grid__row--alt2 .c-key-fact {
    background-color: $t-main-highlight;
    .c-key-fact__title {
      color: $t-dark-neutral;
      strong {
        color: $t-dark-neutral;
      }
    }
    .c-key-fact__icon {
      color:$t-dark-main;
    }
    .c-key-fact__content {
      color: $t-dark-neutral;
    }
    &:hover {
      background-color: $t-main-highlight;
      .c-key-fact__title {
        color: $t-dark-neutral;
        strong {
          color: $t-dark-neutral;
        }
      }
      .c-key-fact__icon {
        color: lighten($t-dark-main,5);
      }
      .c-key-fact__content {
        color: $t-dark-neutral;
      }
    }
  }


  // Blockquotes
  .o-grid__row--alt3 .c-blockquote__cite {
    color: $t-dark-main;
  }

  .c-blockquote--image-quote .c-blockquote__content {
    background-color: $light;
    color: $t-main;

  }
  .c-blockquote--image-quote .c-blockquote__image + .c-blockquote__content:after {
    border-top-color: $light;
    @include mq(tiny, '~') {
      // When the arrow goes to the top
      border-color:$light transparent;
    }
  }

  .o-grid__row--alt1 {
    .c-blockquote__cite {
      color: lighten($t-main-highlight,5);
    }

  }
  .o-grid__row--alt2 {
    .c-blockquote__cite {
      color:$t-dark-neutral;
    }
    .c-blockquote--pull-quote {
      .c-blockquote__content  {
        color:$t-dark-neutral;
      }
    }

  }



  .o-grid__row--alt3 {
   .c-blockquote--pull-quote .c-blockquote__content {
      color: darken($t-main-highlight,10);
    }
  }
  .o-grid__row--default {
   .c-blockquote--pull-quote .c-blockquote__content {
      color: darken($t-main-highlight,5);
    }
  }
  // Accordions
  .c-accordion__item {
    border-color: $t-main;
  }

  // A to Z/Pagination
  .c-atoz__nav-link:hover, .c-pagination__page:hover, .c-pagination__page--current {
    color: $white;
    background-color: $t-main-highlight;
    border-color: $t-main-highlight;
  }

  // Pagination
  .c-pagination__page {
    background-color: $t-light-neutral;
    border-color: darken($t-light-neutral,10)
  }
  .c-pagination__page--current {
    background-color: $t-main;
    border-color: darken($t-main,10)
  }
  .c-pagination__page--type-break {
    border-width: 1px;
    border-style: solid;
  }

  // Tabs
  .c-tabs__link {
    color:$t-dark-main;
  }
  .c-tabs__link:hover {
    background-color: $t-main-highlight;
    color: $light;
  }
  .c-tabs--vertical .c-tabs__tab.is-active .c-tabs__link {
    background-color: $t-main;
  }

  .c-tabs--dark {
    .c-tabs__link {
      color:$light;
    }
  }

  // Tags
  .c-tag, .c-tag-list a, .c-tag-list .u-link {
    color: $light;
  }

  // Modals
  .c-modal__close {
    color:$white;
  }

  //Extra rules for colours on specific branches, using CMS section ID numbers
  //Volunteering branch
  &.section-id-192979 {
    .c-panel,
    .c-panel--highlight {
      border-color: $purple;
    }
    .c-signpost__icon {
      color:$purple;
    }
    .c-btn {
      background-color: $purple;
      border-color:$purple;
      color:$light;
    }
  }
  //York Asks branch
  &.section-id-192980 {
    .c-panel,
    .c-panel--highlight {
      border-color: $green;
    }
    .c-signpost__icon {
      color:$green;
    }
    .c-btn {
      background-color: $green;
      border-color:$green;
      color:$t-dark-main;
    }
  }
  //Donate branch
  &.section-id-192978 {
    .c-panel,
    .c-panel--highlight {
      border-color: $orange;
    }
    .c-signpost__icon {
      color:$orange;
    }
    .c-btn {
      background-color: $orange;
      border-color:$orange;
      color:$t-dark-main;
    }
  }

}
