//
// York Virtual Visit theme
//

.t-yvv {
	
	//
	// Variables
	//

	$cyan_bright: #2BDEDD;
	$cyan_light: #AAF2F1;
	$cyan_darkest: #25303b;

	//
	// Replace base link styling
	//

	a {
		color: colour( 'pink' , 700 );

		&:hover {
			color: colour( 'pink' , 600 );
		}
	}
	
	.c-subnav__link, .c-subnav__item a {
		color: colour( 'grey' , 900 );
	}

	//
	// Remove the page title from above the main nav
	//

	.c-page-title__wrapper { display: none; }
	
	//
	// Footer
	//

	.c-footer-main {

		// Purple border
		border-top: 1em solid colour( 'pink' , 700 );

		background: $cyan_darkest;

		// Reset sensible link colours
		a {
			color: colour( 'grey' , 100 );
	
			&:hover {
				color: colour( 'pink' , 600 );
			}
		}
	
	}
	
	//
	// NAVIGATION
	//

	.c-nav {
		background-color: white;
		border-bottom: 1px solid colour( 'pink' , 700 );
		border-top: none;
		
		height:39px;
		@include mq(small, '-') {
			height:36px;
		}

		&.is-open { height: auto; }
	}

	.c-nav__item {
		font-weight: bold;
		border-right: none;
		border-left: 1px solid colour( 'pink' , 700 );

		&:first-child { border-left: none; }

		&.is-current {
			.c-nav__link {
				background-color: colour( 'pink' , 900 );
				color: white;
			}
		}
	}

	.c-nav__link,
	.c-nav__item a {
	
		color: colour( 'grey' , 900 );
		background-color: white;

		&:hover {
			color: white;
			background-color: colour( 'pink' , 600 );
		}
	}

	// More button gets special treatment
	.c-nav__item--more {
		
		border: none;
		
		.c-nav__link {
			background-color: colour( 'pink' , 700 );
			color: white;

			&:hover {
				background-color: colour( 'pink' , 600 );
				color: white;
			}

			box-shadow: none;
		}
	}

	// Open state
	.c-nav.is-open
	{
		background: colour( 'pink' , 700 );

		// Remove separator borders
		.c-nav__item { border: none; }

		.c-nav__link,
		.c-nav__item a {
		
			font-weight: normal;

			color: white;
			background: none;
	
			&:hover {
				color: white;
				background: none;
			}
		}

		// More button
		.c-nav__item--more .c-nav__link {
			box-shadow: none;
			background-color: colour( 'pink' , 800 );
			color: white;

			&:hover {
				background-color: colour( 'pink' , 600 );
				color: white;
			}
		}
	}

	// Focus
	.c-nav__item .nav__link:focus,
	.c-nav__item a:focus
	{
		outline: 2px solid $focus-outline-colour;
		outline-offset: -2px
	}
  
	//
	// Video hero heading
	//
	
	.c-hero__video__content h1 {
		
		font-family: 'museo','Times New Roman',Times,serif;
		font-weight: 900;
		
		& i,
		& em {
			font-family: 'museo-sans','Times New Roman',Times,serif;
			font-style: italic;
			font-weight: 700;
		}
		
		& > span {
			
			/* Slice off the bottom right corner */
			padding: 0.12em 0.75em 0.12em 0.5em; // Extra padding where we'll be slicing a corner off
			clip-path: polygon( 0 0 , 100% 0 , calc( 100% - 0.25em ) 100% , 0 100% );
			
			/* Funky background gradient */
			background: linear-gradient( -66.5deg , $cyan_bright 50% , colour( 'pink' , 700 ) 80% );
			background-attachment: fixed; // Ensures all the spans "share" the same gradient
		}
	}

	//
	// Image link boxes
	//
	
	.c-figure--link {
		
		// Funky strips over the images
		.c-figure__image__wrapper {
			position: relative;
			
			&::after {
				content: '';
				display: block;
				position: absolute;
				z-index: 20;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				
				border-left: 1em solid $cyan_bright;
				border-right: 1em solid $cyan_bright;
				border-bottom: 1em solid $cyan_bright;
				mix-blend-mode: color;
			}
		}

		// Title styling
		.c-figure__content
		{
			display: block;
			width: auto;
			position: relative;
			z-index: 20;
			top: auto;
			left: auto;
			right: auto;
			bottom: auto;
			
			background: white;
			color: colour( 'grey' , 900 );
			transition: all 200ms ease-out;
			
			h3 {
				font-size: 1.2em;
				text-align: center;
			}
			
			// White tag/tab sticking up above the title
			&::before {
				content: '';
				display:block;
				background:white;
				position: absolute;
				top:-1em;
				left:33%;
				right:33%;
				bottom:100%;
				transition: all 200ms ease-out;
			}
		}
		
		// Focus state

		&:focus {
			outline-offset: -3px;
			outline-width: 3px;
		}
		
		// Hover state

		&:hover {
			.c-figure__content {
				background: colour( 'pink' , 700 );
				color: white;
				transition: all 66ms ease-out;
				
				// Colour the tab purple too
				&::before {
					background: colour( 'pink' , 700 );
					transition: all 66ms ease-out;
				}
			}
		}

	}
	
	//
	// Horizontal rules
	//

	hr {
		display: block;
		margin: 30px 0;
		border: none;
		background: $cyan_bright;
		height: 1em;
		width: 5em;
	}
	
	//
	// News/card item headings
	//

	.c-news__title {
		color: colour( 'pink' , 800 );
	}
	
	.c-news--excerpt:hover .c-news__title {
		color: colour( 'pink' , 700 );
	}

	//
	// Modals
	//

	.c-modal--framed {
		border-color: $cyan_bright;
		background-color: $cyan_light;
	}

	//
	// Blockquotes
	//

	.c-blockquote__content {
		background-color: colour( 'pink' , 700 );
		color: white;
	}
	
	.c-blockquote--image-quote .c-blockquote__image + .c-blockquote__content::after {
		border-top-color: colour( 'pink' , 700 );
	}
	
	//
	// Accordion/FAQ
	//

	.c-accordion__item {
		border-color: $cyan_bright;
	}
	
	.c-accordion__title {
		color: colour( 'pink' , 700 );
	}
	
	.c-accordion__icon {
		color: colour( 'pink' , 800 );
	}
	
	//
	// Key facts
	//

	.c-key-fact__content {
		color: colour( 'blue' , 900 );
	}
	
	.c-key-fact__learnMoreLink,
	.c-key-fact__title {
		color: colour( 'blue' , 800 );
	}	

	.c-key-fact__icon {
		color: colour( 'pink' , 700 );
	}

	.c-key-fact:hover {
		.c-key-fact__content {
			color: colour( 'blue' , 800 );
		}
		
		.c-key-fact__learnMoreLink,
		.c-key-fact__title {
			color: colour( 'blue' , 700 );
		}	
	
		.c-key-fact__icon {
			color: colour( 'pink' , 600 );
		}
	}

	//
	// Styled rows - alt1 (cyan)
	//

	.o-grid__row--alt1 {

		&, &::before, &::after {
			background: $cyan_bright;
		}

		color: colour( 'grey' , 900 );
	}
	
	//
	// Styled rows - alt2 (cyan/purple gradient, to follow an alt1)
	//
	
	.o-grid__row--alt2 {

		&, &::before, &::after {
			background: linear-gradient( $cyan_bright , colour( 'pink' , 700 ) );
		}

		color: colour( 'grey' , 900 );
	}

	//
	// Styled rows - alt3 ()
	//

	.o-grid__row--alt3 {

		&, &::before, &::after {
			background: $cyan_light;
		}

	}

	//
	// (...)
	//

}
