//
// York Virtual Visit theme
//

.t-yvv {
	
	//
	// Variables
	//

	$cyan_bright: #2BDEDD;
	$cyan_light: #AAF2F1;
	$cyan_darkest: #25303b;

	//
	// Fonts
	//

	h1,h2,h3,h4,h5 {
		font-family: 'museo','Times New Roman',Times,serif;
		font-weight: 700;
	}

	//
	// Replace base link styling
	//

	a {
		color: colour( 'pink' , 700 );

		&:hover {
			color: colour( 'pink' , 600 );
		}
	}

	// Exceptions...
	
	.c-breadcrumb__items a {
		color:inherit;
	}

	.c-subnav__link, .c-subnav__item a {
		color: colour( 'grey' , 900 );
	}

	//
	// Skip link colours
	//

	.o-skip-link {
		background-color: colour( 'pink' , 700 );
		color: white;
		&:hover {
			background-color: colour( 'pink' , 600 );
			color: white;
		}
	}
	  
	//
	// Remove the page title from above the main nav
	//

	.c-page-title__wrapper { display: none; }
	
	//
	// Footer
	//

	.c-footer-main {

		// Purple border
		border-top: 1em solid colour( 'pink' , 700 );

		background: $cyan_darkest;

		// Reset sensible link colours
		a {
			color: colour( 'grey' , 100 );
	
			&:hover {
				color: $cyan_bright;
			}
		}
	
	}
	
	//
	// NAVIGATION
	//

	.c-nav {
		background-color: white;
		border-bottom: 1px solid colour( 'pink' , 700 );
		border-top: none;
		
		height:39px;
		@include mq(small, '-') {
			height:35px;
		}

		&.is-open { height: auto; }
	}

	.c-nav__item {
		font-weight: bold;
		border-right: none;
		border-left: 1px solid colour( 'pink' , 700 );

		&:first-child { border-left: none; }

		&.is-current {
			.c-nav__link {
				background-color: colour( 'pink' , 900 );
				color: white;
			}
		}
	}

	.c-nav__link,
	.c-nav__item a {
	
		color: colour( 'grey' , 900 );
		background-color: white;

		&:hover {
			color: white;
			background-color: colour( 'pink' , 600 );
		}
	}

	// More button gets special treatment
	.c-nav__item--more {
		
		border: none;
		
		.c-nav__link {
			background-color: colour( 'pink' , 700 );
			color: white;

			&:hover {
				background-color: colour( 'pink' , 600 );
				color: white;
			}

			box-shadow: none;
		}
	}

	// Open state
	.c-nav.is-open
	{
		background: colour( 'pink' , 700 );

		// Remove separator borders
		.c-nav__item { border: none; }

		.c-nav__link,
		.c-nav__item a {

			transition: none;
		
			font-weight: normal;

			color: white;
			background: none;
	
			&:hover {
				color: white;
				background: none;
			}
		}

		// More button
		.c-nav__item--more .c-nav__link {
			box-shadow: none;
			background-color: colour( 'pink' , 800 );
			color: white;

			&:hover {
				background-color: colour( 'pink' , 600 );
				color: white;
			}
		}
	}

	// Focus
	.c-nav__item .nav__link:focus,
	.c-nav__item a:focus
	{
		outline-width: 3px;
		outline-offset: -3px;
	}
  
	//
	// Video hero heading
	//
	
	.c-hero__video__content h1 {
		
		font-family: 'museo','Times New Roman',Times,serif;
		font-weight: 900;
		
		& i,
		& em {
			font-family: 'museo-sans','Times New Roman',Times,serif;
			font-style: italic;
			font-weight: 700;
		}
		
		& > span {
			
			/* Slice off the bottom right corner */
			padding: 0.12em 0.75em 0.12em 0.5em; // Extra padding where we'll be slicing a corner off
			clip-path: polygon( 0 0 , 100% 0 , calc( 100% - 0.25em ) 100% , 0 100% );
			
			/* Funky background gradient */
			background: linear-gradient( -66.5deg , $cyan_bright 50% , colour( 'pink' , 700 ) 80% );
			background-attachment: fixed; // Ensures all the spans "share" the same gradient
		}
	}

	//
	// Image link boxes
	//
	
	.c-figure--link {

		// Layout 

		display: flex;
		flex-flow: column nowrap;
		
		.c-figure__content {
			flex-grow: 1;
			
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
		}
		
		// Funky strips over the images
		.c-figure__image__wrapper {
			position: relative;
			
			&::after {
				content: '';
				display: block;
				position: absolute;
				z-index: 20;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				
				border-left: 1em solid $cyan_bright;
				border-right: 1em solid $cyan_bright;
				border-bottom: 1em solid $cyan_bright;
				mix-blend-mode: color;
			}
		}

		// Title styling
		.c-figure__content
		{
			width: auto;
			position: relative;
			z-index: 20;
			top: auto;
			left: auto;
			right: auto;
			bottom: auto;
			
			background: white;
			color: colour( 'grey' , 900 );
			transition: all 200ms ease-out;
			
			h3 {
				font-size: 1.2em;
				text-align: center;
			}
			
			// White tag/tab sticking up above the title
			&::before {
				content: '';
				display:block;
				background:white;
				position: absolute;
				top:-1em;
				left:33%;
				right:33%;
				bottom:100%;
				transition: all 200ms ease-out;
			}
		}
		
		// Focus state

		&:focus {
			outline-offset: 0;
			outline-width: 5px;
		}
		
		// Hover state

		&:hover {
			.c-figure__content {
				background: colour( 'pink' , 700 );
				color: white;
				transition: all 66ms ease-out;
				
				// Colour the tab purple too
				&::before {
					background: colour( 'pink' , 700 );
					transition: all 66ms ease-out;
				}
			}
		}

	}
	
	//
	// Horizontal rules
	//

	hr {
		display: block;
		margin: 30px 0;
		border: none;
		background: $cyan_bright;
		height: 1em;
		width: 5em;
	}
	
	//
	// Hero branding
	//

	.c-hero .c-hero-background::after {
		content: '';
		display: block;
		pointer-events: none;
		
		position: absolute;
		z-index: 10;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		
		width: 1200px;
		max-width: 100vw;
		
		background: url( 'https://www.york.ac.uk/static/stable/img/york-virtual-visit-logo.png' ) 20px 20px / 300px no-repeat;

		@include mq( medium , '-' ) {
			background-size: 240px;
		}
	}

	// Keep the branding under the gradient/heading
	.c-hero .c-hero__caption {
		z-index: 20;
	}
	
	//
	// News/card items
	//

	// Colours

	.c-news__title {
		color: colour( 'pink' , 800 );
	}
	
	a.c-news--excerpt:hover .c-news__title {
		color: colour( 'pink' , 700 );
	}
	
	a.c-news--listing {
		color: colour( 'grey' , 900 );
		
		&:hover {
			color: colour( 'pink' , 700 );

			.c-news__date,
			.c-news__title {
				color: colour( 'pink' , 700 );
			}
		}
	}

	// Image treatment

	/* Abandoned due to glitchy Chrome support
	@supports ( mix-blend-mode: color ) {
		.c-news__thumbnail.o-media__picture {

			position: relative;

			&::after {
				// Overlay the whole container, not just the image.
				// This should only be used with a plain white background.
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;

				background: #2BDEDD;
				mix-blend-mode: color;
			}
		}
	}
	*/

	//
	// Beige backgrounds: panels, modals...
	//

	.c-panel,
	.c-modal--framed {
		border-color: $cyan_bright;
		background-color: $cyan_light;
	}

	.c-panel--highlight {
		color: colour( 'grey' , 900 );
	}

	// Used in image galleries
	.c-modal__caption {
		background: colour( 'pink' , 700 );
	}

	//
	// Blockquotes
	//

	.c-blockquote__content {
		font-family: 'museo-sans',Helvetica,Arial,sans-serif;
		font-weight: 500;
		background-color: colour( 'pink' , 700 );
		color: white;
	}

	.c-blockquote--image-quote .c-blockquote__image + .c-blockquote__content::after {
		border-top-color: colour( 'pink' , 700 );
		@include mq( tiny , '~' ) {
			border-color: colour( 'pink' , 700 ) transparent;
		}
	}

	//
	// Accordion/FAQ
	//

	.c-accordion__item {
		border-color: $cyan_bright;
	}
	
	.c-accordion__title {
		color: colour( 'pink' , 700 );
	}
	
	.c-accordion__icon {
		color: colour( 'pink' , 800 );
	}
	
	//
	// Key facts
	//

	.c-key-fact__content {
		color: colour( 'blue' , 900 );
	}
	
	.c-key-fact__learnMoreLink,
	.c-key-fact__title {
		color: colour( 'blue' , 800 );
	}	

	.c-key-fact__icon {
		color: colour( 'pink' , 700 );
	}
	
	a.c-key-fact:hover {
		.c-key-fact__content {
			color: colour( 'blue' , 800 );
		}
		
		.c-key-fact__learnMoreLink,
		.c-key-fact__title {
			color: colour( 'blue' , 700 );
		}	

		.c-key-fact__icon {
			color: colour( 'pink' , 700 );
		}
	}

	//
	// Video embeds
	//

	.c-figure > .c-video {
		border: 40px solid $cyan_light;
	}

	.o-grid__row--alt3 .c-figure > .c-video {
		border: 40px solid $cyan_bright;
	}	

	//
	// Styled rows - alt1 (cyan)
	//

	.o-grid__row--alt1 {

		&, &::before, &::after {
			background: $cyan_bright;
		}

		color: #1A1A1A;
		
		a { color: colour( 'pink' , 900 ); }
		a:hover { color: colour( 'pink' , 800 ); }

		.c-btn,
		.c-btn:hover { color: white; }
	}
	
	//
	// Styled rows - alt2 (cyan/purple gradient, to follow an alt1)
	//
	
	.o-grid__row--alt2 {
		
		&, &::before, &::after {
			background: linear-gradient( $cyan_bright , colour( 'pink' , 700 ) );
		}
		
		color: #1A1A1A;
		
		a { color: colour( 'pink' , 900 ); }
		a:hover { color: colour( 'pink' , 800 ); }

		.c-btn,
		.c-btn:hover { color: white; }
	}
	
	//
	// Styled rows - alt3 (lighter cyan)
	//

	.o-grid__row--alt3 {

		&, &::before, &::after {
			background: $cyan_light;
		}
		
		color: #1A1A1A;

		a { color: colour( 'pink' , 900 ); }
		a:hover { color: colour( 'pink' , 800 ); }

		.c-btn,
		.c-btn:hover { color: white; }

	}

	//
	// (...)
	//

}
