
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Systems Safety Engineering (PGCert) - Postgraduate taught, University of York</title>
        <meta name="description" content="University of York Design Patterns">
        <meta name="author" content="University of York">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <meta property="og:title" content="">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        <meta property="og:site_name" content="">
        <meta property="og:description" content="">
    
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="canonical" href="">
    
        <link rel="stylesheet" href="https://use.typekit.net/dvj8rpp.css">
    
        <title>Systems Safety Engineering (PGCert) - Postgraduate taught, University of York</title>
        <!-- Description meta -->
    
        <!-- Keywords meta -->
    
        <!-- Head end + header -->
        <link rel="shortcut icon" href="/img/favicon.ico">
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    
        <link rel="stylesheet" href="/css/styles.css" media="screen">
        <link rel="stylesheet" href="/css/docs.css" media="screen">
    
        <script async src="/js/vendor/modernizr/modernizr.js"></script>
        <script async src="/js/vendor/requirejs/require.js" data-main="/js/app"></script>
    
        <!-- stable -->
    
    </head>

<body>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WXLX54" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-WXLX54');</script>


<a href="#Main-Content" class="o-skip-link">Skip to content</a>

<header class="c-main-header" role="banner">
  <div class="o-wrapper o-grid">
    <div class="o-grid__row">
      <div class="o-grid__box o-grid__box--threequarters o-grid__box--threequarters@medium o-grid__box--threequarters@small o-grid__box--threequarters@tiny">
        <h2 class="c-main-header__title"><a href="http://www.york.ac.uk/"><img class="c-main-header__logo" src="https://www.york.ac.uk/static/stable/img/logo.svg" alt="University of York" width="250" height="40"></a></h2>
      </div>
      <div class="o-grid__box o-grid__box--quarter o-grid__box--quarter@medium o-grid__box--quarter@small o-grid__box--quarter@tiny">
        <form action="https://www.york.ac.uk/search" method="get" class="c-form c-form--joined c-form--header is-hidden@medium-" autocomplete="off">
          <fieldset>
            <div class="c-form__element">
              <input class="c-form__input c-form__input--text" type="text" id="q" aria-label="Search" name="q" placeholder="Search york.ac.uk" />
              <input type="hidden" name="site" value="yorkweb">
              <a class="c-btn c-btn--medium js-submit-form" href="https://www.york.ac.uk/search" role="button" aria-label="Search"><i class="c-icon c-icon--search" aria-hidden="true"></i></a>
            </div>
          </fieldset>
        </form>
        <!-- Mobile search -->
        <a href="#Mobile-Search" class="c-mobile-search-button js-toggle-button is-hidden@large+" aria-label="Search"><i class="c-icon c-icon--search" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</header>

<!-- Mobile search -->
<form action="https://www.york.ac.uk/search" method="get" class="c-form c-form--joined c-form--mobile-search" id="Mobile-Search">
  <fieldset class="c-form__fieldset">
    <legend class="c-form__legend">Search york.ac.uk</legend>
    <div class="o-grid">
      <div class="o-grid__row">
        <div class="o-grid__box o-grid__box--full">
          <div class="c-form__element">
            <input class="c-form__input c-form__input--text" type="text" id="q-mobile" name="q" aria-label="Search" />
            <input type="hidden" name="site" value="yorkweb">
            <a class="c-btn c-btn--medium js-submit-form" href="https://www.york.ac.uk/search" role="button">Search</a>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
    
<!-- Page title -->
<div class="o-wrapper o-wrapper--wide c-page-title__wrapper o-grid">
  <div class="o-grid__row">
    <div class="o-grid__box o-grid__box--full">
      <div class="c-page-title">
        <h1 class="c-page-title__header"><a class="c-page-title__link" href="/study/postgraduate-taught/">Postgraduate taught</a></h1>
      </div>
    </div>
  </div>
</div>

<!-- Main nav -->
<nav class="c-nav c-nav--main" role="navigation" id="Main-Navigation">
  <h4 class="c-nav__header"><a href="/study/postgraduate-taught/courses/">Courses</a></h4>
  <ul class="c-nav__list c-nav__list--associative">
	<li class="c-nav__item"><a href="/study/postgraduate-taught/courses/teaching-learning/">Teaching and learning</a></li><li class="c-nav__item"><a href="/study/postgraduate-taught/courses/about/">Types of course</a></li><li class="c-nav__item"><a href="/distance-learning/courses/">Distance learning</a></li><li class="c-nav__item"><a href="https://online.york.ac.uk/">York Online Masters courses</a></li><li class="c-nav__item"><a href="/study/international/applying/foundation-pathways/">International foundation programme</a></li><li class="c-nav__item"><a href="/study/postgraduate-taught/courses/pre-sessionals/">Pre-sessional language courses</a></li>
  </ul>
  <h4 class="c-nav__header">Other sections</h4>
  <ul class="c-nav__list c-nav__list--structural">
    <li class="c-nav__item"><span class="currentbranch0"><a href="/study/postgraduate-taught/courses/">Courses</a></span></li><li class="c-nav__item"><a href="/study/postgraduate-taught/why-york/">Why York</a></li><li class="c-nav__item"><a href="/study/postgraduate-taught/fees/">Fees and expenses</a></li><li class="c-nav__item"><a href="/study/postgraduate-taught/funding/">Funding</a></li><li class="c-nav__item"><a href="/study/postgraduate-taught/apply/">Applying</a></li><li class="c-nav__item"><a href="/study/postgraduate/open-days/">Meet us</a></li><li class="c-nav__item"><a href="/study/international/">International students</a></li><li class="c-nav__item"><a href="/study/accommodation/postgraduate/">Accommodation</a></li><li class="c-nav__item"><a href="/study/postgraduate/prospectus/">Prospectus</a></li><li class="c-nav__item c-nav__item--more"><a class="c-nav__link js-toggle-button" href="#Main-Navigation">More&hellip;</a></li>
  </ul>

</nav>

<!-- Breadcrumb -->
<div class="c-breadcrumb"><div class="c-breadcrumb__items"><a href="/"><i class="c-icon c-icon--home" title="Home"></i><span class="c-icon__sr-text">Home</span></a><span class="c-breadcrumb__separator">&gt;</span><a href="/study/">Study at York</a><span class="c-breadcrumb__separator">&gt;</span><a href="/study/postgraduate-taught/">Postgraduate taught</a><span class="c-breadcrumb__separator">&gt;</span><a href="/study/postgraduate-taught/courses/">Courses</a><span class="c-breadcrumb__separator">&gt;</span><a href="/study/postgraduate-taught/courses/pgcert-system-safety-engineering/">Systems Safety Engineering (PGCert)</a></div></div>

<div class="o-wrapper o-wrapper--main o-grid js-wrapper--main" id="Main-Content">
<!-- Department of Computer Science : -1 --></div>
<div class="o-wrapper o-wrapper--wide o-grid">
  <div class="o-grid__row">
    <div class="o-grid__box o-grid__box--full">
      <figure class="c-figure c-figure--banner c-figure--full-width c-figure--no-margin" style="min-height:300px">
        <img class="c-figure__image" alt="" src="https://www.york.ac.uk/media/study/courses/postgraduate/computerscience/SCSE-pg-cert-banner.jpg" />
        <div class="c-figure__content c-figure__content--left c-figure__content--half">
          <h1>PGCert System Safety Engineering</h1>
          <p>Understand the core aspects of how complex products and services undertake tasks that pose a risk to human lives, and become a practioner in keeping people safe.</p>
          <p><strong>2018/19 entry</strong></p>        </div>
      </figure>
      <div class="c-nav__wrapper">
        <nav class="c-nav c-nav--sticky js-sticky-nav js-targeted-nav">
          <ul class="c-nav__list">
            <li class="c-nav__item"><a class="c-nav__link" href="#overview">Overview</a></li><!--
         --><li class="c-nav__item"><a class="c-nav__link" href="#course-content">Course content</a></li><!--
         --><li class="c-nav__item"><a class="c-nav__link" href="#fees">Fees and funding</a></li><!--
         --><li class="c-nav__item"><a class="c-nav__link" href="#teaching_assessment">Teaching and assessment</a></li><!--
         --><li class="c-nav__item"><a class="c-nav__link" href="#careers">Careers</a></li><!--
         --><li class="c-nav__item"><a class="c-nav__link" href="#entry">Entry requirements</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="o-wrapper o-grid ">
  <div class="o-grid__row o-grid__row--default">
    <div class="o-grid__box o-grid__box--twothirds" id="overview">
      <div class="o-grid">
        <div class="o-grid__row o-grid__row--default">
          <div class="o-grid__box o-grid__box--third o-grid__box--third@small o-grid__box--half@tiny">
            <h4 class="no-margin">Length</h4><p>1 year full-time,<br/>2 years part-time</p>
          </div>
          <div class="o-grid__box o-grid__box--third  o-grid__box--third@small o-grid__box--half@tiny">
            <h4 class="no-margin">Department</h4><p><a href="https://www.cs.york.ac.uk/">Department of Computer Science</a></p>
          </div>
          <div class="o-grid__box o-grid__box--third o-grid__box--third@small o-grid__box--full@tiny" >
              <h4 class="no-margin">Start date</h4><p>September 2018 (<a href="https://www.york.ac.uk/about/term-dates/">term dates</a>)</p>
          </div>
        </div>
        <div class="o-grid__row o-grid__row--default">
          <div class="o-grid__box o-grid__box--third o-grid__box--third@small o-grid__box--full@tiny">
            <p><a href="https://www.york.ac.uk/study/postgraduate/courses/apply?course=DPCSYSSSAF1&level=postgraduate" class="c-btn c-btn--medium">Apply for this course</a></p>
          </div>
        </div>
      </div>
  </div>
  <div class="o-grid__box o-grid__box--third">
    <div class="c-panel c-panel--highlight">
              <div class="c-panel__content">
                <h3>Virtual Open Days</h3>
<p><strong></strong></p>
                <p>Chat with staff and students to find out more about postgraduate study at York.</p>
                <a class="c-btn c-btn--medium" href="https://www.york.ac.uk/study/postgraduate/open-days/virtual-open-day/">Register now</a>
              </div>
            </div>
  </div>
</div>
<div class="o-grid__row">
  <div class="o-grid__box o-grid__box--half o-grid__box--half@medium">
    <div class="lead"><p>This course will provide you with the educational background required to become a leader in the field of safety critical systems engineering, whether you are currently a practising - or aspiring - professional in this area.</p></div>
    <p>Products and services are taking on more authority over activities that have the capability to pose a risk to human lives. System safety professionals address a web of interlinked contributing factors to assess the safety of these products or services.</p>
<p><span>This course will provide you with the opportunity to become a practitioner, or enhance your existing practice, in the core aspects of safety-critical systems engineering and to reflect on the implications of your work both for your current role and for society as a whole. Three strands of work will develop your skills: system safety thinking, skills as a safety engineer and professionalism. </span></p>
<p><span>The course will enable you to become better equipped to make a contribution to your organisation. We will provide you with an initial grounding and practical experience in the use of techniques for the development and assurance of the safety characteristics of systems or services that have safety implications. You will explore the principles behind these techniques so that you can make sound safety engineering judgments. You'll also have the opportunity to investigate the latest research.&nbsp;</span></p>
<p>The course employs the extensive research and industrial experience of the developers of the work packages you will address. It brings together safety professionals from many different domains&nbsp;(aerospace, military, automotive, railway, nuclear) to ensure your learning is as varied and as comprehensive as possible.</p>
<p>This course is also available as an <a href="/study/postgraduate-taught/courses/msc-safety-critical-systems-engineering/">MSc in Safety Critical Systems Engineering</a> or a&nbsp;<a href="/study/postgraduate-taught/courses/pgdip-safety-critical-systems-engineering/">PGDip in Safety Critical Systems Engineering</a>.</p>
    <h3>Accreditation</h3><p><span>The courses may be used as part of a Continuing Professional Development programme for&nbsp;</span><a href="http://www.theiet.org.uk/">The Institution of Engineering and Technology (IET)</a><span>&nbsp;or&nbsp;</span><a href="http://www.bcs.org.uk/">The Chartered Institute for IT (BCS)</a><span>&nbsp;members.</span></p>
  </div>
  <div class="o-grid__box o-grid__box--half  o-grid__box--half@medium">
    <div class="c-figure">
      <img class="c-figure__image" src="https://www.york.ac.uk/media/study/courses/postgraduate/computerscience/SCSE-overview.jpg" alt="" width="600" height="400" />
    </div>
  </div>
</div>
<div class="o-grid__row">
</div>
<div class="o-grid__row">
  <div class="o-grid__box o-grid__box--full" id="course-content">
    <h2>Course content</h2>
  </div>
</div>
<div class="o-grid__row">
  <div class="o-grid__box o-grid__box--third o-grid__box--full@medium">
    <p>The course can be taken on a full or part time basis, meaning it is flexible and can easily fit in around work commitments.</p>
<p>Each 10 credit module will require you to attend University for five days. You will undertake intensive teaching sessions based on lectures, case-studies and exercises.&nbsp;&nbsp;</p>
<p>There are 60 credits of taught modules in total throughout the course (both full and part time options).&nbsp;</p>
  </div>
  <div class="o-grid__box o-grid__box--twothirds o-grid__box--full@medium" id="">
    <div class="c-tabs c-tabs--horizontal js-tabs">
      <ul class="c-tabs__nav">
        <li class="c-tabs__tab is-active"><a class="c-tabs__link" href="#content_modules">Modules</a></li>
      </ul>
      <div class="c-tabs__container">
        <div class="c-tabs__content is-active" id="content_modules">
          <h3>Modules</h3>
          <p>You will undertake six assessed modules as part of this course, five of these are core modules (compulsory) and one is optional.&nbsp;</p>
<p>Core modules:</p>
<ul>
<li><a href="https://www.york.ac.uk/students/studying/manage/programmes/module-catalogue/module/COM00006M/" target="_blank">Foundations of System Safety Engineering (FSSE)</a></li>
<li><a href="https://www.york.ac.uk/students/studying/manage/programmes/module-catalogue/module/COM00025M/" target="_blank">Hazard and Risk Assessment (HRAS)</a></li>
<li><a href="https://www.york.ac.uk/students/studying/manage/programmes/module-catalogue/module/COM00052M/" target="_blank">System Safety Assessment (SSAS)</a></li>
<li><a href="https://www.york.ac.uk/students/studying/manage/programmes/module-catalogue/module/COM00050M/" target="_blank">Safety Management Systems (SMSY)</a></li>
<li><a href="https://www.york.ac.uk/students/studying/manage/programmes/module-catalogue/module/COM00047M/" target="_blank">Safety Case Development &amp; Review (SCDR)</a></li>
</ul>
<p>Optional modules:</p>
<ul>
<li><a href="https://www.york.ac.uk/students/studying/manage/programmes/module-catalogue/module/COM00001M/" target="_blank">Systems Engineering for Safety (SEFS)</a></li>
<li><a href="https://www.york.ac.uk/students/studying/manage/programmes/module-catalogue/module/COM00056M/" target="_blank">Software Requirements and Architectures (SWRE)</a></li>
<li><a href="https://www.york.ac.uk/students/studying/manage/programmes/module-catalogue/module/COM00023M/" target="_blank">Human Factors for Safety (HUFS)</a></li>
<li><a href="https://www.york.ac.uk/students/studying/manage/programmes/module-catalogue/module/COM00017M/" target="_blank">Computers &amp; Safety (CASA)</a></li>
<li><a href="https://www.york.ac.uk/students/studying/manage/programmes/module-catalogue/module/COM00059M/" target="_blank">Through Life Safety (TLSA)</a></li>
<li><a href="https://www.york.ac.uk/students/studying/manage/programmes/module-catalogue/module/COM00114M/" target="_blank">Security for Safety Critical Systems (SESA)</a></li>
</ul>
<p><a href="https://www.cs.york.ac.uk/professional/safety/#tab-6">Dates the modules are running and further information</a>.</p>
          <p><small>Please note, modules may change to reflect the latest academic thinking and expertise of our staff.</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="o-grid__row o-grid__row--alt3">
  <div class="o-grid__box o-grid__box--full">
    <div class="c-show-more js-show-more" data-default-height="200">
      <div class="c-show-more__content">
        <h3>The York approach</h3>
<p><span>Every course at York is built on a distinctive set of learning outcomes.&nbsp;These will give you a clear understanding of what you will be able to accomplish at the end of the course and help you explain what you can offer employers. Our academics identify the knowledge, skills, and experiences&nbsp;you'll need upon graduation&nbsp;and then design the course to get you there. Find out more about our approach to&nbsp;</span><a href="/study/postgraduate-taught/courses/teaching-learning/">teaching and learning</a><span>.</span></p>
<h4>Students who complete this course will be able to:</h4>
        <div class="u-two-columns">
        <ul>
<li>Employ system safety thinking throughout the lifecycle of a system or service using a broad, systematic imaginative anticipation of safety risks, causes and consequences.</li>
<li>Contribute to the development and assessment of safe systems and services by ensuring that proper consideration is given to core safety issues as part of the systems engineering process.</li>
<li>Assess and assure the safety of systems and services by employing core assurance and analysis techniques respecting techniques&rsquo; strengths and limitations.</li>
<li>Effectively communicate with technical and non-technical stakeholders about system safety problems and their solutions in a clear and organised manner.</li>
<li>Operate as a safety-critical systems safety professional, by developing awareness of key legal and ethical issues relating to system safety, appreciating how safety critical systems can affect society, and by continuing to expand and deepen knowledge through critical engagement with the discipline.&nbsp;</li>
</ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="o-grid__row o-grid__row--default">
</div>
<div class="o-grid__row" id="fees">
  <div class="o-grid__box o-grid__box--full ">
    <h2>Fees and funding</h2>
  </div>
</div>
<div class="o-grid__row">
  <div class="o-grid__box o-grid__box--twothirds">
<script>console.log('stem%20Safety%20Engineering%20AND%20Award%20%3D%20PGCert&key=AIzaSyCp4UsdRMQRZYjgAcJghUXhAVlR0hXwBeY');</script>
    <h3>Annual tuition fees for 2018/19</h3>
    <table>
      <tbody>
        <tr><th>Study mode</th><th>UK/EU</th><th>International</th></tr>
        <tr><td>Part-time (1 year and 9 months)<br /><small>Fees for subsequent years are subject to confirmation.</small></td><td>£5,245 <br /><small>year 1 fee</small></td><td>£5,245 <br /><small>year 1 fee</small></td></tr>
        <tr><td>Full-time (9 months)</td><td>£10,490</td><td>£10,490</td></tr>
      </tbody>
    </table>
<!--true--><h3>Additional costs</h3>
<p>Text books and resources will be available to you through the University of York library and all course materials are provided. Lunch is provided Monday to Thursday of teaching weeks and refreshments throughout the teaching week as well. You will need to arrange and pay for your own accommodation and travel to York for the teaching weeks and costs associated with this will vary depending on your location and the standard of accommodation you book.</p>
<h3>Fees information</h3>
<p><a href="/study/postgraduate-taught/fees/status/">UK/EU or international fees?</a> The level of fee that you will be asked to pay depends on whether you're classed as a UK/EU or international student.</p>
<h3>Funding information</h3>
<p>Discover your funding options to help with tuition fees and living costs.</p>
<p class="text-highlight">If you've successfully completed an undergraduate degree at York you could be eligible for a&nbsp;<a href="/study/postgraduate-taught/funding/alumni-discount/">10% Masters fee discount</a>.</p>
<h4>Home/EU students</h4>
<ul>
<li><a href="/study/postgraduate-taught/funding/uk-eu/loans/">UK Government Masters loans</a></li>
<li><a href="/study/postgraduate-taught/funding/uk-eu/">University scholarships</a></li>
</ul>
<h4>International students</h4>
<ul>
<li><a href="/study/postgraduate-taught/funding/international/academic-excellence/">Academic Excellence scholarships</a>: up to &pound;5,000 for the first year of study</li>
<li><a href="/study/postgraduate-taught/funding/international/vice-chancellors/">Vice-Chancellor's scholarships</a> for high-achieving students: &pound;5,000 for each year of study</li>
<li><a href="https://www.york.ac.uk/study/postgraduate-taught/funding/international#department">Department scholarships</a> for international students</li>
<li><a href="/study/international/fees-funding/us-loans-pg/">US loans</a></li>
</ul>
  </div>
  <div class="o-grid__box o-grid__box--third">
<h3 dir="ltr">Living costs</h3>
<p dir="ltr">You can use our&nbsp;<a href="/study/postgraduate-taught/fees/living-costs/">living costs guide</a>&nbsp;to help plan your budget. It covers accommodation costs and estimated social costs.</p>
  </div>
</div>
<div class="o-grid__row o-grid__row--alt3" id="careers">
  <div class="o-grid__box o-grid__box--full">
    <h2>Careers and skills</h2>
    <p>The vast majority of people who undertake this course are already working in industrial fields such as aeronautical engineering, marine engineering, naval and military fields, automotive applications, gas and electric services engineers. Undertaking this course will equip you to progress within these fields.</p>
  </div>
</div>
<div class="o-grid__row o-grid__row--alt3">
  <div class="o-grid__box o-grid__box--half">
    <h3>Career opportunities</h3>
    <ul>
<li>Aeronautical engineer</li>
<li>Safety manager</li>
<li>Naval engineer</li>
<li>Automotive engineer</li>
<li>Gas or electrical services engineer</li>
</ul>
  </div>
  <div class="o-grid__box o-grid__box--half">
    <h3>Transferable skills</h3>
    <ul>
<li>Information-retrieval</li>
<li>Numeracy</li>
<li>Time management</li>
</ul>
  </div>
</div>
<div class="o-grid__row o-grid__row--alt3">
</div>
<div class="o-grid__row o-grid__row--default" id="teaching_assessment">
  <div class="o-grid__box o-grid__box--full">
    <h2>Teaching and assessment</h2>
  </div>
</div>
<div class="o-grid__row o-grid__row--default">
  <div class="o-grid__box o-grid__box--half o-grid__box--half@medium o-grid__box--full@small">
<p><span>You&rsquo;ll work with world‐leading academics who&rsquo;ll challenge you to think independently and excel in all that you do. Our approach to teaching will provide you with the knowledge, opportunities, and support you need to grow and succeed in a global workplace. Find out more about our approach to&nbsp;</span><a href="/study/postgraduate-taught/courses/teaching-learning/">teaching and learning</a><span>.</span></p>    <h3>Teaching format</h3>
<p>The course is taught through a variety of lectures, seminars and case study exercises undertaken in small groups of around six.</p>    <h3>Teaching location</h3>
<p>The Department of Computer Science is based on Campus East. Teaching takes place in the specialist CPD suite in the Ron Cooke Hub, also on Campus East. This includes a large seminar room and break out rooms, seating area and refreshment facilities.</p><h3>About our campus</h3>
<p><span>Our beautiful green campus offers a student-friendly setting in which to live and study, within easy reach of the action in the city centre.&nbsp;It's&nbsp;</span><a href="/study/student-life/travel/">easy to get around campus</a><span>&nbsp;- everything is within walking or pedalling distance, or you can always use the fast and frequent bus service.</span></p>    <h3>Assessment and feedback</h3>
<p>Each module has an open assessment associated. This means that you undertake the assessment in your own time away from the University. This open assessment, and any associated work packages, is designed to consolidate and further deepen your knowledge, skills and approaches to the subject matter covered in the module. Of course, it is also designed to assess your progress.</p>  </div>
  <div class="o-grid__box o-grid__box--half  o-grid__box--half@medium o-grid__box--full@small">
    <div class="c-figure">
<img src="https://www.york.ac.uk/media/study/courses/postgraduate/computerscience/SCSE-teaching.jpg" alt=""  title="" width="600" height="400"  />    </div>
    <div class="c-figure">
<img src="https://www.york.ac.uk/media/study/courses/postgraduate/computerscience/SCSE-assessments.jpg" alt=""  title="" width="600" height="400"  />    </div>
  </div>
</div>
<div class="o-grid__row o-grid__row--default">
</div>
<div class="o-grid__row" id="entry">
  <div class="o-grid__box o-grid__box--full">
    <h2>Entry requirements</h2>
    <table>
      <thead>
        <tr>
          <th>Qualification</th>
          <th>Grade</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <th>Degree</th>
        <td><p><span>Typically you will have achieved a first degree in a numerate, technical discipline. This course is specifically directed at those with several years of industrial experience. If you do not have a first degree but instead have relevant industrial experience, your application will be considered on a case by case basis.&nbsp;</span></p></td>
      </tr>
      <tr>
        <th>Other qualifications</th>
        <td><ul>
<li><a href="https://www.york.ac.uk/study/international/your-country/">Entry requirements for your country</a></li>
</ul></td>
      </tr>
      </tbody>
    </table>
    <h3>English language</h3>
    <p>If English isn't your first language you may need to provide evidence of your English language ability. For further details of the requirements please see our <a href="https://www.york.ac.uk/study/postgraduate/apply/international/english/">Postgraduate courses information</a>.<a href="https://www.york.ac.uk/study/postgraduate/apply/international/english/"><br /></a></p>
<h3>Applying</h3>
<p>You can apply and send all your documentation electronically through our online system. You don&rsquo;t need to complete your application all at once: you can start it, save it and finish it later.</p>
<ul>
<li><a href="/study/postgraduate-taught/apply/">How to apply</a></li>
</ul>

<p><a class="c-btn c-btn--medium" href="https://www.york.ac.uk/study/postgraduate/courses/apply?course=DPCSYSSSAF1&level=postgraduate">Apply for this course</a></p>
  </div>
</div>
<div class="o-grid__row">
</div>
<div class="o-grid__row o-grid__row--alt1" id="next-steps">
  <div class="o-grid__box o-grid__box--full">
    <h2>Next steps</h2>
  </div>
</div>
<div class="o-grid__row o-grid__row--alt1">
  <div class="o-grid__box o-grid__box--half">
    <h3>Contact us</h3>
    <p>Get in touch if you have any questions</p>
  <div class="o-media o-media--top" style="margin:0 0 20px;">
    <div class="o-media__picture">
      <figure class="c-figure">
        <img class="c-figure__image c-figure__image--rounded" src="https://www.york.ac.uk/media/global/2013/images/course/default_profile_image.png" alt="Heather Taylor (Course administrator)">
      </figure>
    </div>
    <div class="o-media__body">
      <ul class="c-icon--ul">
      <li><i class="c-icon c-icon--li c-icon--user"></i><strong>Heather Taylor (Course administrator)</strong></li>
        <li><i class="c-icon c-icon--li c-icon--envelope"></i><a href="mailto:cs-safetyprogrammes@york.ac.uk">cs-safetyprogrammes@york.ac.uk</a></li>
        <li><i class="c-icon c-icon--li c-icon--phone"></i><a href="tel:+44 (0)1904 325536">+44 (0)1904 325536</a></li>
      </ul>
    </div>
  </div>
  <div class="o-media o-media--top" style="margin:0 0 20px;">
    <div class="o-media__picture">
      <figure class="c-figure">
        <img class="c-figure__image c-figure__image--rounded" src="https://www.york.ac.uk/media/global/2013/images/course/default_profile_image.png" alt="Dr Mark Nicholson (Course Leader)">
      </figure>
    </div>
    <div class="o-media__body">
      <ul class="c-icon--ul">
      <li><i class="c-icon c-icon--li c-icon--user"></i><strong>Dr Mark Nicholson (Course Leader)</strong></li>
        <li><i class="c-icon c-icon--li c-icon--envelope"></i><a href="mailto:mark.nicholson@york.ac.uk">mark.nicholson@york.ac.uk</a></li>
        <li><i class="c-icon c-icon--li c-icon--phone"></i><a href="tel:+44 (0)1904 325568 ">+44 (0)1904 325568 </a></li>
      </ul>
    </div>
  </div>
      <!-- Start of course/next -->
      <h3>Learn more</h3>
      <p><a href="https://www.cs.york.ac.uk/">Department of Computer Science</a></p>
    </div>
    <div class="o-grid__box o-grid__box--half">
      <h3>Related courses</h3>
      <ul>
<li><a href="http://www.cs.york.ac.uk/postgraduate/taught-courses/diploma-scse/">PG Dip in Safety Critical System Engineering</a></li>
<li><a href="/study/postgraduate-taught/courses/msc-safety-critical-systems-engineering/">MSc in Safety Critical System Engineering</a></li>
<li><a href="http://www.cs.york.ac.uk/postgraduate/taught-courses/msc-sse-auto/">MSc in System Safety Engineering with Automotive Applications</a></li>
</ul>
    </div>
  </div>
<div class="o-grid__row">
  <div class="o-grid__box o-grid__box--twothirds">
    <h2>Discover York</h2>
  </div>
</div><div class="o-grid__row" style="margin-bottom:20px;">
  <div class="o-grid__box o-grid__box--third">
  <a class="c-figure c-figure--link" href="/study/accommodation/postgraduate/">
      <img class="c-figure__image" alt="" src="https://www.york.ac.uk/media/study/courses/University_of_York-2-600x400px.jpg" width="600" height="400">
      <div class="c-figure__content c-figure__content--blue">
        <h3>Accommodation</h3>
      </div>
    </a>
    <p>We offer a range of campus accommodation to suit you and your budget, from economy to deluxe.</p>
  </div>
  <div class="o-grid__box o-grid__box--third">
  <a class="c-figure c-figure--link" href="/study/student-life/">
      <img class="c-figure__image" alt="" src="https://www.york.ac.uk/media/study/courses/IMG_1460Mark-Woodward-2012-600x400px.jpg" width="600" height="400">
      <div class="c-figure__content c-figure__content--blue">
        <h3>Student life</h3>
      </div>
    </a>
   <p>Explore campus and city life and hear what our current students have to say about living here.</p>
  </div>
  <div class="o-grid__box o-grid__box--third">
  <a class="c-figure c-figure--link" href="/study/student-life/york-yorkshire/">
      <img class="c-figure__image" alt="" src="https://www.york.ac.uk/media/study/courses/York-riverside-014-570px.jpg" width="570" height="380">
      <div class="c-figure__content c-figure__content--blue">
        <h3>The city</h3>
      </div>
    </a>
   <p>Lively, full of culture and beautiful, York is regularly voted one of the best places to live and visit in the UK.</p>
  </div>
</div><!-- End of course/next -->
  </div>
<div class="o-grid__row is-visible@small-">
	<div class="o-grid__box o-grid__box--full">
  		<!-- navigation object : Contact details -->
        
	    <!-- navigation object : Related links -->
        
  	</div>
</div>
</div>

<footer class="c-footer-main" role="contentinfo">
  <div class="o-grid o-wrapper">
    <div class="o-grid__row">
      <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
        <h3 class="c-footer-main__heading">Information for</h3>
        <ul>
          <li><a href="http://www.york.ac.uk/study/">Prospective students</a></li>
          <li><a href="https://www.york.ac.uk/students/">Current students</a></li>
          <li><a href="https://www.york.ac.uk/staff/">Staff</a></li>
          <li><a href="http://www.yorkspace.net/">Alumni</a></li>
          <li><a href="http://www.york.ac.uk/news-and-events/for-media/">Press and media</a></li>
        </ul>
      </div>
      <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
        <h3 class="c-footer-main__heading">About</h3>
        <ul>
          <li><a href="http://www.york.ac.uk/about/">About the University</a></li>
          <li><a href="http://www.york.ac.uk/research/">Research</a></li>
          <li><a href="http://www.york.ac.uk/business/">Business</a></li>
          <li><a href="http://www.york.ac.uk/global">Global</a></li>
          <li><a href="http://www.york.ac.uk/news-and-events/news/">News</a></li>
          <li><a href="http://www.york.ac.uk/news-and-events/events/">Events</a></li>
        </ul>
      </div>
      <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
        <h3 class="c-footer-main__heading">Quick links</h3>
        <ul>
          <li><a href="http://www.york.ac.uk/about/departments/a-to-z/">A-Z</a></li>
          <li><a href="http://www.york.ac.uk/about/departments/">Departments</a></li>
          <li><a href="https://www.york.ac.uk/directory/">Staff directory</a></li>
          <li><a href="http://www.york.ac.uk/about/maps/">Maps and directions</a></li>
          <li><a href="http://www.york.ac.uk/about/term-dates/">Term dates</a></li>
          <li><a href="http://jobs.york.ac.uk/">Job vacancies</a></li>
        </ul>
      </div>
      <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
        <h3 class="c-footer-main__heading">Contact us</h3>
        <p class="c-footer-main__address">University of York<br>
          York<br>
          YO10 5DD<br>
          United Kingdom<br>
        </p>
        <p>+44 (0) 1904 320 000</p>
      </div>
    </div>
    <div class="o-grid__row">
      <div class="o-grid__box o-grid__box--quarter">
        <p>
          <a href="https://twitter.com/uniofyork" aria-label="Follow us on Twitter"><i class="c-icon c-icon--twitter c-icon--2x c-icon--fw" title="Follow us on Twitter" aria-hidden="true"></i></a>
          <a  href="https://www.facebook.com/universityofyork" aria-label="Like us on Facebook"><i class="c-icon c-icon--facebook c-icon--2x c-icon--fw" title="Like us on Facebook" aria-hidden="true"></i></a>
          <a href="https://instagram.com/uniofyork" aria-label="Follow us on Instagramr"><i class="c-icon c-icon--instagram c-icon--2x  c-icon--fw" title="Follow us on Instagram" aria-hidden="true"></i></a>
          <a  href="http://www.youtube.com/universityofyorkuk" aria-label="Watch our videos on YouTube"><i class="c-icon c-icon--youtube c-icon--2x c-icon--fw" title="Watch our videos on YouTube" aria-hidden="true"></i></a>
        </p>
      </div>
      <div class="o-grid__box o-grid__box--half">
        <p>&copy; University of York <br /> <a href="http://www.york.ac.uk/about/legal-statements/">Legal statements</a> | <a href="http://www.york.ac.uk/about/legal-statements/#tab-5">Privacy and cookies</a></p>
      </div>
      <div class="o-grid__box o-grid__box--quarter"><!-- Footer start-->
<p><a class="t4Edit-page" href="https://cms.york.ac.uk/terminalfour/SiteManager?ctfn=content&amp;fnno=30&amp;sid=177724">Modify</a></p>
      </div>
    </div>
  </div>
</footer>

</body>

</html><!-- Footer end-->
