<a{{#href}} href="{{this}}"{{/href}} class="c-pagination__page{{#position}} c-pagination__page--{{this}}{{/position}}">{{#icon-before}}<i class="c-icon c-icon--{{this}} c-icon--before"></i>{{/icon-before}}{{value}}{{#icon-after}}<i class="c-icon c-icon--{{this}} c-icon--after"></i>{{/icon-after}}</a>
