<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script async src="/js/vendor/modernizr/modernizr.js"></script>
    <script async src="/js/vendor/requirejs/require.js" data-main="/js/app"></script>

</head>
<body>


<h1>Welcome to the Firebase API test</h1>
<p>Click the button below to load the data from Google Firebase</p>

<table id="output"></table>

<script>

    let outputTable = document.getElementById('output');

    function makeTableRow(rowData, useKeys) {
        let row, cell;
        row = outputTable.insertRow(-1);

        Object.keys(rowData).forEach(key => {
            cell = row.insertCell(-1);
            var newText  = document.createTextNode(useKeys ? key : rowData[key]);
            cell.appendChild(newText);
        });
    }

    window.addEventListener('window.js.ready', function() {

        $(function() {
            var firebaseModule = window.PL_DATA.dataFirebase;

            firebaseModule.loadConfig(window.PL_DATA.firebaseConfigs.clearingTables);
            firebaseModule.readData();

            $(window).on(firebaseModule.getEventNames().dataLoaded, function(e, data){
                var rows = data;
                /*
                0: {
                    Course: "Biology"
                    Department: "Biology"
                    "In clearing": "y"
                    International: "y"
                    grades: "AAA"
                    }
                 */
                // update the table head row with the first object
                makeTableRow(rows[0], true);

                rows.forEach(function(row) {
                    makeTableRow(row);
                });
            });
        });
    }, false);
</script>


</body>
</html>