//
// TYPOGRAPHY
//
.lead {
  @include font-size(20px, 1.5);
}

.subtitle {
  @include font-size(18px, 1);
  display:block;
  margin:0;
}

.right {
  float:right;
  margin-left:$base-spacing;
}
.left {
  float:left;
  margin-right:$base-spacing;
}