//
// TYPOGRAPHY
//

//.lead p for Site Manager
.lead {
  @include responsive-font-size($lead-font-sizes);
  @include demarginalise;
  @include component-margin;
}
.lead p {
  @include responsive-font-size($lead-font-sizes);
}
.subtitle {
  @include font-size(18px, 1);
  display:block;
  margin:10px 0 0 0;
  h4 &, h5 & {
    @include font-size(13px, 1);
  }
  h6 & {
    @include font-size(12px, 1);
  }
}
.header--underline {
  padding-bottom:$base-spacing/2;
  margin-bottom:$base-spacing;
  border-bottom:1px solid darken($light, 10);
}

.right {
  float:right;
  margin-left:$base-spacing;
}
.left {
  float:left;
  margin-right:$base-spacing;
}
// After floated elements, remove extra top-margin
.right,
.left {
  + h1,+ h2,+ h3,+ h4,+ h5,+ h6 {
    margin-top:0;
  }
}

// Links in headers
.header-link--right {
  font-size:0.666em;
  margin-top:0.333em;
  float:right;
  text-decoration:none;
  cursor:pointer;
}

.text-center {
  text-align:center;
}
.text-left {
  text-align:left;
}
.text-right {
  text-align:right;
}
.no-margin {
  margin-bottom:0;
}
.image-fit-width {
  img {
    width:100%;
  }
}
