//
// UTILITY CLASSES
//

// This class ensures sticky nav doesn't hide the top of anchors
//.u-sticky-anchor {
//}

// Make a span look like a link (to create fake links inside block -level anchors)
.u-link {
  @extend a;
}

// Break text into columns (useful for long lists)
.u-two-columns {
  column-count: 2;
}
.u-three-columns {
  column-count: 3;
}
.u-four-columns {
  column-count: 4;
}
// To make sure bullets appear
ul.u-two-columns,
ul.u-three-columns,
ul.u-four-columns {
  padding-left:1em;
  li {
    margin-left:1em;
  }
}