//
// BASE
// This Sass file contains all the styles for the basic elements
//
html {
  font-size:$base-font-size;
}
body,select,textarea,input {
  //@include font-size;
  font-family: $font-default;
  font-display: swap;
}
body {
  color:colour( "grey", 900 );  //$charcoal
  background: white;
}
a {
  color:$link-color;
  text-decoration: underline;
  &,
  &:hover,
  &:active,
  &:visited {
    outline: 0px;
  }
  &:focus {
    outline:$link-focus-outline-color solid 2px;
    outline-offset: 1px;
  }
  &:hover {
    color:$link-hover-color;
  }
  img {
    border:0;
  }
}
img {
  outline: 0;
  border: 0;
  max-width:100%;
  height:auto;
  // // If a `width` and/or `height` attribute have been
  // // explicitly defined, don't make the image fluid.
  // &[width],
  // &[height] {
  //     max-width: none;
  // }
}

// Generic margins
h1,h2,h3,h4,h5,h6,p,ul,ol,address {
  @include component-margin;
}

// Headers following paras/lists have larger margin-top
p, ul, ol, .lead, pre {
  + h1,+ h2,+ h3,+ h4,+ h5,+ h6 {
    margin-top:$base-spacing*1.4;
  }
}

h1,h2,h3,h4,h5 {
  font-family: $font-title;
  font-weight:600;
  font-display: swap;
}
h6 {
  font-family: $font-default;
  text-transform: uppercase;
  font-weight:600;
  font-display: swap;
}

h2,h3,h4,h5,h6 {
  margin-bottom:$base-spacing/2;
}

h1 {
  @include responsive-font-size($h1-font-sizes);
}
h2 {
  @include responsive-font-size($h2-font-sizes);
}
h3 {
  @include responsive-font-size($h3-font-sizes);
}
h4 {
  @include responsive-font-size($h4-font-sizes);
}
h5 {
  @include responsive-font-size($h5-font-sizes);
}
h6 {
  @include responsive-font-size($h6-font-sizes);
}
p {
  word-wrap: break-word;
}
ul,
ol {
  padding: 0 0 0 1.8em;
}
li {
  margin: 0 0 $base-spacing/2 0;
  break-inside:avoid;
}
li > {
  // No margins in sub lists!
  ul,
  ol {
    margin:0;
  }
  ul {
    list-style:circle;
  }
  ol {
    list-style:lower-roman;
  }
}
ul {
  list-style:disc;
}
ol {
  list-style:decimal;
}
form {
}
input:not([type='radio']):not([type='checkbox']):not([type='range']):not([type='reset']):not([type='submit']):not([type='button']),
select,
textarea {
  &:focus {
    outline:2px solid colour( "blue", 500 );  //$blue
    outline-offset:-2px;
  }
}
fieldset {
  @include demarginalise;
  border:0;
  margin:0;
  padding:0;
  
  &.fieldset_inline {
	  display: flex;
	  flex-flow: row wrap;
    margin: -0.5em;
	  
	  & > * {
		  flex: 1 1 10em;
      margin: 0.5em;
	  }

    .fieldset_item--large {
      flex-basis: 100%;
    }
    .fieldset_item--small {
      flex-basis: 5em;
    }

  }
}
code {
  font-family:monospace;
  padding:0 0.25em;
}
hr {
  @include component-margin;
  background:#ccc;
  border:none;
  color:#ccc;
  height:1px;
  clear:both;
}
small {
  @include font-size(13px);
}
em, i {
  font-style: italic;
}
strong,b,dt {
  font-weight:700;
}
mark {
  background: #fefe99;
  color: #000;
}
s, strike, del {
  text-decoration: line-through;
}
u, ins {
  text-decoration: underline;
}
