//
// BASE
// This Sass file contains all the styles for the basic elements
//
body,select,textarea,input {
  @include font-size;
  font-family: $font-default;
}
body {
  color:$charcoal;
}
a {
  color:lighten($charcoal, 10);
  text-decoration: none;
  &,
  &:hover,
  &:active,
  &:visited {
    outline: 0px;
  }
  &:hover {
    color:lighten($charcoal, 20);
  }
  img {
    border:0;
  }
}
img {
  outline: 0;
  border: 0;
  max-width:100%;
  // If a `width` and/or `height` attribute have been
  // explicitly defined, don't make the image fluid.
  &[width],
  &[height] {
      max-width: none;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-family: $font-title;
  font-weight:700;
  margin:$base-spacing 0;
}
h1 {
  @include font-size(48px,1.125);
}
h2 {
  @include font-size(40px,1.15);
}
h3 {
  @include font-size(32px,1.125);
}
h4 {
  @include font-size(24px,1.167);
}
h5 {
  @include font-size(20px,1.1);
}
h6 {
  @include font-size(18px,1.111);
}
p {
  // @include font-size(16px,1.5);
  margin:$base-spacing 0;
  white-space: break-word;
}
ul,
ol {
  margin:$base-spacing 0;
  padding: 0 0 0 1.8em;
}
li > {
  // No margins in sub lists!
  ul,
  ol {
    margin:0;
  }
  ul {
    list-style:circle;
  }
  ol {
    list-style:lower-roman;
  }
}
ul {
  list-style:disc;
}
ol {
  list-style:decimal;
}
form {
}
fieldset {
  border:0;
  margin:0;
  padding:0;
}
code {
  font-family:monospace;
  padding:0 0.25em;
}
hr {
  background:#ccc;
  border:none;
  color:#ccc;
  margin:$base-spacing 0;
  height:1px;
  clear:both;
}
small {
  font-size:0.625em;
}
em, i {
  font-style: italic;
}
strong,b,dt {
  font-weight:700;
}
mark {
  background: #fefe99;
  color: #000;
}
s, strike, del {
  text-decoration: line-through;
}
u, ins {
  text-decoration: underline;
}
