//
// BASE
// This Sass file contains all the styles for the basic elements
//
body,select,textarea,input {
  font-family: $font-default;
  font-size:16px;
}
// Base SCSS file
body {
  color:$dark;
  margin:0;
  padding:0;
  line-height: 1.625; // 26px on 16px font
}
a {
  color:lighten($dark, 10);
  text-decoration: none;
  &,
  &:hover,
  &:active,
  &:visited {
    outline: 0px;
  }
  &:hover {
    color:lighten($dark, 20);
  }
  img {
    border:0;
  }
}
img {
  outline: 0;
  border: 0;
  max-width:100%;
  // If a `width` and/or `height` attribute have been explicitly defined, let’s not make the image fluid.
  &[width],
  &[height] {
      max-width: none;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-family: $font-title;
  font-weight:300;
  margin:22px 0;
  line-height: 1.375;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}
p {
  margin:1.375em 0;
  white-space: break-word;
}
ul,
ol {
  margin:0 0 22px;
  padding: 0 0 0 1.8em;
  // No margins in sub lists!
  ul,
  ol {
    margin:0;
  }
}
ul {
  list-style:disc;
  ul {
    list-style:circle;
  }
}
ol {
  list-style:decimal;
  ol {
    list-style:lower-roman;
  }
}
code {
  font-family:monospace;
  padding:0 0.25em;
}
hr {
  background:#ccc;
  border:none;
  color:#ccc;
  margin:22px 0;
  height:1px;
  clear:both;
}
small {
  font-size:0.625em;
}
em, i {
  font-style: italic;
}
strong,b {
  font-weight:700;
}
mark {
  background: #fefe99;
  color: #000;
}
s, strike, del {
  text-decoration: line-through;
}
u, ins {
  text-decoration: underline;
}