//
// EXTENDS
//
%clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
%default-transition {
  transition:0.2s all ease-out;
}
// Inline block lists
// Removes space from between inline-block elements
%ib-container {
  font-size:0;
}
%ib-element {
  display:inline-block;
  font-size:$font-size;
}