//
// FUNCTIONS
//

//
// Produces list of combinator sibling selectors from a supplied number
// (helps to get around lack of nth-of-type by class selector)
// Source: https://medium.com/@MateMarschalko/css-select-nth-element-with-class-a313d080e2bf
//
@function select_all_from($n, $selector) {
  $classes: ();
  @for $i from 1 through $n {
    $className: if($i == 1, unquote("#{$selector}"), unquote("#{"~ " + $selector}"));
    $classes: join($classes, unquote($className), space);
  }
  @return $classes;
}

//
// Retrieves a colour by name and lightness
//

@function colour( $name , $lightness:500 )
{
  @if map-has-key( $colours , $name )
  {
    @if map-has-key( map-get( $colours , $name ) , $lightness )
    {
      @return rgba( map-get( map-get( $colours , $name ) , $lightness ) , 1 ); 
    }
    @else
    {
      @error unquote( '[function:colour] Lightness not found for #{ $name }: #{ $lightness }' );
    }
  }
  @else
  {
    @error unquote( '[function:colour] Colour not found: #{ $name }' );
  }
}
