//
// VARIABLES
//

// Colors
$dark:#333;
$light:#fefefe;
$blue:#00b3eb;

// Fonts
$font-default: 'Trebuchet MS', Helvetica, Arial, sans-serif;
$font-title: Georgia, 'Times New Roman', Times, serif;
$font-monospace: Consolas, Monaco, 'Andale Mono', monospace;

// Typography
$base-font-size:    16px;
$base-line-height:  26px;
$base-spacing:      20px;

// Measurements
$container-width: 1200px;

// Our breakpoints - specified in 16px-based ems
// http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw/
$width: (
  tiny:   30em,
  small:  40em,
  medium: 52.5em,
  large:  64em,
  huge:   77.5em
);

// Image sizes

// Icon sizes
$icons: (
  tiny:   8px,
  small:  12px,
  medium: 16px,
  large:  24px,
  huge:   32px
);

// Button types
$buttons: (
  primary: #2E901F,
  cancel: #2546EB,
  danger: #D10B30
);
