//
// VARIABLES
//

// Colors

// Fonts

// Measurements

// Image sizes

// Icon sizes
$icons: (
  tiny:   10px,
  small:  15px,
  medium: 20px,
  large:  40px,
  huge:   50px
);

// This matches the order of icon-sprite.png

// Site sections

// Social media
$twitter: #63c0dd;
$facebook:#527cb6;
$youtube:#ff674e;
$instagram:#666;
