//
// VARIABLES
//

// Colors
$dark:#333;
$light:#fefefe;
$blue:#00b3eb;

// Fonts
$font-default: 'Trebuchet MS', Helvetica, Arial, sans-serif;
$font-title: 'Pollen Regular', Georgia, 'Times New Roman', Times, serif;

// Measurements
$container-width: 960px;
// Image sizes

// Icon sizes
$icons: (
  tiny:   8px,
  small:  12px,
  medium: 16px,
  large:  36px,
  huge:   48px
);

// Site sections

// Social media
$twitter:#63c0dd;
$facebook:#527cb6;
$youtube:#ff674e;
$instagram:#666;
