/* ADDITIONAL DOCUMENTATION STYLES */
@import "core/variables";
@import "core/mixins";
@import "core/extends";

.docs {
  h2 small {
    display:block;
    font-size:0.45em;
    line-height:1;
  }
  .main-header {
    h2 {
      display:block;
      line-height: 41px;
      max-width: 960px;
      margin: 0 auto;
      padding: 17px 0 17px;
    }
  }
  .wide-wrapper {
    max-width:100%;
    // Give some padding to documentation
    // Expensive selectors but OK for documentation pages ;)
    > .g-row > .g-full {
      > h1,
      > h2,
      > h3,
      > h4,
      > h5,
      > p {
        padding-left:20px;
        padding-right:20px;
      }
    }
  }
}
// Show the breadcrumb effect without using JS
.docs-nav {
  .active-item > a {
    width:79px;
  }
  .menu-lv1 > .active-item > a,
  .menu-lv2 > .active-item > a,
  .menu-lv10 > .active-item > a {
    width:auto;
  }
}
#main-menu {
  li {
    ul {
      display:none;
    }
    &:hover {
      ul {
        display:block;
      }
    }
  }
}
#grid-page {
  .main-wrapper > .g-row > .g-full {
    border:0;
    line-height:1.626;
  }
  .g-full,
  .g-twothirds,
  .g-half,
  .g-third,
  .g-threequarters,
  .g-quarter {
    min-height:40px;
    line-height:40px;
    *background:#eee; // For IE7
    &:nth-child(n) {
      border-top:1px solid #666;
      border-left:1px solid #666;
    }
    &:last-child {
      border-right:1px solid #666;
    }
  }
  .g-row {
    margin:0 0 20px;
    &:nth-child(n) {
      border-bottom:1px solid #666;
    }
  }
  .g-row .g-row .g-row {
    margin:0;
    .g-full,
    .g-twothirds,
    .g-half,
    .g-third,
    .g-threequarters,
    .g-quarter {
      border-top:0;
      &:first-child {
        border-left:0;
      }
      &:last-child {
        border-right:0;
      }
    }
    &:last-child {
      border-bottom:0;
    }
  }
  @media only screen and (max-width: 839px) {
    // Right borders on end of rows
    .g-half,
    .g-threequarters,
    .g-quarter + .g-quarter,
    .g-quarter + .g-quarter + .g-quarter + .g-quarter,
    .g-quarter:first-child:nth-last-child(2) {
      border-right:1px solid #666;
    }
    // Remove border from third quarter in row
    .g-quarter + .g-quarter + .g-quarter {
      border-right:0
    }
  }
  @media only screen and (max-width: 639px) {
    .g-third,
    .g-twothirds {
      border-right:1px solid #666;
    }
  }
}
#icons-page {
  [class^=icon] {
    border-top:6px solid $light;
    border-bottom:6px solid $light;
    width:32%;
    background-size:auto 100%;
    background-position:4px center;
    line-height:16px;
    &:after {
      content: attr(class) " ";
      margin-left:26px;
      white-space:nowrap;
    }
    @each $name, $size in $icons {
      &.icon-#{$name} {
        line-height:$size;
        &:after {
          margin-left:$size + 12;
        }
      }
    }
    @media only screen and (max-width: 839px) {
      width:49%;
    }
    @media only screen and (max-width: 529px) {
      width:100%;
    }
  }
  .icon-light {
    background-color:$dark;
    border-color:$dark;
    color:$light;
  }
}
#figures-page {
  .figure-w400 {
    width:400px;
  }
  .figure-h400 {
    height:400px;
  }
  figure {
    &[class*="figure-w"] {
      @extend %set-width-figure;
    }
    &[class*="figure-h"] {
      @extend %set-height-figure;
    }
    &[class*="figure-w"][class*="figure-h"] {
      @extend %centered-image;
    }
  }
}
// Show hide appropriate submenu
.submenu {
  display:none;
}
#atoms-page,
.category-atoms {
  .submenu.category-atoms {
    display:block;
  }
}
#molecules-page,
.category-molecules {
  .submenu.category-molecules {
    display:block;
  }
}
#organisms-page,
.category-organisms {
  .submenu.category-organisms {
    display:block;
  }
}
#layout-page,
.category-layout {
  .submenu.category-layout {
    display:block;
  }
}
#buttons-page {
  .btn-block {
    margin-bottom:8px;
  }
}
#panels-page {
  .panel {
    min-width:240px;
    width:50%;
  }
}

/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
// Even inline <code>s need some styling
code {
  color: black;
  background-color:#f5f2f0;
  padding:4px 2px;
}
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: $font-monospace;
  font-size: 0.9rem;
  direction: ltr;
  text-align: left;
  white-space: pre;
  // white-space: pre-line;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 22px 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

