/*------------------------------------*\
    #MAIN
\*------------------------------------*/

/**
 * CONTENTS
 *
 * CORE
 * Fonts...................@font-face declarations (currently empty)
 * Functions...............Helper and utility functions.
 * Variables...............Variable setup: colours, fonts, measurements etc. Also mapping generic variable names to specific variables
 * Mixins..................Globally available mixins.
 * Extends.................[deprecated] we're trying to remove extends as they cause specificity  issues. DO NOT USE.
 * Normalize...............Levelling the playing field.
 * Reset...................Resetting a few default styles.
 * Base....................Base element styles.
 *
 * GENERIC
 * Typography..............Some typographic styles (un-namespaced).
 * Utilities...............Generic utility classes. Use wisely.
 *
 * OBJECTS
 * Structure...............Wrappers and site-wide structure.
 * Grids...................Grid system.
 * Media object............The media object
 * Accessibility...........Accessible styles
 *
 * COMPONENTS
 * Header..................Header styles, containing logo etc.
 * Footer..................Footer styles.
 * Navigation..............Page navigation.
 * Mobile navigation.......Page navigation, but for mobiles.
 * Subnavigation...........Subnavigation list.
 * Modal...................Modal window for lightboxes, popups etc.
 * hCard...................Address card using microformats
 *
 * - Atoms
 * Page title..............Page title
 * Alerts..................Alert box
 * Global Notices..........Notices added before the page header, cross-site
 * Buttons.................All button styles
 * Icons...................Iconography (imports FontAwesome files)
 * Horizontal rules........Vertical separators
 * Pagination..............For navigating multiple pages
 * Blockquotes.............Blockquote styles
 * Breadcrumb..............Breadcrumb styles
 * Video...................Embedded videos
 * Audio...................Embedded audio
 * Block links.............Block links
 *
 * - Molecules
 * Tables..................Tabular data
 * Course tables...........Course search results tables
 * A to Z..................Alphabetical listing
 * Figures.................Displaying images and captions
 * Lists...................Different lists
 * Accordion...............Accordion list
 * Panels..................a.k.a. boxout
 * Tabs....................Tabbed data
 * Signposts...............Signposting and supporting c-panel__content
 * Clearing tables.........Layout for clearing tables
 * Key facts...............Key facts boxes
 * Tags....................Tag lists
 * Labels..................Labels
 * Show more...............Toggleable 'Show More' component
 * Autocomplete............Styles for autocompleted search results
 * Listings................News article, event and search results
 *
 * - Organisms
 * Events..................Event listings
 * Forms...................Form layout
 * Gallery.................Gallery layout
 * News....................News listings, articles and excerpts
 * Maps....................Map module styles and controls
 *
 * SCOPES
 * TinyMCE.................Stylesheet for TinyMCE - extends other styles
 * Conversation............Scope elements within Conversation articles
 * Administrate............IE fix for Administrate plugin
 *
 * THEMES
 * 404.....................404 theme
 * Signage.................Used for showing content on digital screens
 * Sample..................[sample] Copy this example for future themes
 *
 * MISCELLANEOUS
 * Visibility..............Stateful styles for showing/hiding elements at certain sizes
 * Overrides...............overriding styles using !important
 * IE7.....................specific IE7 styles
 * IE8.....................specific IE8 styles
 * Print...................print-friendly pages
 *
 **/


//CORE
// @import "core/fonts";
@import "core/functions";
@import "core/variables";
@import "core/mixins";
@import "core/extends";
@import "core/normalize";
@import "core/reset";
@import "core/base";

//GENERIC
@import "generic/typography";
@import "generic/utilities";

//OBJECTS
@import "object/structure";
@import "object/grids";
@import "object/media";
@import "object/accessibility";

//COMPONENTS
@import "component/header";
@import "component/footer";

@import "component/navigation";
@import "component/navigation.mobile";
@import "component/subnavigation";
@import "component/utility-nav";
@import "component/structural-nav";
@import "component/modal";
@import "component/hcard";

@import "component/page-title";
@import "component/alerts";
@import "component/global-notices";
@import "component/buttons";
@import "component/icons";
@import "component/hr";
@import "component/pagination";
@import "component/blockquotes";
@import "component/breadcrumb";
@import "component/video";
@import "component/audio";
@import "component/block-links";
@import "component/cookie-banner";

@import "component/tables";
@import "component/coursetables";
@import "component/atoz";
@import "component/figures";
@import "component/image-group";
@import "component/hero";
@import "component/lists";
@import "component/accordion";
@import "component/panels";
@import "component/tabs";
@import "component/signposts";
@import "component/clearing-tables";
@import "component/key-fact";
@import "component/tag";
@import "component/label";
@import "component/showmore";
@import "component/autocomplete";
@import "component/listings";
@import "component/campus-zones";
@import "component/rich_tag";

@import "component/forms";
@import "component/gallery";
@import "component/news";
@import "component/map";

// SCOPES
@import "scopes/tinymce";
@import "scopes/conversation";
@import "scopes/administrate";
@import "scopes/search-backup";

// THEMES
//@import "themes/404";
@import "themes/signage";
@import "themes/foi";
@import "themes/ymp";
@import "themes/york-unlimited";
//@import "themes/sample";

// MISCELLANEOUS
@import "generic/visibility";
@import "misc/overrides";
@import "misc/ie7";
@import "misc/ie8";
//@import "misc/print";
