<figure class="c-figure{{#type}} c-figure--{{this}}{{/type}}">
  <img class="c-figure__image" src="{{image}}">{{#content}}
  <div class="c-figure__content{{#if position}} c-figure__content--{{position}}{{/if}}">{{text}}</div>{{/content}}{{#caption}}
  <figcaption class="c-figure__caption{{#if position}} c-figure__caption--{{position}}{{/if}}">{{text}}</figcaption>{{/caption}}
</figure>