<a class="c-figure c-figure--link{{#type}} c-figure--{{this}}{{/type}}" href="{{url}}">
  <img class="c-figure__image" src="{{image}}">{{#content}}
  <div class="c-figure__content{{#if @root/color}} c-figure__content--{{@root/color}}{{/if}}">{{text}}</div>{{/content}}
</a>