<figure class="c-figure{{#type}} c-figure--{{this}}{{/type}}">
  <img class="c-figure__image" src="{{image}}">{{#caption}}
  <figcaption class="c-figure__caption{{#if @root/position}} c-figure__caption--{{@root/position}}{{/if}}">{{this}}</figcaption>{{/caption}}
</figure>