<a class="c-figure c-figure--link{{#type}} c-figure--{{this}}{{/type}}" href="{{url}}">
  <img class="c-figure__image" src="{{image}}">{{#caption}}
  <div class="c-figure__caption{{#if @root/color}} c-figure__caption--{{@root/color}}{{/if}}">{{this}}</div>{{/caption}}
</a>