<div class="c-event o-media">
  <time class="c-event__time o-media__picture" datetime="{{datetime}}">{{formatDate datetime day="numeric" month="long" year="2-digit"}}</time>
  <div class="c-event__content o-media__body">
    <h4 class="c-event__title">{{title}}</h4>
    <div class="c-event__details">
      {{details}}
    </div>
  </div>
</div>