<div class="event media media-horizontal">
  <time class="event-time media-image" datetime="{{datetime}}">{{formatDate datetime day="numeric" month="long" year="2-digit"}}</time>
  <div class="event-details media-body">
    <h4>{{title}}</h4>
    {{details}}
  </div>
</div>