<li class="rich-tag">
  {{#icon}}<i aria-hidden class="c-icon c-icon--{{this}} c-icon--2x" ></i>{{/icon}}
  {{#title}}<p class="rich-tag__title">{{this}}</p>{{/title}}
  {{#text}}<p class="rich-tag__text">{{this}}</p>{{/text}}
  {{#content}}
    {{this}}
  {{/content}}
</li>
