//
// BUTTONS
//
$hoverColor:darken($light, 10);
$activeColor:darken($light, 20);
$focusColor:darken($light, 30);
.c-btn {
  @include transition();
  font-family: $font-default;
  text-decoration: none;
  display: inline-block;
  border: 1px solid $dark;
  background-color: $light;
  background-image: linear-gradient(darken($light, 10), $light);
  background-repeat: repeat-y;
  padding: 0.3em 0.8em;
  line-height: 1.8em;
  min-height: 2.4em;
  color: $dark;
  cursor: pointer;
  transition: all 0.2s ease-out;
  vertical-align: top;
  &:hover {
    color: #222;
    background-color: $hoverColor;
    background-image: linear-gradient(darken($hoverColor, 30), $hoverColor);
  }
  &:active {
    color: #222;
    background-color: $activeColor;
    background: linear-gradient(darken($activeColor, 30), $activeColor);
  }
  &:focus {
    outline: none;
    color: #111;
    background-color: $focusColor;
    background: linear-gradient(darken($focusColor, 30), $focusColor);
  }
}
// Button types
@each $name, $color in $buttons {
  $hoverColor:lighten($color, 10);
  $activeColor:lighten($color, 20);
  $focusColor:lighten($color, 30);
  .c-btn--#{$name} {
    color: #fff;
    background-color: $color;
    background-image: linear-gradient(darken($color, 10), $color);
    &:hover {
      color: #fff;
      background-color: $hoverColor;
      background-image: linear-gradient(darken($hoverColor, 10), $hoverColor);
    }
    &:active {
      color: #fff;
      background-color: $activeColor;
      background: linear-gradient(darken($activeColor, 10), $activeColor);
    }
    &:focus {
      outline: none;
      color: #fff;
      background-color: $focusColor;
      background: linear-gradient(darken($focusColor, 10), $focusColor);
    }
    // Keep this in here for now, but make sure
    // the icon itself has a .c-icon--light
    .c-icon {
      @extend .c-icon--light;
    }
  }
}
.c-btn--disabled {
  opacity: 0.65;
  cursor: not-allowed;
  color: #ccc;
  background-color: #999;
  background-image: linear-gradient(darken(#999, 10), #999);
  border-color:#666;
  &:hover,
  &:active,
  &:focus {
    outline: none;
    color: #ccc;
    background-color: #999;
    background-image: linear-gradient(darken(#999, 10), #999);
  }
}
// Button sizes
.c-btn--tiny {
  border-radius: 2px;
  font-size: 8px;
}
.c-btn--small {
  border-radius: 2px;
  font-size: 12px;
}
.c-btn--medium {
  // Default size
  border-radius: 3px;
  font-size: 16px;
}
.c-btn--large {
  border-radius: 4px;
  font-size: 24px;
}
.c-btn--huge {
  border-radius: 6px;
  font-size: 32px;
}
// Block buttons
.c-btn--block {
  display:block;
  width:100%;
  text-align:left;
  .icon-after {
    float:right;
  }
}
// Button groups
.c-btn-group {
  font-size: 0;
  margin: 0 0 16px;
  .c-btn {
    border-left-width: 0;
    border-radius: 0;
    &:first-child {
      border-left-width: 1px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      &.c-btn--tiny {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
      &.c-btn--small {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
      &.c-btn--medium {
        // Default size - inherits from .c-btn-
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &.c-btn--large {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &.c-btn--huge {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }
    }
    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      &.c-btn--tiny {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
      &.c-btn--small {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
      &.c-btn--medium {
        // Default size - inherits from .c-btn-
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      &.c-btn--large {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      &.c-btn--huge {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
}
.c-btn-group--block {
  display:table;
  table-layout:fixed;
  .c-btn {
      display:table-cell;
      text-align:center;
      padding-left:0;
      padding-right:0;
  }
  // $max: 8;
  // @for $i from 2 through $max {
  //   .c-btn {
  //     $paddingVal:1em/($i - 1);
  //     padding-left:$paddingVal;
  //     padding-right:$paddingVal;
  //   }
  //   .c-btn:first-child:nth-last-child(#{$i}),
  //   .c-btn:first-child:nth-last-child(#{$i}) ~ .c-btn- {
  //     width: 100% / $i;
  //   }
  // }
}
