//
// BUTTONS
//
$hoverColor:darken($light, 10);
$activeColor:darken($light, 20);
$focusColor:darken($light, 30);
.btn {
  @include transition();
  font-family: $font-default;
  text-decoration: none;
  display: inline-block;
  border: 1px solid $dark;
  border-radius: 3px;
  background-color: $light;
  background: linear-gradient(darken($light, 10), $light);
  background-repeat: repeat-y;
  padding: 0.3em 0.8em;
  font-size: 16px;
  line-height: 1.8em;
  min-height: 2.4em;
  color: $dark;
  cursor: pointer;
  transition: all 0.2s ease-out;
  vertical-align: top;
  &:hover {
    color: #222;
    background-color: $hoverColor;
    background-image: linear-gradient(darken($hoverColor, 30), $hoverColor);
  }
  &:active {
    color: #222;
    background-color: $activeColor;
    background: linear-gradient(darken($activeColor, 30), $activeColor);
  }
  &:focus {
    outline: none;
    color: #111;
    background-color: $focusColor;
    background: linear-gradient(darken($focusColor, 30), $focusColor);
  }
}
// Button types
@each $name, $color in $buttons {
  $hoverColor:lighten($color, 10);
  $activeColor:lighten($color, 20);
  $focusColor:lighten($color, 30);
  .btn-#{$name} {
    color: #fff;
    background-color: $color;
    background-image: linear-gradient(darken($color, 10), $color);
    &:hover {
      color: #fff;
      background-color: $hoverColor;
      background-image: linear-gradient(darken($hoverColor, 10), $hoverColor);
    }
    &:active {
      color: #fff;
      background-color: $activeColor;
      background: linear-gradient(darken($activeColor, 10), $activeColor);
    }
    &:focus {
      outline: none;
      color: #fff;
      background-color: $focusColor;
      background: linear-gradient(darken($focusColor, 10), $focusColor);
    }
    [class^=icon] {
      @extend .icon-light;
    }
  }
}
.btn-disabled {
  opacity: 0.65;
  cursor: not-allowed;
  color: #ccc;
  background-color: #999;
  background-image: linear-gradient(darken(#999, 10), #999);
  border-color:#666;
  &:hover,
  &:active,
  &:focus {
    outline: none;
    color: #ccc;
    background-color: #999;
    background-image: linear-gradient(darken(#999, 10), #999);
  }
}
// Button sizes
.btn-tiny {
  border-radius: 2px;
  font-size: 8px;
}
.btn-small {
  border-radius: 2px;
  font-size: 12px;
}
.btn-medium {
  // Default size - inherits from .btn
  // border-radius: 3px;
  // font-size: 16px;
}
.btn-large {
  border-radius: 4px;
  font-size: 24px;
}
.btn-huge {
  border-radius: 6px;
  font-size: 32px;
}
// Block buttons
.btn-block {
  display:block;
  width:100%;
  text-align:left;
  .icon-after {
    float:right;
  }
}
// Button groups
.btn-group {
  font-size: 0;
  margin: 0 0 16px;
  .btn {
    border-left-width: 0;
    border-radius: 0;
    &:first-child {
      border-left-width: 1px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      &.btn-tiny {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
      &.btn-small {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
      &.btn-medium {
        // Default size - inherits from .btn
        // border-top-left-radius: 3px;
        // border-bottom-left-radius: 3px;
      }
      &.btn-large {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &.btn-huge {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }
    }
    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      &.btn-tiny {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
      &.btn-small {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
      &.btn-medium {
        // Default size - inherits from .btn
        // border-top-right-radius: 3px;
        // border-bottom-right-radius: 3px;
      }
      &.btn-large {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      &.btn-huge {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
}
.btn-group-block {
  display:block;
  $max: 8;
  @for $i from 2 through $max {
    .btn {
      $paddingVal:1em/($i - 1);
      padding-left:$paddingVal;
      padding-right:$paddingVal;
    }
    .btn:first-child:nth-last-child(#{$i}),
    .btn:first-child:nth-last-child(#{$i}) ~ .btn {
      width: 100% / $i;
    }
  }
}
