//
// ICONS
//
.c-icon {
  display:inline-block;
  background-size:100%;
  vertical-align:middle;
  box-sizing:padding-box;
}
@each $name, $size in $icons {
  .c-btn--#{$name} .c-icon,
  .c-icon--#{$name} {
    width: $size;
    height: $size;
  }
}
.c-icon--before {
  margin-right:0.6em;
}
.c-icon--after {
  margin-left:0.6em;
}
.c-icon--above {
  display: block;
  margin: 0.4em auto 0;
}

// Body class based on browser support
@import "icons/svg-icons";
.icons-datapng {
  @import "icons/png-icons";
}
.icons-png {
  @import "icons/png-urls";
}