<div class="o-grid__box o-grid__box--{{#size}}{{this}}{{/size}}{{^size}}full{{/size}}{{#type}} o-grid__box--{{this}}{{/type}}{{#offset}} o-grid__box--offset-{{this}}{{/offset}}{{#class}} {{this}}{{/class}}">
  {{#atoms}}
  {{this}}
  {{/atoms}}
</div>