<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="University of York">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>York Concerts theme page</title>
  <meta name="description" content="">
  <link rel="shortcut icon" href="/img/york-concerts-favicon.ico">
  <link rel="icon" type="image/x-icon" href="/img/york-concerts-favicon.ico">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/vendor/modernizr/modernizr.js"></script>
  <script src="/js/vendor/requirejs/require.js" data-main="/js/app"></script>
  <script src="//use.typekit.net/dvj8rpp.js"></script>
  <script>
  try { Typekit.load(); } catch (e) {}
  </script>
</head>
<body class="o-page__level--1 o-page__width--wide t-yorkconcerts">

<!-- Header + mobile search -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXLX54" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<a href="#Main-Content" class="o-skip-link">Skip to content</a>
<a href="https://www.york.ac.uk/about/legal-statements/accessibility/" class="o-skip-link">Accessibility statement</a>

<header class="c-main-header" role="banner">
    <div class="o-wrapper o-grid">
    <div class="o-grid__row">
        <div class="o-grid__box o-grid__box--threequarters o-grid__box--threequarters@medium o-grid__box--threequarters@small o-grid__box--threequarters@tiny">
        <h2 class="c-main-header__title"><a href="https://www.york.ac.uk/"><img class="c-main-header__logo" src="https://www.york.ac.uk/static/stable/img/logo.svg" alt="University of York" width="250" height="40"></a></h2>
        </div>
        <div class="o-grid__box o-grid__box--quarter o-grid__box--quarter@medium o-grid__box--quarter@small o-grid__box--quarter@tiny">
        <form action="https://www.york.ac.uk/search" method="get" class="c-form c-form--joined c-form--header is-hidden@medium-" autocomplete="off">
            <fieldset>
            <div class="c-form__element">
                <input class="c-form__input c-form__input--text" type="text" id="q-search" aria-label="Search" name="q" placeholder="Search york.ac.uk" />
                <input type="hidden" name="site" value="yorkweb">
                <button type="submit" class="c-btn c-btn--medium" aria-label="Search"><i class="c-icon c-icon--search" aria-hidden="true"></i></button>
            </div>
            </fieldset>
        </form>
        <!-- Mobile search -->
        <a href="#Mobile-Search" class="c-mobile-search-button js-toggle-mobile-search is-hidden@large+" aria-label="Search"><i class="c-icon c-icon--search" aria-hidden="true"></i></a>
        </div>
    </div>
    </div>
</header>

<form action="https://www.york.ac.uk/search" method="get" class="c-form c-form--joined c-form--mobile-search" id="Mobile-Search">
    <fieldset class="c-form__fieldset">
    <legend class="c-form__legend">Search york.ac.uk</legend>
    <div class="o-grid">
        <div class="o-grid__row">
        <div class="o-grid__box o-grid__box--full">
            <div class="c-form__element">
            <input class="c-form__input c-form__input--text" type="text" id="q-mobile" name="q" aria-label="Search" />
            <input type="hidden" name="site" value="yorkweb">
            <button type="submit" class="c-btn c-btn--medium" aria-label="Search">Search</button>
            </div>
        </div>
        </div>
    </div>
    </fieldset>
</form>
    
<!-- Page title -->
<div class="o-wrapper o-wrapper--wide c-page-title__wrapper o-grid">
    <div class="o-grid__row">
    <div class="o-grid__box o-grid__box--full">
        <div class="c-page-title">
        <h1 class="c-page-title__header"><a class="c-page-title__link" href="">Concerts (new)</a></h1>
        </div>
    </div>
    </div>
</div>

<!-- Main nav -->
<nav class="c-nav c-nav--main" role="navigation" id="Main-Navigation">
    <ul class="c-nav__list c-nav__list--structural">
        <li class="c-nav__item"><a href="../whats-on/">What's on</a></li><li class="c-nav__item"><a href="../your-visit/">Your visit</a></li><li class="c-nav__item"><a href="../bookings/">Bookings</a></li><li class="c-nav__item"><a href="../privacy-policy/">Privacy policy</a></li>

        <li class="c-nav__item c-nav__item--more"><a class="c-nav__link js-toggle-button" href="#Main-Navigation">More&hellip;</a></li>
    </ul>
    <!--h4 class="c-nav__header">All sections</h4>
    <ul class="c-nav__list c-nav__list--associative">
    <li class="c-nav__item"><a href="..//whats-on/">What's on</a></li><li class="c-nav__item"><a href="..//your-visit/">Your visit</a></li><li class="c-nav__item"><a href="..//bookings/">Bookings</a></li><li class="c-nav__item"><a href="..//privacy-policy/">Privacy policy</a></li>
    </ul-->
    

</nav>

<!-- Breadcrumb -->
<div class="c-breadcrumb"><div class="c-breadcrumb__items"><a href="/"><i class="c-icon c-icon--home" title="Home"></i><span class="c-icon__sr-text">Home</span></a><span class="c-breadcrumb__separator">&gt;</span><a href="">Concerts (new)</a></div></div>

<div class="o-wrapper o-wrapper--main o-grid js-wrapper--main" id="Main-Content">
<div class="o-grid__row">
    <div class="o-grid__box o-grid__box--full">
    <figure class=" c-hero">
    <div class="c-hero-background" style="background-image:url('https://cms.york.ac.uk/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=b920ea9eaa383f87c333282f9de864b393917f25');">
        
        <div class="c-hero__content c-figure__content--bottom-centre">
        <div class="c-hero__caption  c-figure__caption--bottom-centre">
            <h1>York Concerts</h1>
            
            <p><a class="c-btn c-btn--medium" href="https://yorkconcerts.us9.list-manage.com/subscribe?u=dbe5bd1e01f031bd7c8daa9f3&id=e8bf04f0de">Join our mailing list</a>
</p>
        </div>
        </div>
    </div>
    </figure>
    </div>
</div>
<h1>Welcome to York Concerts</h1>
<p>We have a huge range of concerts for your delight with music from across the centuries and around the globe performed by international artists as well as our own ensembles.</p>
<p>Season updates will appear on our website from where you can sign up for news and special offers by joining our emailing list. You can also keep in contact by following us on&nbsp;<a href="https://www.facebook.com/yorkconcerts/">Facebook</a> and <a href="https://twitter.com/uoyconcerts?lang=en">Twitter</a>.</p>
<p>We look forward to sharing our season with you over the coming months.</p>
<div class="o-grid__row o-grid__row--alt3">
    <div class="o-grid__box o-grid__box--half">
    <a class="c-figure c-figure--link" href="/your-visit/">
        <img class="c-figure__image" alt="" src="https://cms.york.ac.uk/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=10e08ee5c160c2657a7866a29d872a206e38dfca" width="800" height="400" />
        <div class="c-figure__content c-figure__content--teal">
        <h3>Our venues</h3>
        </div>
    </a>
    <p>Explore our venues, seating plans and how to get here.</p>
    </div>
    <div class="o-grid__box o-grid__box--half">
    <a class="c-figure c-figure--link" href="https://www.york.ac.uk/music/lyonslivelockdown/">
        <img class="c-figure__image" alt="" src="https://cms.york.ac.uk/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=831ca3b98d57c8c9fb2108adae4c59fde83865a6" width="800" height="400" />
        <div class="c-figure__content c-figure__content--teal">
        <h3>Concerts online</h3>
        </div>
    </a>
    <p>We are very pleased to be able to share online some of our favorite concerts and performances from previous seasons.</p>
    </div>
</div>
<div class="o-grid__row o-grid__row--alt3">
    <div class="o-grid__box o-grid__box--half">
    <a class="c-figure c-figure--link" href="/whats-on/">
        <img class="c-figure__image" alt="" src="https://cms.york.ac.uk/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=47bd26feadd6028a462d6b85b1ecbd14e05fc922" width="800" height="400" />
        <div class="c-figure__content c-figure__content--teal">
        <h3>What's on</h3>
        </div>
    </a>
    <p>Have a look at our upcoming concerts and events.</p>
    </div>
    <div class="o-grid__box o-grid__box--half">
    <a class="c-figure c-figure--link" href="/bookings/">
        <img class="c-figure__image" alt="" src="https://cms.york.ac.uk/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=e598ec2c3e41df26b070341ce2c2bad6e240f9a5" width="800" height="400" />
        <div class="c-figure__content c-figure__content--teal">
        <h3>Booking</h3>
        </div>
    </a>
    <p>Book your tickets today.</p>
    </div>
</div>
<div class="o-grid__row o-grid__row--default">
    <div class="o-grid__box o-grid__box--full">
    <figure class="c-figure c-figure--banner">
        <img class="c-figure__image" src="https://cms.york.ac.uk/terminalfour/SiteManager?ctfn=download&fnno=60&ceid=605816615f87219d0a766e6ff4833005970ea0d8" alt="" />
        
        <div class="c-figure__content">
        <h2>Flexi savings</h2>
<p>We offer discounts for multiple bookings, so you can create your own series of concerts – the more you attend, the less you pay per concert.</p>
<ul>
<li>Book three or four concerts -&nbsp;<strong>10% discount</strong> on each ticket</li>
<li>Book five to seven concerts -&nbsp;<strong>15% discount</strong> on each ticket</li>
<li>Book eight or more concerts -&nbsp;<strong>20% discount</strong> on each ticket</li>
</ul>
<p>You can make a multiple booking at any time up to, and including, the date of the first concert in your series. The offer is available for all prices, including concessions but excluding student tickets.</p>
        </div>
    </figure>
    </div>
</div><div class="o-grid__row o-grid__row--alt1 js-equal-height-row">
<div class="o-grid__box o-grid__box--quarter o-grid__box--full@medium">
    <a href="https://twitter.com/UoYConcerts?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Eprofile%3AUoYConcerts&ref_url=http%3A%2F%2Fyorkconcerts.co.uk%2F" class="c-key-fact o-media">
    <div class="o-media__picture">
        <i class="c-key-fact__icon c-icon c-icon--twitter c-icon--3x c-icon--fw"></i>
    </div>
    <div class="o-media__body">
        <h3 class="c-key-fact__title">Twitter</h3>
        <div class="c-key-fact__content">
        <p>Keep up-to-date with our latest tweets.</p>
        <p class="c-key-fact__learnMoreLink">Learn more</p>
        </div>
    </div>
    </a>
</div>
<div class="o-grid__box o-grid__box--quarter o-grid__box--full@medium">
    <div class="c-key-fact o-media">
    <div class="o-media__picture">
        <i class="c-key-fact__icon c-icon c-icon--archive c-icon--3x c-icon--fw"></i>
    </div>
    <div class="o-media__body">
        <h3 class="c-key-fact__title">Concert archive</h3>
        <div class="c-key-fact__content">
        <p>See previous concerts.</p>
        </div>
    </div>
    </div>
</div>
<div class="o-grid__box o-grid__box--quarter o-grid__box--full@medium">
    <a href="https://www.youtube.com/channel/UC1nVmx5QhOygk3mLZW9nUFQ" class="c-key-fact o-media">
    <div class="o-media__picture">
        <i class="c-key-fact__icon c-icon c-icon--youtube-play c-icon--3x c-icon--fw"></i>
    </div>
    <div class="o-media__body">
        <h3 class="c-key-fact__title">YouTube</h3>
        <div class="c-key-fact__content">
        <p>Watch our videos</p>
        <p class="c-key-fact__learnMoreLink">Learn more</p>
        </div>
    </div>
    </a>
</div>
</div>
</div>



<footer class="c-footer-main">
    <div class="o-grid o-wrapper">
    <div class="o-grid__row">
        <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
        <h3 class="c-footer-main__heading" id="information-links">Information for</h3>
        <ul>
            <li><a href="https://www.york.ac.uk/study/" aria-labelledby="information-links prospective-students" id="prospective-students">Prospective students</a></li>
            <li><a href="https://www.york.ac.uk/students/" aria-labelledby="information-links current-students" id="current-students">Current students</a></li>
            <li><a href="https://www.york.ac.uk/staff/" aria-labelledby="information-links university-staff" id="university-staff">Staff</a></li>
            <li><a href="https://www.york.ac.uk/alumni/" aria-labelledby="information-links university-alumi" id="university-alumi">Alumni</a></li>
            <li><a href="https://www.york.ac.uk/news-and-events/for-media/" aria-labelledby="information-links press-media" id="press-media">Press and media</a></li>
        </ul>
        </div>
        <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
        <h3 class="c-footer-main__heading" id="about-links">About</h3>
        <ul>
            <li><a href="https://www.york.ac.uk/about/" aria-labelledby="about-links the-university" id="the-university">The University</a></li>
            <li><a href="https://www.york.ac.uk/research/" aria-labelledby="about-links university-research" id="university-research">Research</a></li>
            <li><a href="https://www.york.ac.uk/business/" aria-labelledby="about-links university-business" id="university-business">Business</a></li>
            <li><a href="https://www.york.ac.uk/global" aria-labelledby="about-links university-global" id="university-global">Global</a></li>
            <li><a href="https://www.york.ac.uk/news-and-events/news/" aria-labelledby="about-links university-news" id="university-news">News</a></li>
            <li><a href="https://www.york.ac.uk/news-and-events/events/" aria-labelledby="about-links university-events" id="university-events">Events</a></li>
            <li><a href="https://www.york.ac.uk/york-concerts/" aria-labelledby="about-links york-unlimited" id="york-unlimited">York Unlimited</a></li>
            <li><a href="https://www.york.ac.uk/study/visit/online-campus-tour/#virtualtour" aria-labelledby="about-links virtual-tour" id="virtual-tour">Virtual tour</a></li>
        </ul>
        </div>
        <div  class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
        <h3 class="c-footer-main__heading">Quick links</h3>
        <ul>
            <li><a href="https://www.york.ac.uk/about/departments/a-to-z/">A-Z</a></li>
            <li><a href="https://www.york.ac.uk/about/departments/">Departments</a></li>
            <li><a href="https://www.york.ac.uk/directory/">Staff directory</a></li>
            <li><a href="https://www.york.ac.uk/about/maps/">Maps and directions</a></li>
            <li><a href="https://www.york.ac.uk/about/term-dates/">Term dates</a></li>
            <li><a href="https://jobs.york.ac.uk/">Job vacancies</a></li>
        </ul>
        </div>
        <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
        <h3 class="c-footer-main__heading">Contact us</h3>
        <p class="c-footer-main__address">University of York<br>
            York<br>
            YO10 5DD<br>
            United Kingdom<br>
        </p>
        <p>+44 (0) 1904 320 000</p>
        </div>
    </div>
    <div class="o-grid__row">
        <div class="o-grid__box o-grid__box--threequarters">
        <p>&copy; University of York <br /> <a href="https://www.york.ac.uk/about/legal-statements/">Legal statements</a> | <a href="https://www.york.ac.uk/about/legal-statements/#tab-4">Privacy</a> | <a href="https://www.york.ac.uk/about/legal-statements/cookies/">Cookies</a> | <a href="https://www.york.ac.uk/about/sustainability/strategy/slavery-human-trafficking/">Modern slavery statement</a> | <a href="https://www.york.ac.uk/about/legal-statements/accessibility/">Accessibility</a></p>
        </div>
        <div class="o-grid__box o-grid__box--quarter">
        <p>
            <a href="https://twitter.com/uniofyork" aria-label="Follow us on Twitter"><i class="c-icon c-icon--twitter c-icon--2x c-icon--fw" title="Follow us on Twitter" aria-hidden="true"></i></a>
            <a  href="https://www.facebook.com/universityofyork" aria-label="Like us on Facebook"><i class="c-icon c-icon--facebook c-icon--2x c-icon--fw" title="Like us on Facebook" aria-hidden="true"></i></a>
            <a href="https://instagram.com/uniofyork" aria-label="Follow us on Instagram"><i class="c-icon c-icon--instagram c-icon--2x  c-icon--fw" title="Follow us on Instagram" aria-hidden="true"></i></a>
            <a  href="http://www.youtube.com/universityofyorkuk" aria-label="Watch our videos on YouTube"><i class="c-icon c-icon--youtube c-icon--2x c-icon--fw" title="Watch our videos on YouTube" aria-hidden="true"></i></a>
        </p>
        </div>
    </div>

    <!-- global alert function -->
    <script src="https://www.york.ac.uk/static/globalalert/globalalert.js" async defer></script>
<!-- Footer start-->
<p><a class="t4Edit-page" href="https://cms.york.ac.uk/terminalfour/page/section#edit/221229/contents">Modify</a></p>
    </div>
</footer>

</body>

</html><!-- Footer end-->
        