<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="University of York">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.typekit.net/dvj8rpp.css">

    <title>Living costs - Postgraduate taught, University of York</title>
    <!-- Description meta -->
    <meta name="description" content="Our living costs guide will give you a rough idea of what your expenditure could be as a postgraduate student at York." />

    <!-- Keywords meta -->

    <!-- Head end + header -->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

    <link rel="stylesheet" href="/css/styles.css" media="screen">
    <link rel="stylesheet" href="/css/docs.css" media="screen">

    <script async src="/js/vendor/modernizr/modernizr.js"></script>
    <script async src="/js/vendor/requirejs/require.js" data-main="/js/app"></script>

    <!-- Print styles -->
    <link rel="stylesheet" href="/css/print.css" media="print">

    <!-- stable -->

</head>

<body>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WXLX54" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-WXLX54');</script>


<a href="#Main-Content" class="o-skip-link">Skip to content</a>

<header class="c-main-header" role="banner">
    <div class="o-wrapper o-grid">
        <div class="o-grid__row">
            <div class="o-grid__box o-grid__box--threequarters o-grid__box--threequarters@medium o-grid__box--threequarters@small o-grid__box--threequarters@tiny">
                <h2 class="c-main-header__title"><a href="http://www.york.ac.uk/"><img class="c-main-header__logo" src="https://www.york.ac.uk/static/stable/img/logo.svg" alt="University of York" width="250" height="40"></a></h2>
            </div>
            <div class="o-grid__box o-grid__box--quarter o-grid__box--quarter@medium o-grid__box--quarter@small o-grid__box--quarter@tiny">
                <form action="https://www.york.ac.uk/search" method="get" class="c-form c-form--joined c-form--header is-hidden@medium-" autocomplete="off">
                    <fieldset>
                        <div class="c-form__element">
                            <input class="c-form__input c-form__input--text" type="text" id="q" aria-label="Search" name="q" placeholder="Search york.ac.uk" />
                            <input type="hidden" name="site" value="yorkweb">
                            <a class="c-btn c-btn--medium js-submit-form" href="https://www.york.ac.uk/search" role="button" aria-label="Search"><i class="c-icon c-icon--search" aria-hidden="true"></i></a>
                        </div>
                    </fieldset>
                </form>
                <!-- Mobile search -->
                <a href="#Mobile-Search" class="c-mobile-search-button js-toggle-button is-hidden@large+" aria-label="Search"><i class="c-icon c-icon--search" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</header>

<!-- Mobile search -->
<form action="https://www.york.ac.uk/search" method="get" class="c-form c-form--joined c-form--mobile-search" id="Mobile-Search">
    <fieldset class="c-form__fieldset">
        <legend class="c-form__legend">Search york.ac.uk</legend>
        <div class="o-grid">
            <div class="o-grid__row">
                <div class="o-grid__box o-grid__box--full">
                    <div class="c-form__element">
                        <input class="c-form__input c-form__input--text" type="text" id="q-mobile" name="q" aria-label="Search" />
                        <input type="hidden" name="site" value="yorkweb">
                        <a class="c-btn c-btn--medium js-submit-form" href="https://www.york.ac.uk/search" role="button">Search</a>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<!-- Page title -->
<div class="o-wrapper o-wrapper--wide c-page-title__wrapper o-grid">
    <div class="o-grid__row">
        <div class="o-grid__box o-grid__box--full">
            <div class="c-page-title">
                <h1 class="c-page-title__header"><a class="c-page-title__link" href="/study/postgraduate-taught/">Postgraduate taught</a></h1>
            </div>
        </div>
    </div>
</div>

<!-- Main nav -->
<nav class="c-nav c-nav--main" role="navigation" id="Main-Navigation">
    <h4 class="c-nav__header"><a href="/study/postgraduate-taught/fees/">Fees and expenses</a></h4>
    <ul class="c-nav__list c-nav__list--associative">
        <li class="c-nav__item"><a href="/study/postgraduate-taught/fees/uk-eu/">UK/EU tuition fee rates 2018/19</a></li><li class="c-nav__item"><a href="/study/postgraduate-taught/fees/international/">International tuition fee rates 2018/19</a></li><li class="c-nav__item"><a href="/study/postgraduate-taught/fees/uk-eu-2017-18/">UK/EU tuition fee rates 2017/18</a></li><li class="c-nav__item"><a href="/study/postgraduate-taught/fees/international-2017-18/">International tuition fee rates 2017/18</a></li><li class="c-nav__item"><a href="/study/postgraduate-taught/fees/pay/">Paying your tuition fees</a></li><li class="c-nav__item"><span class="currentsection">Living costs</span></li><li class="c-nav__item"><a href="/study/postgraduate-taught/fees/status/">Fee status</a></li><li class="c-nav__item"><a href="/study/postgraduate-taught/fees/work-during-study/">Work while you study</a></li>
    </ul>
    <h4 class="c-nav__header">Other sections</h4>
    <ul class="c-nav__list c-nav__list--structural">
        <li class="c-nav__item"><a href="/study/postgraduate-taught/courses/">Courses</a></li><li class="c-nav__item"><a href="/study/postgraduate-taught/why-york/">Why York</a></li><li class="c-nav__item"><span class="currentbranch0"><a href="/study/postgraduate-taught/fees/">Fees and expenses</a></span></li><li class="c-nav__item"><a href="/study/postgraduate-taught/funding/">Funding</a></li><li class="c-nav__item"><a href="/study/postgraduate-taught/apply/">Applying</a></li><li class="c-nav__item"><a href="/study/postgraduate/open-days/">Meet us</a></li><li class="c-nav__item"><a href="/study/international/">International students</a></li><li class="c-nav__item"><a href="/study/accommodation/postgraduate/">Accommodation</a></li><li class="c-nav__item"><a href="/study/postgraduate/prospectus/">Prospectus</a></li><li class="c-nav__item c-nav__item--more"><a class="c-nav__link js-toggle-button" href="#Main-Navigation">More&hellip;</a></li>
    </ul>

</nav>

<!-- Breadcrumb -->
<div class="c-breadcrumb"><div class="c-breadcrumb__items"><a href="/"><i class="c-icon c-icon--home" title="Home"></i><span class="c-icon__sr-text">Home</span></a><span class="c-breadcrumb__separator">&gt;</span><a href="/study/">Study at York</a><span class="c-breadcrumb__separator">&gt;</span><a href="/study/postgraduate-taught/">Postgraduate taught</a><span class="c-breadcrumb__separator">&gt;</span><a href="/study/postgraduate-taught/fees/">Fees and expenses</a><span class="c-breadcrumb__separator">&gt;</span><a href="/study/postgraduate-taught/fees/living-costs/">Living costs</a></div></div>

<div class="o-wrapper o-wrapper--main o-grid js-wrapper--main">

    <div class="o-grid__row">
        <div class="o-grid__box o-grid__box--quarter" role="complementary">
            <nav class="c-subnav is-hidden@medium is-hidden@small-">
                <ul class="c-subnav__list">
                    <li class="c-subnav__item c-subnav__title"><!-- navigation object : Link to section at level 4 --><a href="/study/postgraduate-taught/fees/">Fees and expenses</a></li>
                    <li class="c-subnav__item"><a href="/study/postgraduate-taught/fees/uk-eu/">UK/EU tuition fee rates 2018/19</a></li><li class="c-subnav__item"><a href="/study/postgraduate-taught/fees/international/">International tuition fee rates 2018/19</a></li><li class="c-subnav__item"><a href="/study/postgraduate-taught/fees/uk-eu-2017-18/">UK/EU tuition fee rates 2017/18</a></li><li class="c-subnav__item"><a href="/study/postgraduate-taught/fees/international-2017-18/">International tuition fee rates 2017/18</a></li><li class="c-subnav__item"><a href="/study/postgraduate-taught/fees/pay/">Paying your tuition fees</a></li><li class="c-subnav__item"><span class="currentsection">Living costs</span></li><li class="c-subnav__item"><a href="/study/postgraduate-taught/fees/status/">Fee status</a></li><li class="c-subnav__item"><a href="/study/postgraduate-taught/fees/work-during-study/">Work while you study</a></li>
                </ul>
            </nav>
            <nav class="c-subnav is-hidden@medium-">
                <ul class="c-subnav__list c-subnav__list--structural">
                    <li class="c-subnav__title c-subnav__item"><span class="c-subnav__link">Other sections</a></li>
                    <li class="c-subnav__item"><a href="/study/postgraduate-taught/courses/">Courses</a></li><li class="c-subnav__item"><a href="/study/postgraduate-taught/why-york/">Why York</a></li><li class="c-subnav__item"><span class="currentbranch0"><a href="/study/postgraduate-taught/fees/">Fees and expenses</a></span></li><li class="c-subnav__item"><a href="/study/postgraduate-taught/funding/">Funding</a></li><li class="c-subnav__item"><a href="/study/postgraduate-taught/apply/">Applying</a></li><li class="c-subnav__item"><a href="/study/postgraduate/open-days/">Meet us</a></li><li class="c-subnav__item"><a href="/study/international/">International students</a></li><li class="c-subnav__item"><a href="/study/accommodation/postgraduate/">Accommodation</a></li><li class="c-subnav__item"><a href="/study/postgraduate/prospectus/">Prospectus</a></li></ul>
            </nav>

        </div>
        <div class="o-grid__box o-grid__box--threequarters" role="main" id="Main-Content"><div class="o-grid__row">
            <div class="o-grid__box o-grid__box--full">

                <div class="c-figure c-figure--link">
                    <img class="c-figure__image" src="https://www.york.ac.uk/media/study-new/postgraduate/teachingandlearning/PGCampus15_JohnHoulihan_05212015247-800px.jpg" alt="" width="800" height="400" />
                    <div class="c-figure__content c-figure__content--teal c-figure__content--left">

                        <h1>Living costs for postgraduate students
                        </h1>

                    </div>
                </div>

            </div>
        </div>

            <div class="o-grid__row">
                <div class="o-grid__box o-grid__box--twothirds">
                    <div class="lead"><p><span>Your living costs will vary significantly depending on your lifestyle.&nbsp;</span></p></div>
                    <p>These guides will give you a rough idea of what your expenditure could be if you live in either University accommodation or private-rented accommodation. A typical postgraduate year is 51 weeks.</p>
                    <p>The <strong>estimated</strong>&nbsp;annual livings expenses are between &pound;9,672 and &pound;12,295.</p>
                </div>
                <div class="o-grid__box o-grid__box--third is-hidden@small-">
                    <!-- navigation object : Contact details -->            <div class="c-panel c-panel--compact">
                    <div class="c-panel__content">
                        <h3>Contact us</h3>
                        <p>
                            <strong>Postgraduate Admissions
                            </strong>
                            <br>
                            <i class="c-icon c-icon--envelope-o c-icon--before"></i><a href="mailto:pg-admissions@york.ac.uk">pg-admissions@york.ac.uk</a>
                            <br>
                            <i class="c-icon c-icon--phone c-icon--before"></i><a href="tel:+441904322142">+44 (0)1904 322142</a>
                            <br>
                        </p>
                    </div>
                </div>

                    <!-- navigation object : Related links --><div class="c-panel c-panel--compact">
                    <div class="c-panel__content">
                        <h4>Related links</h4>
                        <ul>
                            <li><a href="http://international.studentcalculator.org/">International student calculator</a></li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>

            <div class="o-grid__row">
                <div class="o-grid__box o-grid__box--twothirds">
                    <div class="c-accordion">
                        <div class="c-accordion__item js-accordion__item">
                            <a href="#" class="c-accordion__title">University accommodation<i class="c-accordion__icon c-icon c-icon--plus c-icon--after"></i></a>
                            <div class="c-accordion__content" id="accordion-531932">
                                <p>These costs are based on a single postgraduate student living in University accommodation, where&nbsp;you'll be living with other postgraduate students.</p>
                                <table>
                                    <tbody>
                                    <tr><th>Item</th><th>Weekly</th><th>Total for 51 weeks</th></tr>
                                    <tr>
                                        <td>Accommodation on campus (51-week let length)<small data-redactor-tag="small"><br /></small></td>
                                        <td>&pound;106 - &pound;176</td>
                                        <td>
                                            <p>&pound;5,406 - &pound;8,976</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Food</td>
                                        <td>&pound;32</td>
                                        <td>&pound;1,632</td>
                                    </tr>
                                    <tr>
                                        <td>Toiletries and household items</td>
                                        <td>&pound;8</td>
                                        <td>
                                            <p>&pound;408</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Laundry (&pound;4 per wash and dry)</td>
                                        <td>&pound;4.20 per wash and dry</td>
                                        <td>&pound;214.20</td>
                                    </tr>
                                    <tr>
                                        <td>Course-related costs</td>
                                        <td>-</td>
                                        <td>&pound;585</td>
                                    </tr>
                                    <tr>
                                        <td>Social and sporting activity&nbsp;(not including travel costs)</td>
                                        <td>&pound;25&nbsp;</td>
                                        <td>
                                            <p>&pound;1,275</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Mobile phone</td>
                                        <td>
                                            <p>&pound;8</p>
                                        </td>
                                        <td>&pound;408</td>
                                    </tr>
                                    <tr>
                                        <td><strong data-redactor-tag="strong">Total</strong></td>
                                        <td>&nbsp;</td>
                                        <td>
                                            <p><strong>&pound;9,928.20</strong></p>
                                            <p><strong>&pound;13,498.20</strong></p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <ul>
                                    <li><span>Accommodation costs are rounded to the nearest pound. The yearly costs are based on the actual weekly cost rather than the rounded weekly costs shown in this breakdown.</span></li>
                                    <li>Our&nbsp;<a href="/study/accommodation/postgraduate/">student accommodation</a>&nbsp;costs include electricity, heating, water, wifi and insurance.&nbsp;The published prices are for 2018/19 entry.</li>
                                    <li>Some accommodation options also include a&nbsp;<a href="http://www.tvlicensing.co.uk/check-if-you-need-one/for-your-home/students-aud1?WT.mc_id=r044&amp;x=0">TV Licence</a>&nbsp;for communal areas. If you'd like to watch&nbsp;live TV or BBC catch up TV in your bedroom you will need to purchase a TV Licence (&pound;147 per year).</li>
                                </ul>
                            </div>
                        </div>
                        <div class="c-accordion__item js-accordion__item">
                            <a href="#" class="c-accordion__title">Private-rented accommodation<i class="c-accordion__icon c-icon c-icon--plus c-icon--after"></i></a>
                            <div class="c-accordion__content" id="accordion-531933">
                                <table>
                                    <tbody>
                                    <tr><th>Item</th><th>Weekly</th><th>Total for 52 weeks</th></tr>
                                    <tr>
                                        <td>Private-rented accommodation</td>
                                        <td>&pound;70 - &pound;95</td>
                                        <td>&pound;3,640 - &pound;4,940</td>
                                    </tr>
                                    <tr>
                                        <td>Household bills</td>
                                        <td>&pound;14</td>
                                        <td>&pound;728</td>
                                    </tr>
                                    <tr>
                                        <td>Toiletries, household items and laundry</td>
                                        <td>&pound;13</td>
                                        <td>
                                            <p>&pound;676</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Food</td>
                                        <td>&pound;32</td>
                                        <td>&pound;1,664</td>
                                    </tr>
                                    <tr>
                                        <td>Mobile phone</td>
                                        <td>&pound;8</td>
                                        <td>&pound;416</td>
                                    </tr>
                                    <tr>
                                        <td>Internet and landline</td>
                                        <td>&pound;5</td>
                                        <td>&pound;260</td>
                                    </tr>
                                    <tr>
                                        <td>Course-related costs</td>
                                        <td>-</td>
                                        <td>&pound;585</td>
                                    </tr>
                                    <tr>
                                        <td>Contents insurance</td>
                                        <td>-</td>
                                        <td>&pound;27</td>
                                    </tr>
                                    <tr>
                                        <td>Sport and social costs&nbsp;(not including travel costs)</td>
                                        <td>&pound;25</td>
                                        <td>&pound;1,300</td>
                                    </tr>
                                    <tr>
                                        <td><strong data-redactor-tag="strong">Total</strong></td>
                                        <td>&nbsp;</td>
                                        <td>
                                            <p><strong>&pound;9,296 - &pound;10,596</strong></p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <ul>
                                    <li>Rent costs vary depending on a number of factors such as location and the number of people you're sharing with.&nbsp;Find out more about&nbsp;<a href="/study/accommodation/private-sector/">private-rented accommodation</a>&nbsp;in York.</li>
                                    <li>Your letting agent may also charge administration fees when you apply for and start your tenancy. These charges vary by letting agent.</li>
                                    <li>If you'd like to watch live TV you will also need to purchase a <a href="http://www.tvlicensing.co.uk/">TV Licence</a> which is &pound;147 per year.</li>
                                    <li>If you live off campus beyond walking or cycling distance you will need to allow for travel expenses. A weekly bus pass costs approximately &pound;10.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="c-accordion__item js-accordion__item">
                            <a href="#" class="c-accordion__title">Estimated social costs<i class="c-accordion__icon c-icon c-icon--plus c-icon--after"></i></a>
                            <div class="c-accordion__content" id="accordion-531934">
                                <table border="0">
                                    <thead>
                                    <tr><th>Item</th><th>Estimated cost</th></tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Bus fare (campus to town return)</td>
                                        <td>&pound;2.50</td>
                                    </tr>
                                    <tr>
                                        <td>Bus fare weekly pass</td>
                                        <td>&pound;11</td>
                                    </tr>
                                    <tr>
                                        <td>Cinema ticket</td>
                                        <td>&pound;5.50 - &pound;10.50</td>
                                    </tr>
                                    <tr>
                                        <td>York Student Cinema</td>
                                        <td>&pound;3</td>
                                    </tr>
                                    <tr>
                                        <td>Taxi (campus to town)</td>
                                        <td>&pound;7</td>
                                    </tr>
                                    <tr>
                                        <td>Sport Centre membership</td>
                                        <td>&pound;25</td>
                                    </tr>
                                    <tr>
                                        <td>Sport club membership</td>
                                        <td>from &pound;10</td>
                                    </tr>
                                    <tr>
                                        <td>Student society membership</td>
                                        <td>&pound;4</td>
                                    </tr>
                                    <tr>
                                        <td>Coffee on campus</td>
                                        <td>&pound;2</td>
                                    </tr>
                                    <tr>
                                        <td>Pint of lager on campus</td>
                                        <td>&pound;2.50&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>Glass of wine on campus</td>
                                        <td>&pound;2.75</td>
                                    </tr>
                                    <tr>
                                        <td>Nightclub entry</td>
                                        <td>&pound;6</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="o-grid__row">
                <div class="o-grid__box o-grid__box--twothirds">
                    <h2>Further information</h2>
                    <h3>Food</h3>
                    <p>Your food costs will vary significantly depending on your personal choice about where and what you eat.</p>
                    <h3>Course-specific costs</h3>
                    <p>For some courses, there may be additional costs such as&nbsp;for textbooks, course materials, field trips, etc.&nbsp;These&nbsp;costs cannot reasonably be calculated in advance and change from year to year. For further information we recommend that you check with the relevant&nbsp;<a href="/about/departments/academic/">academic department</a>.</p>
                    <h3>International students</h3>
                    <p>If you require a Tier 4 visa to study in the UK you need to pay for your visa application as well as an Immigration Health Surcharge (IHS). The charges vary depending on whether you're applying from inside or outside the UK.</p>
                    <ul>
                        <li><a title="Root%20%BB%20University%20Website%20%BB%20Student%20home%20%BB%20Support%2C%20welfare%20and%20health%20%BB%20International%20students%20%BB%20Living%20in%20York%20%BB%20Health%20care" href="/students/support/international/living/health/">Immigration Health Surcharge (IHS)</a></li>
                        <li><a href="http://www.york.ac.uk/students/support/international/immigration/">Visa advice</a></li>
                    </ul>
                    <h4>International student calculator</h4>
                    <p>To help&nbsp;you work out how to manage&nbsp;your money and build a budget for&nbsp;living and studying in the UK&nbsp;you can use the&nbsp;<a href="http://international.studentcalculator.org/">international student calculator</a>.</p>
                    <h3>Students with children</h3>
                    <p>We have properties on and off campus to house families and we work with the York Housing Association (YHA) to provide even more family accommodation.</p>
                    <p>Expect to pay around &pound;145 to &pound;180 per week (including utility bills) for University-owned family accommodation, or &pound;600 to &pound;950 per month (excluding utility bills) for a private rented property.</p>
                    <ul>
                        <li><a href="http://www.york.ac.uk/study/accommodation/families/">Family accommodation</a><em data-redactor-tag="em"><br /></em></li>
                        <li><a href="http://www.york.ac.uk/study/accommodation/private-sector/">Private sector accommodation</a><em data-redactor-tag="em"><br /></em></li>
                    </ul>
                    <h4>Childcare costs</h4>
                    <p>We also have a <a href="https://www.york.ac.uk/univ/nrsry/">small campus nursery</a> which costs &pound;37 per child for a full day. If you decide to hire a childminder they usually charge around &pound;3.80 per child per hour.</p>
                    <h3>Work while you study</h3>
                    <p>You may wish to find a part-time job to help fund your studies and/or gain extra skills and experience.</p>
                    <p>Our Careers team offer lots of information to help you find a part-time or temporary job.</p>
                    <ul>
                        <li><a href="/study/postgraduate-taught/fees/work-during-study/">Work while you study</a></li>
                        <li><a href="https://york.targetconnect.net/home.html">Search for a job (Careers Gateway)</a></li>
                        <li><a href="/students/support/international/employment/">Working during your studies: information for international students</a></li>
                    </ul>
                    <h3>Living costs for future years</h3>
                    <p>When planning your finances for any future years of study in York, you should allow for an estimated increase in living expenses of 2% each year.</p>
                </div>
            </div><div class="o-grid__row is-visible@small-">
                <div class="o-grid__box o-grid__box--full">
                    <!-- navigation object : Contact details -->            <div class="c-panel c-panel--compact">
                    <div class="c-panel__content">
                        <h3>Contact us</h3>
                        <p>
                            <strong>Postgraduate Admissions
                            </strong>
                            <br>
                            <i class="c-icon c-icon--envelope-o c-icon--before"></i><a href="mailto:pg-admissions@york.ac.uk">pg-admissions@york.ac.uk</a>
                            <br>
                            <i class="c-icon c-icon--phone c-icon--before"></i><a href="tel:+441904322142">+44 (0)1904 322142</a>
                            <br>
                        </p>
                    </div>
                </div>

                    <!-- navigation object : Related links --><div class="c-panel c-panel--compact">
                    <div class="c-panel__content">
                        <h4>Related links</h4>
                        <ul>
                            <li><a href="http://international.studentcalculator.org/">International student calculator</a></li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>


        </div>
    </div>
</div>

<footer class="c-footer-main" role="contentinfo">
    <div class="o-grid o-wrapper">
        <div class="o-grid__row">
            <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
                <h3 class="c-footer-main__heading">Information for</h3>
                <ul>
                    <li><a href="http://www.york.ac.uk/study/">Prospective students</a></li>
                    <li><a href="https://www.york.ac.uk/students/">Current students</a></li>
                    <li><a href="https://www.york.ac.uk/staff/">Staff</a></li>
                    <li><a href="http://www.yorkspace.net/">Alumni</a></li>
                    <li><a href="http://www.york.ac.uk/news-and-events/for-media/">Press and media</a></li>
                </ul>
            </div>
            <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
                <h3 class="c-footer-main__heading">About</h3>
                <ul>
                    <li><a href="http://www.york.ac.uk/about/">About the University</a></li>
                    <li><a href="http://www.york.ac.uk/research/">Research</a></li>
                    <li><a href="http://www.york.ac.uk/business/">Business</a></li>
                    <li><a href="http://www.york.ac.uk/global">Global</a></li>
                    <li><a href="http://www.york.ac.uk/news-and-events/news/">News</a></li>
                    <li><a href="http://www.york.ac.uk/news-and-events/events/">Events</a></li>
                </ul>
            </div>
            <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
                <h3 class="c-footer-main__heading">Quick links</h3>
                <ul>
                    <li><a href="http://www.york.ac.uk/about/departments/a-to-z/">A-Z</a></li>
                    <li><a href="http://www.york.ac.uk/about/departments/">Departments</a></li>
                    <li><a href="https://www.york.ac.uk/directory/">Staff directory</a></li>
                    <li><a href="http://www.york.ac.uk/about/maps/">Maps and directions</a></li>
                    <li><a href="http://www.york.ac.uk/about/term-dates/">Term dates</a></li>
                    <li><a href="http://jobs.york.ac.uk/">Job vacancies</a></li>
                </ul>
            </div>
            <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
                <h3 class="c-footer-main__heading">Contact us</h3>
                <p class="c-footer-main__address">University of York<br>
                    York<br>
                    YO10 5DD<br>
                    United Kingdom<br>
                </p>
                <p>+44 (0) 1904 320 000</p>
            </div>
        </div>
        <div class="o-grid__row">
            <div class="o-grid__box o-grid__box--quarter">
                <p>
                    <a href="https://twitter.com/uniofyork" aria-label="Follow us on Twitter"><i class="c-icon c-icon--twitter c-icon--2x c-icon--fw" title="Follow us on Twitter" aria-hidden="true"></i></a>
                    <a  href="https://www.facebook.com/universityofyork" aria-label="Like us on Facebook"><i class="c-icon c-icon--facebook c-icon--2x c-icon--fw" title="Like us on Facebook" aria-hidden="true"></i></a>
                    <a href="https://instagram.com/uniofyork" aria-label="Follow us on Instagramr"><i class="c-icon c-icon--instagram c-icon--2x  c-icon--fw" title="Follow us on Instagram" aria-hidden="true"></i></a>
                    <a  href="http://www.youtube.com/universityofyorkuk" aria-label="Watch our videos on YouTube"><i class="c-icon c-icon--youtube c-icon--2x c-icon--fw" title="Watch our videos on YouTube" aria-hidden="true"></i></a>
                </p>
            </div>
            <div class="o-grid__box o-grid__box--half">
                <p>&copy; University of York <br /> <a href="http://www.york.ac.uk/about/legal-statements/">Legal statements</a> | <a href="http://www.york.ac.uk/about/legal-statements/#tab-5">Privacy and cookies</a></p>
            </div>
            <div class="o-grid__box o-grid__box--quarter"><!-- Footer start-->
                <p><a class="t4Edit-page" href="https://cms.york.ac.uk/terminalfour/SiteManager?ctfn=content&amp;fnno=30&amp;sid=165311">Modify</a></p>
            </div>
        </div>
    </div>
</footer>

</body>

</html><!-- Footer end-->