<a class="btn{{#type}} btn-{{this}}{{/type}}{{#size}} btn-{{this}}{{/size}}" href="{{#href}}{{this}}{{/href}}{{^href}}#{{/href}}">{{#icon-before}}<i class="icon-{{this}} icon-before"></i>{{/icon-before}}{{text}}{{#icon-after}}<i class="icon-{{this}} icon-after"></i>{{/icon-after}}</a>