<button class="btn{{#type}} btn-{{this}}{{/type}}{{#size}} btn-{{this}}{{/size}}{{#block}} btn-block{{/block}}">{{#icon-above}}<i class="icon-above icon-{{this}}"></i>{{/icon-above}}{{#icon-before}}<i class="icon-{{this}} icon-before"></i>{{/icon-before}}{{#icon}}<i class="icon-{{this}}"></i>{{/icon}}{{text}}{{#icon-after}}<i class="icon-{{this}} icon-after"></i>{{/icon-after}}</button>
