<input type="{{#radio}}radio{{/radio}}{{^radio}}checkbox{{/radio}}" id="{{id}}" name="{{parentConfig.name}}" class="c-btn--selectable" value="{{text}}">
<label for="{{id}}" class="c-btn {{#type}} c-btn--{{this}}{{/type}} c-btn--{{#size}}{{this}}{{/size}}{{^size}}medium{{/size}} c-btn--selectable__label" role="button">{{#icon-above}}<i class="c-icon c-icon--above c-icon--{{this}}"></i>{{/icon-above}}{{#icon-before}}<i class="c-icon c-icon--{{this}} c-icon--before"></i>{{/icon-before}}{{#icon}}<i class="c-icon c-icon--{{this}}"></i>{{/icon}}{{text}}{{#icon-after}}<i class="c-icon c-icon--{{this}} c-icon--after"></i>{{/icon-after}}</label>
