<input type="checkbox" id="selectable" class="c-btn{{#type}} c-btn--{{this}}{{/type}} c-btn--{{#size}}{{this}}{{/size}}{{^size}}medium{{/size}}" role="button">
<label for="selectable" class="c-btn c-btn--medium">{{text}}</label>
