<button class="c-btn{{#type}} c-btn--{{this}}{{/type}}{{#size}} c-btn--{{this}}{{/size}}{{^size}} c-btn--medium{{/size}}{{#block}} c-btn--block{{/block}}">{{#icon-above}}<i class="c-icon c-icon--above c-icon--{{this}}"></i>{{/icon-above}}{{#icon-before}}<i class="c-icon c-icon--{{this}} c-icon--before"></i>{{/icon-before}}{{#icon}}<i class="c-icon c-icon--{{this}}"></i>{{/icon}}{{text}}{{#icon-after}}<i class="c-icon c-icon--{{this}} c-icon--after"></i>{{/icon-after}}</button>
