<div class="c-key-fact o-media">
  <div class="o-media__picture o-media__picture--text">
    <span id="text" class="c-key-fact__text" aria-hidden="true">{{text}}<sup>{{sup}}</sup></span>
  </div>
  <div class="o-media__body o-media__body--text">
      <span id="title" class="is-hidden"> {{text}}{{sup}} {{title}}</span>
     <h3 aria-labelledby="title" class="c-key-fact__title">{{title}}</h3>
    <div class="c-key-fact__content">{{content}}</div>
  </div>
</div>