<div class="c-key-fact o-media">
  <div class="o-media__picture o-media__picture--text">
    <span class="c-key-fact__text">{{text}}<sup>{{sup}}</sup></span>
  </div>
  <div class="o-media__body o-media__body--text">
    <h3 class="c-key-fact__title">{{title}}</h3>
    <div class="c-key-fact__content">{{content}}</div>
  </div>
</div>