<div class="h-card h-card--byline">{{#if image}}
  <figure class="c-figure h-card__figure">
    <img class="c-figure__image u-photo" src="{{image}}" alt="{{name}}" />
  </figure>{{/if}}
  <p class="h-card__name p-name">{{name}}</p>{{#if position}}
  <p class="h-card__position">{{position}}</p>{{/if}}
</div>