/*
 * SKIP LINK
 */

.o-skip-link {
  @include transition(height);
  display:block;
  text-align:center;
  color:$o-skip-link-color;
  background:$o-skip-link-background-color;
  width:auto;
  line-height:2;
  z-index:99;
  height:0;
  overflow:hidden;
  &:focus {
    height:2em;
  }
}