/*
 * SKIP LINK + A11Y LINK
 */

.o-skip-link {
  display:block;
  text-align:center;
  color:$o-skip-link-color;
  background:$o-skip-link-background-color;
  width:auto;
  z-index:128;
  height:0;
  padding:0;
  overflow:hidden;
  &:focus {
    height:auto;
    padding:$base-spacing/2;
  }
  &:hover {
    color:$o-skip-link-color;
    background:$o-skip-link-background-hover;
  }
}
