//
// GRID SYSTEM
//
$box-margin: $base-spacing;

.o-grid {

}

.o-grid__row {
  @include clearfix;
  font-size:0;
  position:relative;
  margin-left:-$box-margin;
}
.o-grid__row--alt1,
.o-grid__row--alt2,
.o-grid__row--alt3 {
  // Coloured rows need to have padding so components don't butt up against the top
  padding-top:$base-spacing;
  &:before,
  &:after {
    display:block;
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    top:0;
  }
  &:before {
    right:100%;
  }
  &:after {
    left:100%;
  }
  // Rows following coloured rows should also be padded at the top to separate the content.
  + .o-grid__row {
    padding-top:$base-spacing;
  }
}
.o-grid__row--alt1,
.o-grid__row--alt2 {
  color:$light;
  hr {
    background-color:$blue;
    color:$blue;
  }
  a {
    color:darken($light, 5);
    &:hover {
      color:$blue;
    }
  }
}

.o-grid__row--alt1 {
  background-color:$teal;
  &:before,
  &:after {
    background-color:$teal;
  }
}
.o-grid__row--alt2 {
  background-color:darken($teal,5);
  &:before,
  &:after {
    background-color:darken($teal,5);
  }
}
.o-grid__row--alt3 {
  background-color:$s2;
  &:before,
  &:after {
    background-color:$s2;
  }
}


.o-grid__box {
  @include font-size;
  display:inline-block;
  vertical-align:top;
  padding-left:$box-margin;
}

.o-grid__box--full {
  width:100%;
}
.o-grid__box--half {
  width:50%;
  @include mq(medium, '-') {
    width:100%;
  }
}
.o-grid__box--third {
  width:33.333%;
  @include mq(small, '-') {
    width:100%;
  }
}
.o-grid__box--twothirds {
  width:66.666%;
  @include mq(small, '-') {
    width:100%;
  }
}
.o-grid__box--quarter {
  width:25%;
  @include mq(medium) {
    width:50%;
  }
  @include mq(small, '-') {
    width:100%;
  }
}
.o-grid__box--threequarters {
  width:75%;
  @include mq(medium, '-') {
    width:100%;
  }
}

@include mq(medium) {
  // Stops stepped display of q+h+q
  .o-grid__box--quarter + .o-grid__box--half {
    float: left;
  }
  // Stops the above fix also affecting q+q+h
  .o-grid__box--quarter + .o-grid__box--quarter + .o-grid__box--half {
    float: none;
  }
  // Fixes tq+q
  .o-grid__box--threequarters + .o-grid__box--quarter {
    width:100%;
  }
  // Wow I can't believe I'm doing it this way
  // If quarter-size first child is also 2nd to last child then it must be q+tq
  .o-grid__box--quarter:first-child:nth-last-child(2) {
    width:100%;
  }
}

//
// @ classes allow you to override the default response on specific screen sizes
// e.g. .o-grid__box--third@small will go to 33.333% width on small screens and lower
// (even if it would normally go to 100% width)
//
$htdiw: mapReverse($width);
@each $size, $measurement in $htdiw {

  @include mq(#{$size}, '-') {
    // Two classes to override specificity of usual grid boxes
    .o-grid__box {
      &.o-grid__box--full\@#{$size} {
        width:100%;
      }
      &.o-grid__box--half\@#{$size} {
        width:50%;
      }
      &.o-grid__box--third\@#{$size} {
        width:33.333%;
      }
      &.o-grid__box--twothirds\@#{$size} {
        width:66.666%;
      }
      &.o-grid__box--quarter\@#{$size} {
        width:25%;
      }
      &.o-grid__box--threequarters\@#{$size} {
        width:75%;
      }

    }
  }
}
