//
// MEDIA OBJECT
//
@include mq(small, '+') {
  .o-media {
    clear:both;
    display:table;
    margin-bottom:20px;
  }
  .o-media__picture {
    @include demarginalise;
    display:table-cell;
    padding-right:20px;
    .o-media--top & {
      vertical-align:top;
    }
    .o-media--middle & {
      vertical-align:middle;
    }
    .o-media--bottom & {
      vertical-align:bottom;
    }
    // Override these since they screw up the table-cell layout
    .c-figure__image {
      width:auto;
      max-width:none;
    }
    // Image sizing
    .c-figure__image--thumbnail {
        max-width:80px;
    }
  }
  .o-media__body {
    @include demarginalise;
    display:table-cell;
    vertical-align:top;
    // Ensures picture is as small as it can be even if content in body is minimal
    width: 100%;
  }
  .o-media__title {
    margin-bottom:0;
  }
  p + .o-media__title {
    margin-top:0px;
  }
}

// Undoes the above for media objects in a sidebar
// Eg: Contacts on country pages - https://www.york.ac.uk/study/international/your-country/china/
// CM 16/5/2019 - removed margin-bottom:0, as this also negatively affects key facts
// This needs replacing with a modifier (e.g. o-media--stacked)
@include mq( huge , '-' ) {
  @include mq( medium , '+' ) {
    .o-grid__box--third
    {
      .o-media {
        display:block;
      }
      .o-media__picture {
        display:block;
        padding-right:0;
        vertical-align:unset;
        margin:10px 0;
      }
      .o-media__body {
        display:block;
        vertical-align:unset;
        width:auto;
        margin-bottom:10px;
      }
    }
  }
}
