//
// STRUCTURE
//

.o-wrapper {
  @include clearfix;
  @include tiny-padding;
  margin:0 auto;
  max-width:$container-width;
}
.o-wrapper--wide {
  max-width:100%;
  padding:0;
}
.o-wrapper--main {
  // Only element to have margin-top!
  margin-top:$base-spacing;
  // Last row is padded to space away from the footer
  > .o-grid__row:last-of-type {
    padding-bottom:$base-spacing;
  }
}
