//
// STRUCTURE
//

.o-wrapper {
  @include clearfix;
  margin:0 auto;
  max-width:$container-width;
  padding:0 $base-spacing;
}
.o-wrapper--wide {
  max-width:100%;
  padding:0;
}
.o-wrapper--main {
  // Last row is padded to space away from the footer
  .o-grid__row:last-of-type {
    padding-bottom:$base-spacing;
  }
}
