// Mid sized mobiles and phablets and lower
@media only screen and (max-width: 639px) {
  .desktop-only,
  .tablet-only,
  .mobile-hidden {
    display:none;
  }
  .mobile-only {
    display:block;
  }
  // Grid updates
  .g-half,
  .g-threequarters,
  .g-quarter,
  .g-third,
  .g-twothirds {
    width:100%;
  }
}
// Just this size
@media only screen and (min-width: 480px) and (max-width: 639px) {
}
