<div class="atoz-nav">
  <ul>
  {{#letters}}
    <li><a href="#{{this.letter}}">{{this.letter}}</a></li>
  {{/letters}}
  </ul>
</div>
<div class="atoz-container">
  <ul>
  {{#letters}}
    <li>
      <h5 id="{{this.letter}}">{{this.letter}}</h5>
      <div class="atoz-content">
        <ul>
        {{#this.pages}}
          <li>
            <a href="{{this.link}}">
              <h6>{{this.title}}</h6>
              {{#this.content}}{{this}}{{/this.content}}
            </a>
          </li>
        {{/this.pages}}
        </ul>
      </div>

  {{/letters}}
  </ul>
</div>
