<blockquote class="c-blockquote{{#type}} c-blockquote--{{this}}{{/type}}{{#large}} c-blockquote--large{{/large}}">{{#if image}}
  <img class="c-blockquote__image c-blockquote__image--{{#if imagefloat}}{{imagefloat}}{{else}}right{{/if}}" src="{{image}}" alt="{{#if cite}}{{cite}}{{else}}{{content}}{{/if}}">{{/if}}
  <div class="c-blockquote__content">{{content}}</div>{{#cite}}
  <cite class="c-blockquote__cite">{{this}}</cite>{{/cite}}
</blockquote>
