<figure class="c-figure{{#type}} c-figure--{{this}}{{/type}}">
  <img class="c-figure__image" src="{{image}}">{{#caption}}
  <figcaption class="c-figure__caption c-figure__caption--{{#if @root/position}}{{@root/position}}{{else}}bottom-left{{/if}}">{{this}}</figcaption>{{/caption}}
</figure>