<figure{{#type}} class="figure-{{this}}"{{/type}}>
  <img src="{{image}}">{{#caption}}
  <figcaption class="caption caption-{{#if @root/position}}{{@root/position}}{{else}}bottom-left{{/if}}">{{this}}</figcaption>{{/caption}}
</figure>