<i class="c-icon c-icon--{{type}}{{#style}} c-icon--{{this}}{{/style}}{{#size}} c-icon--{{this}}{{/size}}" aria-hidden="true"{{#sr-text}} title="{{this}}"{{/sr-text}}></i>{{#sr-text}}<span class="c-icon__sr-text">{{this}}</span>{{/sr-text}}
