{{#if link}}<a class="c-label" href="{{link}}">{{else}}<div class="c-label">{{/if}}{{#icon}}<i class="c-icon c-icon--before c-icon--{{this}}"></i>{{/icon}}{{content}}{{#if link}}</a>{{else}}</div>{{/if}}