<div class="o-media{{#type}} o-media--{{this}}{{/type}}">
  {{#picture}}
  <div class="o-media__picture">
    {{#if this.content}}
     {{this.content}}
    {{else}}
    <figure class="c-figure">
       <img class="c-figure__image" src="{{this.image}}" alt="{{#this.caption}}{{this}}{{/this.caption}}" width="{{this.width}}">{{#this.caption}}
       <figcaption class="c-figure__caption c-figure__caption--bottom-left">{{this}}</figcaption>{{/this.caption}}
    </figure>
    {{/if}}
  </div>
  {{/picture}}
  {{#body}}
  <div class="o-media__body">
     {{#if this.title}}
      <h4 class="o-media__title">{{#if this.button}}<a href="{{this.button.link}}">{{/if}}{{this.title}}{{#if this.button}}</a>{{/if}}</h4>
    {{/if}}
    {{#if this.subtitle}}
      <h5 class="subtitle">{{this.subtitle}}</h5>
    {{/if}}
    {{#if this.content}}
      {{this.content}}
    {{/if}}
  </div>
  {{/body}}
</div>