<div class="media{{#if type}} media-{{type}}{{else}} media-horizontal{{/if}}">
  {{#picture}}
  <figure class="media-image">
    {{#if this.content}}
     {{this.content}}
    {{else}}
     <img src="{{this.image}}" alt="{{#this.caption}}{{this}}{{/this.caption}}" style="width: {{this.size}}; height: {{this.size}};">{{#this.caption}}
     <figcaption>{{this}}</figcaption>{{/this.caption}}
    {{/if}}
  </figure>
  {{/picture}}
  <div class="media-body">
  {{#body}}
     {{#if this.title}}
      <h4>{{#if this.button}}<a href="{{this.button.link}}">{{/if}}{{this.title}}{{#if this.button}}</a>{{/if}}</h4>
    {{/if}}
    {{#if this.subtitle}}
      <h5>{{this.subtitle}}</h5>
    {{/if}}
    {{#if this.content}}
      {{this.content}}
    {{/if}}
    {{#this.button}}
      <a href="{{this.link}}" class="btn">{{this.text}}</a>
    {{/this.button}}
  {{/body}}
  </div>
</div>