<div class="c-modal{{#frameless}} c-panel--frameless{{/frameless}}">{{#title}}
  <div class="c-modal__title">
    {{this}}
  </div>{{/title}}
  <div class="c-modal__content">
    {{content}}
  </div>
  <a class="c-modal__close" title="Close this window">&times;</a>
</div>