<div class="c-modal c-modal--{{#if type}}{{type}}{{else}}framed{{/if}}">{{#title}}
  <h4 class="c-modal__title">{{this}}</h4>{{/title}}
  <div class="c-modal__content">
    {{content}}
  </div>
  <a class="c-modal__close" title="Close this window">&times;</a>
</div>