<div{{#id}} id="{{this}}"{{/id}} class="c-show-more js-show-more"{{#limit}} data-elements-visible="{{this}}"{{/limit}}{{#moreText}} data-more-text="{{this}}"{{/moreText}}{{#lessText}} data-less-text="{{this}}"{{/lessText}}>
  <div class="c-show-more__content">{{content}}</div>
</div>
