<div class="c-signpost">
  {{#icon}}<i class="c-signpost__icon c-icon c-icon--{{this}} c-icon--4x"></i>{{/icon}}
  <h3>{{title}}</h3>
  <p>{{content}}</p>
  <a class="c-btn c-btn--medium" href="{{href}}" role="button">{{cta}}</a>
</div>
