<div class="c-tabs c-tabs--{{#type}}{{this}}{{/type}}{{^type}}horizontal{{/type}} {{#mode}}c-tabs--{{this}}{{/mode}} js-tabs">
  <ul role="tablist" class="c-tabs__nav">
    {{#tabs}}
      <li role="tab" class="c-tabs__tab{{#if @first}} is-active{{/if}}"><a aria-controls="{{this.id}}" class="c-tabs__link" href="#{{this.id}}" aria-selected="{{#if @first}}true{{else}}false{{/if}}">{{this.title}}</a></li>
    {{/tabs}}
  </ul>
  <div class="c-tabs__container">
    {{#tabs}}
      <div role="tabpanel" class="c-tabs__content{{#if @first}} is-active{{/if}}" aria-hidden="{{#if @first}}false{{else}}true{{/if}}" id="{{this.id}}">
      {{this.content}}
      </div>
    {{/tabs}}
  </div>
</div>
