<div class="c-tabs js-tabs">
  <ul class="c-tabs__nav">
    {{#tabs}}
      <li class="c-tabs__tab{{#if @first}} is-active{{/if}}"><a class="c-tabs__link" href="#{{this.id}}">{{this.title}}</a></li>
    {{/tabs}}
  </ul>
  <div class="c-tabs__container">
    {{#tabs}}
      <div class="c-tabs__content{{#if @first}} is-active{{/if}}" id="{{this.id}}">
      {{this.content}}
      </div>
    {{/tabs}}
  </div>
</div>
