<a class="c-gallery-item js-modal js-modal--frameless" href="{{link}}">
  {{#if thumbnail}}
  <figure class="c-gallery-item__thumbnail">
     <img class="c-gallery-item__thumbnail--image" src="{{thumbnail}}" alt="">
  </figure>
  {{/if}}{{#if content}}
  <div class="c-gallery-item__content">
      {{content}}
  </div>{{/if}}
</a>