//
// FORMS
//
form {
}
fieldset {
  border:1px solid $dark;
  margin:0;
  padding:20px 0 20px 20px;
}
legend {
  padding:0 8px;
}
%text-input {
  line-height:1.626;
  height:2em;
  border:1px solid $dark;
  padding:0.187em 8px;
  border-radius:3px;
  background:transparent;
  -webkit-appearance:none;
}
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=tel] {
  @extend %text-input;
}
textarea {
  @extend %text-input;
  min-height:5.878em; // Three lines of text + 1em for padding
}
select {
  @extend %text-input;
  padding-right:40px;
  padding-right:calc(2em + 8px);
}
.form-select {
  &:after {
    content:'\25bc';
    display:block;
    position:absolute;
    right:20px;
    bottom:0;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    height:2em;
    line-height:2em;
    width:2em;
    font-size:16px;
    text-align:center;
    color:$light;
    background-color:$dark;
    pointer-events:none;
  }
}
input[type=file] {
  height:2em;
  padding:0.187em 0; // regular line height (1.626) plus padding = 2
}
input[type=radio],
input[type=checkbox] {

}
.form-element {
  position:relative;
  padding-right:20px;
  font-size:0;
  * {
    font-size:16px;
  }
}
.form-stacked {
  .g-row {
    margin:0 0 20px;
  }
  label {
    display:block;
    & ~ label {
      display:inline; // Only first label is block-level
    }
  }
  %text-input {
    width:100%;
  }
  .form-select {
    &:after {
    }
  }
}
.form-inline {
  .g-row {
    margin:0 0 10px;
  }
  label {
    display:inline-block;
    width:25%;
    vertical-align:top;
    min-height:2em;
    padding:0.187em 0; // regular line height (1.626) plus padding = 2
    & ~ label {
      width:auto;
      padding:0;
    }
  }
  %text-input {
    width:75%;
  }
}