//
// FORMS
//

// Should these next ones go in _base.scss?
form {
}
fieldset {
  border:1px solid $dark;
  margin:0;
  padding:20px 0 20px 20px;
}
legend {
  padding:0 8px;
}
.c-form__input {
  line-height:1.626;
  height:2em;
  border:1px solid $dark;
  padding:0.187em 8px;
  border-radius:3px;
  background:transparent;
  -webkit-appearance:none;
  width:100%;
}
.c-form__input--textarea {
  min-height:5.878em; // Three lines of text + 1em for padding
}
.c-form__select {
  padding-right:40px;
  padding-right:calc(2em + 8px);
  &:after {
    content:'\25bc';
    display:block;
    position:absolute;
    right:20px;
    bottom:0;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    height:2em;
    line-height:2em;
    width:2em;
    font-size:16px;
    text-align:center;
    color:$light;
    background-color:$dark;
    pointer-events:none;
  }
}
.c-form__input--file {
  height:2em;
  padding:0.187em 0; // regular line height (1.626) plus padding = 2
  border:0;
}
.c-form__radio,
.c-form__checkbox {

}
.c-form__element {
  position:relative;
  font-size:0;
  * {
    font-size:16px;
  }
}
.c-form--stacked {
  .o-grid__row {
    margin-bottom:20px;
  }
  .c-form__label {
    display:block;
    & ~ .c-form__label {
      display:inline; // Only first .c-form__label is block-level
    }
  }
  %text-input {
    width:100%;
  }
  .c-form__select {
    &:after {
    }
  }
}
.c-form--inline {
  .o-grid__row {
    margin:0 0 10px;
  }
  .c-form__label {
    display:inline-block;
    width:25%;
    vertical-align:top;
    min-height:2em;
    padding:0.187em 0; // regular line height (1.626) plus padding = 2
    & ~ .c-form__label {
      width:auto;
      padding:0;
    }
  }
  %text-input {
    width:75%;
  }
}