  <footer class="c-footer-main" role="contentinfo">
    <div class="o-grid o-wrapper">
      <div class="o-grid__row">
        <div class="o-grid__box o-grid__box--quarter">
          <p>University of York<br>
          York<br>
          YO10 5DD<br>
          United Kingdom<br></p>
          <p>Tel: +44 (0) 1904 320 000</p>
        </div>
        <div class="o-grid__box o-grid__box--quarter">
          <ul>
            <li><a href="#">A to Z</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Press and media</a></li>
            <li><a href="#">Legal statements</a></li>
            <li><a href="#">Privacy and cookies</a></li>
          </ul>
        </div>
        <div class="o-grid__box o-grid__box--quarter">
          <h3>Follow us:</h3>
          <ul>
            <li><a href="#">Follow us on Twitter</a></li>
            <li><a href="#">Like us on Facebook</a></li>
            <li><a href="#">Find us YouTube</a></li>
          </ul>
        </div>
        <div class="o-grid__box o-grid__box--quarter">
          <p>&copy; University of York</p>
        </div>
      </div>
    </div>
  </footer>

<script src="js/prism.js"></script>

</body>

</html>