<footer class="c-footer-main" role="contentinfo">
  <div class="o-grid o-wrapper">
    <div class="o-grid__row">
      <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
        <h3 class="c-footer-main__heading">Information for</h3>
        <ul>
          <li><a href="http://www.york.ac.uk/study/">Prospective students</a></li>
          <li><a href="https://www.york.ac.uk/students/">Current students</a></li>
          <li><a href="https://www.york.ac.uk/staff/">Staff</a></li>
          <li><a href="http://www.yorkspace.net/">Alumni</a></li>
          <li><a href="http://www.york.ac.uk/news-and-events/for-media/">Press and media</a></li>
        </ul>
      </div>
      <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
        <h3 class="c-footer-main__heading">About</h3>
        <ul>
          <li><a href="http://www.york.ac.uk/about/">About the University</a></li>
          <li><a href="http://www.york.ac.uk/research/">Research</a></li>
          <li><a href="http://www.york.ac.uk/business/">Working with us</a></li>
          <li><a href="http://www.york.ac.uk/about/international-relations/">International relations</a></li>
          <li><a href="http://www.york.ac.uk/news-and-events/">News and events</a></li>
        </ul>
      </div>
      <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
        <h3 class="c-footer-main__heading">Quick links</h3>
        <ul>
          <li><a href="http://www.york.ac.uk/about/departments/a-to-z/">A-Z</a></li>
          <li><a href="http://www.york.ac.uk/about/departments/">Departments</a></li>
          <li><a href="https://www.york.ac.uk/directory/">Staff directory</a></li>
          <li><a href="http://www.york.ac.uk/about/maps/">Maps and directions</a></li>
          <li><a href="http://www.york.ac.uk/about/term-dates/">Term dates</a></li>
          <li><a href="http://jobs.york.ac.uk/">Job vacancies</a></li>
        </ul>
      </div>
      <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
        <h3 class="c-footer-main__heading">Contact us</h3>
        <p class="c-footer-main__address">University of York<br>
          York<br>
          YO10 5DD<br>
          United Kingdom<br>
        </p>
        <p>+44 (0) 1904 320 000</p>
      </div>
    </div>
    <div class="o-grid__row">
      <div class="o-grid__box o-grid__box--quarter">
        <p><a href="https://twitter.com/uniofyork"><i class="c-icon c-icon--twitter c-icon--2x c-icon--fw"></i></a> <a  href="https://www.facebook.com/universityofyork"><i class="c-icon c-icon--facebook c-icon--2x c-icon--fw"></i></a> <a href="https://instagram.com/uniofyork"><i class="c-icon c-icon--instagram c-icon--2x  c-icon--fw"></i></a> <a  href="http://www.youtube.com/universityofyorkuk"><i class="c-icon c-icon--youtube c-icon--2x c-icon--fw"></i></a></p>
      </div>
      <div class="o-grid__box o-grid__box--half">
        <p>&copy; University of York <br /> <a href="http://www.york.ac.uk/about/legal-statements/">Legal statements</a> | <a href="http://www.york.ac.uk/about/legal-statements/#tab-4">Privacy</a> | <a href="http://www.york.ac.uk/about/legal-statements/cookies/">Cookies</a></p>
      </div>
      <div class="o-grid__box o-grid__box--quarter">
        <p><a href="#" class="t4Edit-page">Edit</a> </p>
      </div>
    </div>
  </div>
</footer>

<!--[if gt IE 8]><!-->
<script src="{{#build}}/pattern-library{{/build}}/js/prism.js"></script>
<!--<[endif]-->

</body>

</html>
