<header class="c-main-header c-main-header--fixed" role="banner">
  <div class="o-wrapper">
    <h2 class="c-main-header__title"><img class="c-main-header__logo" src="img/logo.jpg" alt="University of York logo" width="264" height="41"> - Design Patterns</h2>
  </div>
  <div class="c-menu mobile-hidden" role="navigation">
    <div class="c-menu-title">
      <h1 class="c-menu-title__header"><a class="c-menu-title__link" href="#">{{title}}</a></h1>
    </div>
    <nav class="c-menu-nav">
      {{>nav}}
    </nav>
  </div>
</header>
