<header class="c-main-header" role="banner">
  <div class="o-wrapper o-grid">
    <div class="o-grid__row">
      <div class="o-grid__box o-grid__box--threequarters o-grid__box--threequarters@medium o-grid__box--threequarters@small o-grid__box--threequarters@tiny">
        <h2 class="c-main-header__title"><a class="c-main-header__link" href="http://www.york.ac.uk"><img class="c-main-header__logo" src="{{#if build}}https://www.york.ac.uk/static/stable/img/logo.svg{{else}}/img/logo.svg{{/if}}" alt="University of York logo"></a></h2>
      </div>
      <div class="o-grid__box o-grid__box--quarter o-grid__box--quarter@medium o-grid__box--quarter@small o-grid__box--quarter@tiny">
        <form action="https://www.york.ac.uk/search" method="get" class="c-form c-form--joined c-form--header">
          <fieldset>
            <div class="c-form__element">
              <input class="c-form__input c-form__input--text" type="text" id="q" name="q" placeholder="Search york.ac.uk" aria-label="Search" />
              <input type="hidden" name="site" value="yorkweb">
              <button class="c-btn c-btn--medium" type="submit"><i class="c-icon c-icon--search"></i></a>
            </div>
          </fieldset>
        </form>
        <a href="#Mobile-Search" class="c-mobile-search-button js-toggle-button"><i class="c-icon c-icon--search"></i></a>
      </div>
    </div>
  </div>
</header>
<form action="https://www.york.ac.uk/search" method="get" class="c-form c-form--joined c-form--mobile-search" id="Mobile-Search">
  <fieldset class="c-form__fieldset">
    <legend class="c-form__legend">Search york.ac.uk</legend>
    <div class="o-grid">
      <div class="o-grid__row">
        <div class="o-grid__box o-grid__box--full">
          <div class="c-form__element">
            <input class="c-form__input c-form__input--text" type="text" id="q-mobile" name="q" placeholder="Search york.ac.uk" aria-label="Search" />
            <input type="hidden" name="site" value="yorkweb">
            <button class="c-btn c-btn--medium" type="submit">Search</button>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
