<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title}} :: Digital Pattern Library</title>
  <meta name="description" content="University of York Digital Pattern Library">
  <meta name="author" content="University of York">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <link rel="canonical" href="">

  <link rel="stylesheet" href="https://use.typekit.net/dvj8rpp.css">

  {{#build}}

    {{#preview}}
        <link rel="apple-touch-icon" sizes="180x180" href="https://www.york.ac.uk/preview/pattern-library/img/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="64x64" href="https://www.york.ac.uk/preview/pattern-library/img/favicons/favicon-64x64.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://www.york.ac.uk/preview/pattern-library/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://www.york.ac.uk/preview/pattern-library/img/favicons/favicon-16x16.png">
        <link rel="manifest" href="https://www.york.ac.uk/preview/pattern-library/img/favicons/webmanifest.json">
        <link rel="mask-icon" href="https://www.york.ac.uk/preview/pattern-library/img/favicons/safari-pinned-tab.svg" color="#0f3d4c">
        <link rel="shortcut icon" href="https://www.york.ac.uk/preview/pattern-library/img/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#f0f2e9">
        <meta name="msapplication-config" content="https://www.york.ac.uk/preview/pattern-library/img/favicons/browserconfig.xml">
        <meta name="theme-color" content="#f0f2e9">

        <link rel="stylesheet" href="/preview/pattern-library/css/styles.min.css" media="screen">
        <link rel="stylesheet" href="/preview/pattern-library/css/docs.min.css" media="screen">

        <script async src="/preview/pattern-library/js/modernizr.min.js"></script>
        <script async src="/preview/pattern-library/js/app.min.js"></script>

        <!-- Print styles -->
        <link rel="stylesheet" href="/preview/pattern-library/css/print.min.css" media="print">
    {{/preview}}

    {{#release}}
        <link rel="apple-touch-icon" sizes="180x180" href="https://www.york.ac.uk/static/stable/img/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="64x64" href="https://www.york.ac.uk/static/stable/img/favicons/favicon-64x64.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://www.york.ac.uk/static/stable/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://www.york.ac.uk/static/stable/img/favicons/favicon-16x16.png">
        <link rel="manifest" href="https://www.york.ac.uk/static/stable/img/favicons/webmanifest.json">
        <link rel="mask-icon" href="https://www.york.ac.uk/static/stable/img/favicons/safari-pinned-tab.svg" color="#0f3d4c">
        <link rel="shortcut icon" href="https://www.york.ac.uk/static/stable/img/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#f0f2e9">
        <meta name="msapplication-config" content="https://www.york.ac.uk/static/stable/img/favicons/browserconfig.xml">
        <meta name="theme-color" content="#f0f2e9">

        <link rel="stylesheet" href="https://www.york.ac.uk/static/stable/css/styles.min.css"  media="screen">
        <link rel="stylesheet" href="https://www.york.ac.uk/static/stable/css/docs.min.css"  media="screen">

        <script async src="https://www.york.ac.uk/static/stable/js/modernizr.min.js"></script>
        <script async src="https://www.york.ac.uk/static/stable/js/app.min.js"></script>

        <!-- Print styles -->
        <link rel="stylesheet" href="https://www.york.ac.uk/static/stable/css/print.min.css" media="print">

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WXLX54');</script>
        <!-- End Google Tag Manager -->

    {{/release}}

  {{/build}}

  {{^build}}
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="64x64" href="/img/favicons/favicon-64x64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="/img/favicons/webmanifest.json">
  <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#0f3d4c">
  <link rel="shortcut icon" href="/img/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#f0f2e9">
  <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#f0f2e9">

  <link rel="stylesheet" href="/css/styles.css" media="screen">
  <link rel="stylesheet" href="/css/docs.css" media="screen">

  <script async src="/js/vendor/modernizr/modernizr.js"></script>
  <script async src="/js/vendor/requirejs/require.js" data-main="/js/app"></script>

  <!-- Print styles -->
  <link rel="stylesheet" href="/css/print.css" media="print">

  {{/build}}
</head>

<body id="{{id}}" class="docs category-{{category}}">

  {{#build}}
    {{#release}}
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXLX54"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    {{/release}}
  {{/build}}

  <a href="#Main-Content" class="o-skip-link">Skip to content</a>
