<header class="c-main-header" role="banner">
  <div class="o-wrapper o-grid">
    <div class="o-grid__row">
      <div class="o-grid__box o-grid__box--threequarters">
        <h2 class="c-main-header__title"><a href="http://www.york.ac.uk"><img class="c-main-header__logo" src="/img/logo.png" alt="University of York logo" width="250" height="40"></a> - Design Patterns</h2>
      </div>
      <div class="o-grid__box o-grid__box--quarter is-hidden@medium-">
        <form action="https://www.york.ac.uk/search" method="get" class="c-form c-form--joined c-form--header">
          <fieldset>
            <div class="c-form__element">
              <input class="c-form__input c-form__input--text" type="text" id="q" name="q" placeholder="Search york.ac.uk" />
              <input type="hidden" name="site" value="yorkweb">
              <a class="c-btn c-btn--medium js-submit-form" href="https://www.york.ac.uk/search" role="button"><i class="c-icon c-icon--search"></i></a>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <a href="#Mobile-Search" class="c-mobile-search-button js-toggle-button"><i class="c-icon c-icon--search"></i></a>
  </div>
</header>
<form action="https://www.york.ac.uk/search" method="get" class="c-form c-form--joined c-form--mobile-search" id="Mobile-Search">
  <fieldset class="c-form__fieldset">
    <legend class="c-form__legend">Search york.ac.uk</legend>
    <div class="o-grid">
      <div class="o-grid__row">
        <div class="o-grid__box o-grid__box--full">
          <div class="c-form__element">
            <input class="c-form__input c-form__input--text" type="text" id="q-mobile" name="q" placeholder="Search york.ac.uk" />
            <input type="hidden" name="site" value="yorkweb">
            <a class="c-btn c-btn--medium js-submit-form" href="#" role="button">Search</a>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
