<nav id="main-menu" class="main-menu mobile-hidden">
{{>nav}}
</nav>
<div id="mobile-menu-buttons" class="mobile-menu mobile-only">
  <a href="#mobile-search" class="mobile-search-button mobile-nav-button">Search</a>
  <a href="#mobile-menu" class="mobile-menu-button mobile-nav-button">Menu</a>
</div>
<nav id="mobile-menu" class="mobile-menu mobile-only">
{{>nav}}
</nav>
