<div class="o-wrapper o-wrapper--wide c-page-title__wrapper o-grid">
  <div class="o-grid__row">
    <div class="o-grid__box o-grid__box--full">
      <div class="c-page-title">
        <p class="c-page-title__header"><a class="c-page-title__link" href="#">{{title}}</a></p>
      </div>
    </div>
  </div>
</div>

<nav class="c-nav c-nav--main" role="navigation" id="Main-Navigation">
  <h4 class="c-nav__header">In this section</h4>
  {{>assocnav}}
  <h4 class="c-nav__header">Other sections</h4>
  {{>nav}}
</nav>
