<ul class="c-nav__list">
  <li class="c-nav__item">
    <a class="c-nav__link" href="index.html">Homepage</a>
  </li>
  <li class="c-nav__item">
    <a class="c-nav__link" href="layout.html">Layout</a>
  </li>
  <li class="c-nav__item">
    <a class="c-nav__link" href="components.html">CSS Components</a>
  </li>
  <li class="c-nav__item">
    <a class="c-nav__link" href="modules.html">JS Modules</a>
  </li>
  <li class="c-nav__item">
    <a class="c-nav__link" href="about.html">About</a>
  </li>
</ul>
