<ul class="c-nav__list c-nav__list--structural">
  <li class="c-nav__item">
    <a class="c-nav__link" href="/pattern-library/..\build\index.html">Homepage</a>
  </li>
  <li class="c-nav__item">
    <a class="c-nav__link" href="/pattern-library/..\build\layout\index.html">Layout</a>
  </li>
  <li class="c-nav__item">
    <a class="c-nav__link" href="/pattern-library/..\build\css-components\index.html">CSS Components</a>
  </li>
  <li class="c-nav__item">
    <a class="c-nav__link" href="/pattern-library/..\build\js-modules\index.html">JS Modules</a>
  </li>
  <li class="c-nav__item">
    <a class="c-nav__link" href="/pattern-library/..\build\scopes\index.html">Scopes</a>
  </li>
  <li class="c-nav__item">
    <a class="c-nav__link" href="/pattern-library/..\build\about\index.html">About</a>
  </li>
  <li class="c-nav__item c-nav__item--more"><a class="c-nav__link js-toggle-button" href="#Main-Navigation">More&hellip;</a></li></ul>
