    <ul class="c-subnav__list c-subnav--layout">
      <li class="c-subnav__item c-subnav__title"><a class="c-subnav__link">Grid</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\layout\grid.html">Basic grid</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\layout\alt-grid.html">Alternative grid</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\layout\image-grid.html">Image grid</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\layout\divided-grid.html">Divided grid</a></li>
      <li class="c-subnav__item c-subnav__title"><a class="c-subnav__link">General</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\layout\navigation.html">Navigation</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\layout\typography.html">Typography</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\layout\wrapper.html">Wrapper</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\layout\colours.html">Colours</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\layout\visibility.html">Visibility</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\layout\hcard.html">hCard</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\layout\breadcrumb.html">Breadcrumb</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\layout\accessibility.html">Accessibility</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\layout\utilities.html">Utilities</a></li>
    </ul>
    <ul class="c-subnav__list c-subnav--components">
      <li class="c-subnav__item c-subnav__title"><a class="c-subnav__link">Atoms</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\buttons.html">Buttons</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\icons.html">Icons</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\tables.html">Tables</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\alerts.html">Alerts</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\blockquotes.html">Blockquotes</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\block-links.html">Block links</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\label.html">Label</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\global-notices.html">Global Notices</a></li>
      <li class="c-subnav__item c-subnav__title"><a class="c-subnav__link">Molecules</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\media.html">Media object</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\button-groups.html">Button groups</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\tabs.html">Tabs</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\figures.html">Figures</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\banners.html">Banners</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\link-figures.html">Link figures</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\full-width-figures.html">Full width figures</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\atoz.html">A to Z</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\panels.html">Panels</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\pagination.html">Pagination</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\accordion.html">Accordion</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\modal.html">Modals</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\signposts.html">Signposts</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\clearing-tables.html">Clearing tables</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\key-fact.html">Key facts</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\tag.html">Tag lists</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\show-more.html">Show More</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\listings.html">Listings</a></li>
      <li class="c-subnav__item c-subnav__title"><a class="c-subnav__link">Organisms</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\gallery.html">Gallery</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\forms.html">Forms</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\events.html">Events</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\css-components\news.html">News</a></li>
    </ul>
    <ul class="c-subnav__list c-subnav--modules">
      <li class="c-subnav__item c-subnav__title"><a class="c-subnav__link">General modules</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\js-modules\utils.html">Utilities</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\js-modules\toggle.html">Toggle</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\js-modules\analytics-module.html">Analytics</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\js-modules\course-search.html">Course search</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\js-modules\youtube-embed.html">Youtube embed</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\js-modules\soundcloud-embed.html">Soundcloud embed</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\js-modules\map-module.html">Maps</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\js-modules\fullscreen.html">Fullscreen</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\js-modules\iframe.html">Iframe resizer</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\js-modules\google-docs.html">Google Docs</a></li>
      <li class="c-subnav__item c-subnav__title"><a class="c-subnav__link">Component modules</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\js-modules\accordion-module.html">Accordion</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\js-modules\responsive-tables.html">Responsive tables</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\js-modules\tabs-module.html">Tabs</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\js-modules\modal-module.html">Modal</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\js-modules\clearing-tables-module.html">Clearing tables</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\js-modules\modal-link-module.html">Modal link</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\js-modules\searchables-module.html">Searchables</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\js-modules\filterable-tables-module.html">Filterable tables</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\js-modules\equal-height-rows.html">Equal height rows</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\js-modules\show-more-module.html">Show More module</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\js-modules\autocomplete-module.html">Autocomplete module</a></li>
    </ul>
    <ul class="c-subnav__list c-subnav--scopes">
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\scopes\conversation.html">Conversation scope</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\scopes\formstack.html">Formstack scope</a></li>
    </ul>
    <ul class="c-subnav__list c-subnav--about">
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\about\css.html">CSS naming conventions</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\about\js.html">JS modules</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/..\build\about\todo.html">To do</a></li>
    </ul>
