    <ul class="c-subnav__list c-subnav--layout">
      <li class="c-subnav__item c-subnav__title"><a class="c-subnav__link">Grid</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/layout/grid.html">Basic grid</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/layout/alt-grid.html">Alternative grid</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/layout/image-grid.html">Image grid</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/layout/divided-grid.html">Divided grid</a></li>
      <li class="c-subnav__item c-subnav__title"><a class="c-subnav__link">General</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/layout/navigation.html">Navigation</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/layout/typography.html">Typography</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/layout/wrapper.html">Wrapper</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/layout/colours.html">Colours</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/layout/visibility.html">Visibility</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/layout/hcard.html">hCard</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/layout/breadcrumb.html">Breadcrumb</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/layout/accessibility.html">Accessibility</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/layout/utilities.html">Utilities</a></li>
    </ul>
    <ul class="c-subnav__list c-subnav--components">
      <li class="c-subnav__item c-subnav__title"><a class="c-subnav__link">Atoms</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/buttons.html">Buttons</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/icons.html">Icons</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/tables.html">Tables</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/alerts.html">Alerts</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/blockquotes.html">Blockquotes</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/block-links.html">Block links</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/label.html">Label</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/global-notices.html">Global Notices</a></li>
      <li class="c-subnav__item c-subnav__title"><a class="c-subnav__link">Molecules</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/media.html">Media object</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/button-groups.html">Button groups</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/tabs.html">Tabs</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/figures.html">Figures</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/banners.html">Banners</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/link-figures.html">Link figures</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/hero.html">Hero</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/full-width-figures.html">Full width figures</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/atoz.html">A to Z</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/panels.html">Panels</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/pagination.html">Pagination</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/accordion.html">Accordion</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/modal.html">Modals</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/signposts.html">Signposts</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/clearing-tables.html">Clearing tables</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/key-fact.html">Key facts</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/tag.html">Tag lists</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/show-more.html">Show More</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/listings.html">Listings</a></li>
      <li class="c-subnav__item c-subnav__title"><a class="c-subnav__link">Organisms</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/gallery.html">Gallery</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/forms.html">Forms</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/events.html">Events</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/css-components/news.html">News</a></li>
    </ul>
    <ul class="c-subnav__list c-subnav--modules">
      <li class="c-subnav__item c-subnav__title"><a class="c-subnav__link">General modules</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/js-modules/utils.html">Utilities</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/js-modules/toggle.html">Toggle</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/js-modules/analytics-module.html">Analytics</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/js-modules/course-search.html">Course search</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/js-modules/youtube-embed.html">Youtube embed</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/js-modules/soundcloud-embed.html">Soundcloud embed</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/js-modules/map-module.html">Maps</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/js-modules/fullscreen.html">Fullscreen</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/js-modules/iframe.html">Iframe resizer</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/js-modules/google-docs.html">Google Docs</a></li>
      <li class="c-subnav__item c-subnav__title"><a class="c-subnav__link">Component modules</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/js-modules/accordion-module.html">Accordion</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/js-modules/responsive-tables.html">Responsive tables</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/js-modules/tabs-module.html">Tabs</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/js-modules/modal-module.html">Modal</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/js-modules/clearing-tables-module.html">Clearing tables</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/js-modules/modal-link-module.html">Modal link</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/js-modules/searchables-module.html">Searchables</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/js-modules/filterable-tables-module.html">Filterable tables</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/js-modules/equal-height-rows.html">Equal height rows</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/js-modules/show-more-module.html">Show More module</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/js-modules/autocomplete-module.html">Autocomplete module</a></li>
    </ul>
    <ul class="c-subnav__list c-subnav--scopes">
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/scopes/conversation.html">Conversation scope</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/scopes/formstack.html">Formstack scope</a></li>
    </ul>
    <ul class="c-subnav__list c-subnav--about">
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/about/css.html">CSS naming conventions</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/about/js.html">JS modules</a></li>
      <li class="c-subnav__item"><a class="c-subnav__link" href="/pattern-library/about/todo.html">To do</a></li>
    </ul>
