    <ul class="submenu category-atoms">
      <li class="submenu-title"><a>Atoms</a></li>
      <li><a href="buttons.html">Buttons</a></li>
      <li><a href="icons.html">Icons</a></li>
      <li><a href="tables.html">Tables</a></li>
      <li><a href="alerts.html">Alerts</a></li>
    </ul>
    <ul class="submenu category-molecules">
      <li class="submenu-title"><a>Molecules</a></li>
      <li><a href="media.html">Media object</a></li>
      <li><a href="button-groups.html">Button groups</a></li>
      <li><a href="tabs.html">Tabs</a></li>
      <li><a href="figures.html">Figures</a></li>
      <li><a href="atoz.html">A to Z</a></li>
      <li><a href="panels.html">Panels</a></li>
      <li><a href="pagination.html">Pagination</a></li>
    </ul>
    <ul class="submenu category-organisms">
      <li class="submenu-title"><a>Organisms</a></li>
      <li><a href="forms.html">Forms</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="events.html">Events</a></li>
    </ul>
    <ul class="submenu category-layout">
      <li class="submenu-title"><a>Layout</a></li>
      <li><a href="grid.html">Grid</a></li>
      <li><a href="navigation.html">Navigation</a></li>
      <li><a href="type.html">Type</a></li>
    </ul>
