//
// ACCORDION LIST
//

.c-accordion {
  @include component;

  &__item {
    position: relative;
    border: 1px solid $c-accordion__item-border;
    border-left-width: 10px;
    margin-bottom: $base-spacing/2;
  }

  &__title {
    @include demarginalise;
    @include transition('color');

    display: block;
    font-weight: bold;
    padding: $base-spacing/2 $base-spacing*2 $base-spacing/2 $base-spacing;
    position: relative;
    text-decoration: none;
    
    // Button overrides
    width:100%;
    text-align:left;
    border:none;
    background:none;
    -webkit-appearance:none;
    
    color:$c-accordion__title-color;

    &:hover {
      color: $c-accordion__title-hover-color;
    }
    
    &:focus {
      outline:$focus-outline-colour solid 5px;
      outline-offset:-2px;
    }

  }

  &__icon {
    @include transition(transform);

    position: absolute;
    top: 33%;
    right: $base-spacing;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

    @each $name, $size in $icons {
      // Overwrite specificity of demarginalise above
      &.c-icon--#{$name} {
        margin-top: -$size/2;
      }
    }
  }

  &__content {
    @include demarginalise;

    padding: $base-spacing;
    overflow: hidden;
    position: static;
    width: 100%;

    .c-accordion__item.is-closed & {
      padding-top: 0;
      padding-bottom: 0;
    }

    // Starting class - added by JS to hide the content but still be able to get the height
    &.is-ghost {
      .c-accordion__item.is-closed & {
        padding-top: $base-spacing;
        padding-bottom: $base-spacing;
      }
    }
  }
}

.csstransforms {

  // 'is-ready' class added by JS after preparation
  .c-accordion__content.is-ready {
    // @include transition('height, padding-top, padding-bottom');
    transition:height 0.4s ease-out, padding-top 0.4s ease-out, padding-bottom 0.4s ease-out, visibility 0s;
  }
  .c-accordion__item.is-closed {

    & > .c-accordion__content.is-ready {
      transition:height 0.4s ease-out, padding-top 0.4s ease-out, padding-bottom 0.4s ease-out, visibility 0s 0.4s;
    }

    .c-accordion__icon {
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
    }

  }
}
