//
// ACCORDION LIST
//

.c-accordion {
  @include component-margin;
}
.c-accordion__item {
  position:relative;
  border: 1px solid lighten($s1,5);
  border-left-width:10px;
  margin-bottom:$base-spacing/2;
  &:nth-of-type(even) .c-accordion__title {
  //  background:lighten($charcoal, 20);
  }
}
.c-accordion__title {
  @include demarginalise;
  @include transition('color');
  display:block;
  font-weight: bold;
  padding:$base-spacing/2 $base-spacing;
  position:relative;
  text-decoration: none;
  &:hover {
    color:$blue;
  }
}
.c-accordion__icon {
  @include transition(transform);
  position:absolute;
  top:33%;
  right:$base-spacing;
  transform:rotate(45deg);
  @each $name, $size in $icons {
    // Overwrite specificity of demarginalise above
    &.c-icon--#{$name} {
      margin-top: -$size/2;
    }
  }
}
.c-accordion__content {
  @include demarginalise;
  @include transition;
  box-sizing:content-box;
  // iOS <=4 needs prefix
  -webkit-box-sizing:content-box;
  padding:$base-spacing;
  overflow:hidden;
  position:static;
  //width: 100%;
  .c-accordion__item.is-closed & {
    padding-top:0;
    padding-bottom:0;
    height:0;
  }
  // Starting class - added by JS to hide the content but still be able to get the height
  &.is-hidden {
    visibility: hidden;
    position: absolute;
    // display:block;
  }
}
.csstransforms {
  .c-accordion__item.is-closed {
    .c-accordion__icon {
        transform:rotate(0deg);
    }
  }
}
