//
// ALERTS
//
.c-alert {
  border:1px solid $dark;
  background-color:darken($light, 5);
  border-radius:3px;
  padding:0.8em 20px;
  margin-bottom:10px;
  position:relative;
}
.c-alert--dismissable {
  padding-right:40px;
}
.c-alert__close {
  @include font-size(20px, 20px);
  position:absolute;
  right:10px;
  top:14px;
  width:20px;
  height:20px;
  padding:0;
  margin:0;
  border:0;
  background-color:transparent;
  text-align:center;
  cursor:pointer;
  &:focus {
    outline:none;
  }
}
.c-alert__content {
}