//
// AUTOCOMPLETE
//

.c-autocomplete {
  position:absolute;
  left:0;
  top:100%;
  z-index:128;
  width:100%;
  min-height:80vh;
  overflow:hidden;
}

.c-autocomplete__list {
  list-style:none;
  margin:0;
  padding:0;
}

.c-autocomplete__item {
  margin:0;
  border-left: 1px solid $c-autocomplete__item-border;
  border-right: 1px solid $c-autocomplete__item-border;
  &:last-of-type {
    border-bottom: 1px solid $c-autocomplete__item-border;
  }
}

.c-autocomplete__link {
  display:block;
  line-height: 1.1;
  padding: 0.5em 10px;
  color:$c-autocomplete__link-color;
  background-color:$c-autocomplete__link-background-color;
  text-decoration:none;
  cursor:pointer;
  &:hover {
    color:$c-autocomplete__link-hover-color;
    background-color:$c-autocomplete__link-hover-background-color;
  }
  .c-autocomplete__item.is-selected & {
    color:$c-autocomplete__link-hover-color;
    background-color:$c-autocomplete__link-hover-background-color;
  }
  .c-autocomplete__badge {
    float: right;
    margin: 0 0 0.5em 1.5em;
  }
}

.c-autocomplete__title {
}

.c-autocomplete__subtitle {
  color:$c-autocomplete__subtitle-color;
  display:block;
}

.c-autocomplete--alt {
  .c-autocomplete__title {
    font-weight:bold;
  }
  .c-autocomplete__link {
    padding: 0.8em 10px;
    color:$c-autocomplete--alt__link-color;
  }
  .c-autocomplete__item {
    &:nth-of-type(even) .c-autocomplete__link {
      background-color:$c-autocomplete--alt__link-even-background-color;
    }
    & .c-autocomplete__link:hover {
      color:$c-autocomplete--alt__link-hover-color;
      background-color:$c-autocomplete--alt__link-hover-background-color;
      .c-autocomplete__subtitle {
        color:$c-autocomplete--alt__link-hover__subtitle-color;
      }
    }
    &.is-selected {
      .c-autocomplete__link {
        color:$c-autocomplete--alt__link-selected-color;
        background-color:$c-autocomplete--alt__link-selected-background-color;
        &:hover {
          background-color:$c-autocomplete--alt__link-selected-hover-background-color;
        }
      }
      .c-autocomplete__subtitle {
        color:$c-autocomplete--alt__link-selected__subtitle-color;
      }
    }
  }
  .c-autocomplete__subtitle {
    color:$c-autocomplete--alt__subtitle-color;
  }
}
