//
// BLOCK LINKS
//
.c-block-link {
  @include transition(color);
  @include component;
  display:block;
  padding:$base-spacing/2 $base-spacing*3 $base-spacing/2 $base-spacing; // To make space for icon
  position:relative;
  background-color:$c-block-link-background-color;
  border-left: 10px solid $c-block-link-border-color;
  text-decoration: none;
  font-weight: bold;

  color:$c-block-link-color;

  &:hover {
    cursor:pointer;
    color:$c-block-link-hover;
  }

  .o-grid__row--alt1 & {
    background-color:$o-grid__row--alt2-background-color;
    border-color: $o-grid__row--alt2-background-color;
    color:$o-grid__row--alt1-color;
    &:hover { color:$o-grid__row--alt1-color; }
  }
  .o-grid__row--alt2 & {
    background-color:$o-grid__row--alt1-background-color;
    border-color: $o-grid__row--alt1-background-color;
    color:$o-grid__row--alt2-color;
    &:hover { color:$o-grid__row--alt2-color; }
  }
  .o-grid__row--alt3 & {
    border:1px solid $c-block-link-border-color;
    border-left-width: 10px;
  }
}
.c-block-link__content {
  @include demarginalise;
}
.c-block-link__icon {
  position:absolute;
  top:50%;
  right:$base-spacing;
  margin-top: -8px;
  @each $name, $size in $icons {
    &.c-icon--#{$name} {
      margin-top: -$size/2;
    }
  }
}
