//
// BLOCKQUOTES
//
$c-blockquote__image-size:120px;
// How much should the image shrink?
$c-blockquote__image-tiny-ratio:0.75;
@mixin quote-block() {
  content:'';
  display:block;
  width:0;
  height:0;
  border-top:$base-spacing*2 solid $c-blockquote--image-quote-background-color;
  position:absolute;
  top:$c-blockquote__image-size/2;
  @include mq(tiny, '~') {
    // Middle top positioning
    top:-$base-spacing;
    border-style:solid;
    border-width:0 $base-spacing $base-spacing;
    border-color:$c-blockquote--image-quote-background-color transparent;
    z-index:24;
    left:50%;
    right:auto;
    margin-left:-$base-spacing;
  }
}
@mixin tinyfullwidth {
  @include mq(tiny, '~') {
    width:100%;
    float:none;
  }
}
.c-blockquote {
  @include component;
  @include font-size(18px);
  overflow:hidden;
  display:block;
  // To override underlining
  text-decoration:none;
}
.c-blockquote--image-quote {
  .c-blockquote__content {
    @include demarginalise;
    background-color:$c-blockquote--image-quote-background-color;
    padding:$base-spacing;
    color:$c-blockquote--image-quote-color;
    font-family: $font-title;
  }
}
.c-blockquote--pull-quote {
  overflow:visible;
  padding-top:$base-spacing/2;
  .c-blockquote__content p {
    @include font-size(22px, 1.13636364);
    color:$c-blockquote--pull-quote-color;
    font-family:$font-title;
    padding:0 $base-spacing * 1.5;
    &:before {
      @include font-size(48px);
      content: open-quote;
      position:absolute;
      top:-$base-spacing/2;
      left:0;
    }
    &:after {
      @include font-size(48px);
      content: close-quote;
      position:absolute;
      bottom: -35px;
      padding-left: $base-spacing/2;

    }
    .o-grid__row--alt1 &,
    .o-grid__row--alt2 & {
      color:#fff;
    }
  }
  .c-blockquote__cite {
    padding:0 $base-spacing * 1.5;
  }
}
.c-blockquote--large {
  .c-blockquote__content {
    @include font-size(32px, 1.25);
  }
  &.c-blockquote--pull-quote {
    .c-blockquote__content:before {
      @include font-size(60px);
    }
  }
  &.c-blockquote--image-quote {
    .c-blockquote__content {
      @include font-size(22px, 1.13636364);
    }
  }
  .c-blockquote__cite {
    @include font-size(16px, 1.5);
  }

}
.c-blockquote__image {
  @include round;
  width:$c-blockquote__image-size;
  height:$c-blockquote__image-size;
  margin-bottom:$base-spacing;
  position:relative;
  @include mq(tiny, '~') {
    &.c-blockquote__image {
      float:none;
      z-index:12;
      display:block;
      margin:0 auto $base-spacing*1.5;
    }
  }
}
.c-blockquote__image--right {
  float:right;
  margin-left:$base-spacing*2.5;
  @include mq(small, '~') {
    margin-left:$base-spacing/2;
  }
}
.c-blockquote__image--left {
  float:left;
  margin-right:$base-spacing*2.5;
  @include mq(small, '~') {
    margin-right:$base-spacing/2;
  }
}
.c-blockquote__content {
  @include demarginalise;
  position:relative;
}
// So that the background doesn't extend behind the image
// And the citee doesn't float too far to the side
// And is at least wide enough to fit in the column properly.
.c-blockquote__image + .c-blockquote__content,
.c-blockquote__image ~ .c-blockquote__cite {
  @include tinyfullwidth;
  width:70%;
  width:calc(100% - #{$c-blockquote__image-size + ($base-spacing*2.5)});
}
.c-blockquote--image-quote {
  .c-blockquote__image + .c-blockquote__content {
    //so that the quote-block fits...
    min-height:($c-blockquote__image-size/2) + ($base-spacing*2);
    &:after {
      @include quote-block;
    }
  }
}
.c-blockquote__cite {
  @include demarginalise;
  @include font-size(14px);
  font-style: normal;
  display:block;
  margin-top:$base-spacing/2;
  color:$charcoal;
  .o-grid__row--alt1 &,
  .o-grid__row--alt2 & {
    color:$light;
  }
}
.c-blockquote__image--right ~ .c-blockquote__cite {
  text-align:right;
}
.c-blockquote__image--left ~ .c-blockquote__cite {
  text-align:left;
}
@include mq(small, '+') {
  .c-blockquote__image--right + .c-blockquote__content {
    margin-bottom:$base-spacing/2;
    float:left;
  }
  .c-blockquote--image-quote {
    .c-blockquote__image--right + .c-blockquote__content:after {
      left:100%;
      border-right:$base-spacing*2 solid transparent;
    }
  }
  .c-blockquote__image--left + .c-blockquote__content {
    margin-bottom:$base-spacing/2;
    float:right;
  }
  .c-blockquote--image-quote {
    .c-blockquote__image--left + .c-blockquote__content:after {
      left:-$base-spacing*2;
      border-left:$base-spacing*2 solid transparent;
    }
  }
  .c-blockquote__image--right ~ .c-blockquote__cite {
    clear:left;
  }
  .c-blockquote__image--left ~ .c-blockquote__cite {
    clear:right;
    float:right;
    margin-top:0; // Floated elements don't collapse margins
  }
}

// When an image quote is in a quarter col at medium+
@include mq(medium, '+') {
  .o-grid__box--quarter {
    .c-blockquote--image-quote {
      .c-blockquote__image {
        float:none;
        display:block;
        margin:0 auto $base-spacing * 1.5;
      }
      .c-blockquote__content {
        &:after {
          left:50%;
          margin-left:-$base-spacing;
          top:-$base-spacing;
          border-left:$base-spacing solid transparent;
          border-right:$base-spacing solid transparent;
          border-top:0 solid transparent;
          border-bottom:$base-spacing solid $c-blockquote--image-quote-background-color;
        }
      }
      .c-blockquote__content,
      .c-blockquote__cite {
        float:none;
        width:100%;
      }

    }
  }
}
