//
// BREADCRUMB
//
@mixin breadcrumb-separator-padding() {
  padding:0 $base-spacing/2;
  @include mq(small, '-') {
    padding:0 $base-spacing/4;
  }
}
.c-breadcrumb {
  @include component;
  width:100%;
  background-color: $c-breadcrumb-background-color;
  color:$c-breadcrumb-color;
  @include mq(small, '-') {
    @include font-size(13px);
    margin:0;
  }
  // Closed breadcrumb hides all but home, level 1, level n-1 and level n
  &.is-closed {
    .c-breadcrumb__link,
    a {
      width:0;
      overflow:hidden;
      display:inline-block;
      white-space:nowrap;
      &:first-of-type,
      &:nth-of-type(2),
      &:nth-last-of-type(2),
      &:last-of-type {
        width:auto;
      }
      // Make third link read '...'
      &:nth-of-type(3) {
        padding:0 0 0 20px;
        position:relative;
        &:after {
          content:'...';
          width:20px;
          height:100%;
          position:absolute;
          top:0;
          left:0;
          text-align:center;
        }
      }
    }
    .c-breadcrumb__separator {
      width:0;
      padding:0;
      overflow:hidden;
      display:inline-block;
      &:first-of-type,
      &:nth-of-type(2),
      &:nth-last-of-type(2),
      &:last-of-type {
        @include breadcrumb-separator-padding;
        width:auto;
      }
    }
  }
}

.c-breadcrumb__items {
  max-width:$container-width;
  margin:0 auto;
  padding:$base-spacing/2 $base-spacing;
}

.c-breadcrumb__link,
// We can't add classes to 'a' tags in Site Manager
.c-breadcrumb a {
  text-decoration: none;
  color:$c-breadcrumb__link-color;
  display:inline;
}

.c-breadcrumb__separator {
  @include breadcrumb-separator-padding;
}