//
// ALERTS
//
.c-breadcrumb {
  padding:$base-spacing/2 $base-spacing;
  max-width:$container-width;
  margin:0 auto;
  @include mq(small, '-') {
    @include font-size(13px);
  }
}
.c-breadcrumb__link,
// We can't add classes to 'a' tags in Site Manager
.c-breadcrumb a {
  text-decoration: none;
  color:$c-breadcrumb__link-color;
}

.c-breadcrumb__separator {
  padding:0 $base-spacing/2;
  @include mq(small, '-') {
    padding:0 $base-spacing/4;
  }
}
