//
// BREADCRUMB
//
.c-breadcrumb {
  width:100%;
  background-color: $c-breadcrumb-background-color;
  color:$c-breadcrumb-color;
  @include mq(small, '-') {
    @include font-size(13px);
  }
}

.c-breadcrumb__items {
  max-width:$container-width;
  margin:0 auto;
  padding:$base-spacing/2 $base-spacing;
}

.c-breadcrumb__link,
// We can't add classes to 'a' tags in Site Manager
.c-breadcrumb a {
  text-decoration: none;
  color:$c-breadcrumb__link-color;
  display:inline-block;
}

.c-breadcrumb__separator {
  padding:0 $base-spacing/2;
  @include mq(small, '-') {
    padding:0 $base-spacing/4;
  }
}
