//
// BUTTONS
//
.c-btn {
  @include transition;
  font-family: $font-default;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  border: 1px solid $pink;
  padding: 0.3em 0.8em;
  line-height: 1.8em;
  // min-height: 2.4em;
  cursor: pointer;
  transition: all 0.2s ease-out;
  vertical-align: top;
  // Just some default colors
  background-color:map-get(map-get($c-btn, default), bg);
  color:map-get(map-get($c-btn, default), text);
  // Stops buttons bunching up on smaller devices
  margin-bottom:$base-spacing/2;
  margin-right:$base-spacing/2;
  &:only-child,
  &:last-child {
    margin-bottom:0;
    margin-right:0;
  }
  // In case .c-btn is used on containing element
  a {
    text-decoration:none;
  }
}
// Button types
@each $name, $color in $c-btn {
  $name: --#{$name};
  @if $name == '--default' {
    $name:'';
  }
  $bgColor:map-get($color, bg);
  $bgHoverColor:lighten($bgColor, 5);
  $bgActiveColor:lighten($bgColor, 10);
  $bgFocusColor:darken($bgColor, 10);
  $borderColor:$bgColor;
  $textColor:map-get($color, text);
  .c-btn#{$name} {
    color: $textColor;
    background-color: $bgColor;
    border-color:$borderColor;
    &:hover {
      color: $textColor;
      background-color: $bgHoverColor;
    }
    &:active {
      color: $textColor;
      background-color: $bgActiveColor;
    }
    &:focus {
      color: $textColor;
      background-color: $bgFocusColor;
    }
  }
}
.c-btn--disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color:map-get(map-get($c-btn, default), bg);
  color:map-get(map-get($c-btn, default), text);
  border-color:map-get(map-get($c-btn, default), bg);
}
// Button sizes
.c-btn--tiny {
  @include font-size(8px,1.8);
  border-radius: 2px;
}
.c-btn--small {
  @include font-size(12px,1.8);
  border-radius: 2px;
}
.c-btn--medium {
  // Default size
  @include font-size($line-height:1.8);
  border-radius: 3px;
}
.c-btn--large {
  @include font-size(24px,1.8);
  border-radius: 4px;
}
.c-btn--huge {
  @include font-size(32px,1.8);
  border-radius: 6px;
}
// Block buttons
.c-btn--block {
  display:block;
  width:100%;
  text-align:center;
  + .c-btn--block {
    margin-top:$base-spacing/2;
  }
  .icon-after {
    float:right;
  }
}
// Button groups
.c-btn-group {
  display:table;
  margin:$base-spacing 0;
  .c-btn {
    display:table-cell;
    border-left-width: 0;
    border-radius: 0;
    margin-bottom:0;
    margin-right:0;
    + .c-btn {
      border-left: 1px solid rgba(255,255,255,0.15);
    }
    &:first-child {
      border-left-width: 1px;
      &.c-btn--tiny {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
      &.c-btn--small {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
      &.c-btn--medium {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &.c-btn--large {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &.c-btn--huge {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }
    }
    &:last-child {
      &.c-btn--tiny {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
      &.c-btn--small {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
      &.c-btn--medium {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      &.c-btn--large {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      &.c-btn--huge {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
}
.c-btn-group--block {
  table-layout:fixed;
  width:100%;
  .c-btn {
    text-align:center;
    @for $i from 1 through 10 {
      &:first-child:nth-last-child(#{$i}),
      &:first-child:nth-last-child(#{$i}) ~ .c-btn {
        width:100%/$i;
        padding-left:0;
        padding-right:0;
      }
    }
  }
}
