.c-badge {	
	line-height: 1.4;
  	margin: .5em 0 1.25em 0;
 } 

.c-campus-zone {
	float: left;
	width: 1.5rem;
	height: 1.5rem;
	margin-right: .5em;
	outline: 1px solid #caccb8;
	&__label {
		vertical-align: center;
		font-size: 14px;
		font-weight: bold;
	}
}

// .zone-1, zone-2, etc.
.zone {
	@each $name, $val in $zones {
		$bgcolour: map-get($val , bgcolour);
        $fgcolour:  map-get($val , fgcolour);
        $zonename:  map-get($val , label);
		&-#{$name} {
			background-color: $bgcolour;
			color: $fgcolour;
            border-color: $fgcolour;
        }
	}
}