//
// CLEARING TABLES
//

.c-clearing-container {
}
.c-clearing-table {
}
.c-clearing-table__title {
  font-weight:bold;
}
.c-clearing-table__adjustment-only {
  font-weight:bold;
}
.c-clearing-table__phone-number {
  white-space: nowrap;
  font-weight: bold;
}
.c-clearing-table__list {
  margin-bottom:10px;
  padding-left:204px;
  @include mq(tiny, '~') {
    padding-left:1.8em;
  }
}
.c-clearing-table__top-link {
  float:right;
  font-size:0.8em;
  line-height:1.25;
}
.c-clearing-table__course {
  &.is-off {
    display:none;
  }
}
