//
// CLEARING TABLES
//

.c-clearing-table {
  @include component-margin;
  border-top:0.8em solid $c-clearing-table-border;
  background-color:$c-clearing-table-background-color;
  border-radius:4px;
  position:relative;
  padding:16px;
  @include mq(small, '~') {
    padding:12px;
  }
}
.c-clearing-table__title {
  margin-top:4px;
  margin-bottom:0;
  font-size:24px;
  font-size:1.5rem;
}
.c-clearing-table__adjustment-only {
  font-weight:bold;
  margin-top:4px;
  margin-bottom:0;
}
.c-clearing-table__requirements {
  float:left;
  clear:left;
  width:160px;
  max-width:160px;
  background:$c-clearing-table__requirements-background-color;
  color:$c-clearing-table__requirements-color;
  padding:12px 6px;
  text-align:center;
  margin:20px 20px 20px 0;
  font-size:36px;
  font-size:2.25rem;
  font-family:$font-title;
  line-height:1.1;
  small {
    display:block;
    line-height:1;
  }
  @include mq(tiny, '~') {
    max-width:inherit;
    width:100%;
    float:none;
  }
}
.c-clearing-table__ucas-code,
.c-clearing-table__adjustment,
.c-clearing-table__course-length {
  margin-bottom:10px;
  clear:left;
}
.c-clearing-table__phone-numbers {
  margin-top:20px;
  margin-bottom:0;
}
.c-clearing-table__phone-number {
  white-space: nowrap;
  font-weight: bold;
}
.c-clearing-table__additional-requirements {
  margin-top:20px;
  margin-bottom:4px;
  padding-left:180px;
  @include mq(tiny, '~') {
    padding-left:0;
  }
}
.c-clearing-table__list {
  margin-bottom:10px;
  padding-left:204px;
  @include mq(tiny, '~') {
    padding-left:1.8em;
  }
}
.c-clearing-table__list-item {
  margin-bottom:0;
}
