//
// CLEARING TABLES
//

.c-clearing-table {
  @include demarginalise;
  @include component-margin;
  border-top:0.8em solid lighten($teal,10);
  background-color:$s2;
  border-radius:4px;
  position:relative;
  padding:0.8em;
  @include mq(small, '~') {
    padding:0.8em 0.8em 120px 0.8em;
    padding:0.8em calc(0.8em + 100px) 0.8em 0.8em;
  }
  @include mq(tiny, '~') {
    padding-right:0.8em;
  }
}
.c-clearing-table__title {
  padding-right:120px;
  // font-size:24px;
  // font-size:1.5rem;
}
.c-clearing-table__requirements {
  position:absolute;
  top:0;
  right:0;
  width:100px;
  max-width:100px;
  background:$teal;
  color:$light;
  padding:0.2em;
  text-align:center;
  margin:0;
  font-size:32px;
  font-size:2rem;
  font-family:$font-title;
  line-height:1.333;
  small {
    display:block;
  }
  @include mq(tiny, '~') {
    position:relative;
    max-width:inherit;
    width:100%;
  }
}
.c-clearing-table__ucas-code {
}
.c-clearing-table__phone-numbers {
}
.c-clearing-table__phone-number {
  white-space: nowrap;
  font-weight: bold;
}
.c-clearing-table__course-length {
}
.c-clearing-table__additional-requirements {
  margin-bottom:0;
}
.c-clearing-table__list {
  margin:0;
}
.c-clearing-table__list-item {
}
