//
// COURSE TABLES
//

table.courses {
  margin-top:0;
}
table.courses .coursetitle {
  word-break:break-word;
  word-wrap: break-word;
}
table.courses .detail {
}
table.courses .code {
}


// PG APPLY SCREEN
.documents .mandatory {
  display:none;
}
.documents-mandatory li {
  display:none;
}
.documents-mandatory li.mandatory {
  display:list-item;
}
