//
// EVENTS LISTS
//
.c-events-listing {
  margin:0;
  padding:0;
  list-style:none;
}
.c-events-listing__item {
  &:last-of-type {
    .c-event {
      border-bottom:0;
    }
  }
}
.c-event {
  padding:1.25em 20px;
  border-bottom:1px solid $c-event-border;
}
.c-event__time {
  width:15%;
}
.c-event__content {
  @include demarginalise;
  width:85%;
}