//
// FIGURES & CAPTIONS
//

// Mixin used to get pixel offsets for banner figures
@mixin getOffset($fraction:2) {
  @include mq('huge', '+') {
    // For bigger than huge screens, use pixel amounts
    $width:($container-width/$fraction) - ($base-spacing*2);
    $margin:($container-width/2) - $base-spacing - $width;
    width:$width;
    left:50%;
    &.c-figure__content--left {
      margin-left:-($margin + $width);
    }
    &.c-figure__content--right {
      margin-left:$margin;
      float:none;
    }
  }
  // Override the above settings for 'huge' itself
  @include mq('huge', '-') {
    $width:100%/$fraction;
    width:$width;
    left:0;
    &.c-figure__content--left {
      margin-left:0;
    }
    &.c-figure__content--right {
      margin-left:0;
      float:right;
    }
  }
  @include mq('large', '-') {
  }
  @include mq('medium', '~') {
    width:50%;
  }
  @include mq('small', '-') {
    width:100%;
  }
}

.c-figure {
  @include component;
  position:relative;
  display:block;
  overflow:hidden;
  max-width:100%;
}
.c-figure__image,
.c-figure img {
  display:block;
  width:100%;
}
.c-figure__image--rounded {
  @include round;
}
// Image captions
.c-figure__caption {
  @include image-caption;
  @include font-size(14px);
  background:$blue;
  background:transparentize($blue, 0.15);
  color:$light;
  padding:$base-spacing/2 $base-spacing;
}
.c-figure__caption--below {
  display: block;
  position: static;
  background: transparent;
  color:lighten($charcoal,20);
  padding: $base-spacing/2 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  .o-grid__row--alt1 &,
  .o-grid__row--alt2 & {
    color:darken($light,20);
  }
}
.c-figure__caption--bottom-left {
  bottom:0;
  left:0;
}
.c-figure__caption--top-left {
  top:0;
  left:0;
}
.c-figure__caption--top-right {
  top:0;
  right:0;
}
.c-figure__caption--bottom-right {
  bottom:0;
  right:0;
}
.c-figure__caption-icon {
  margin-right:$base-spacing/2;
}

// Video content
.c-figure {
  .c-video {
    margin-bottom:0;
  }
}

// Image content
.c-figure__content {
  @include image-caption;
  @include tiny-padding;
  padding-top:$base-spacing;
  padding-bottom:$base-spacing;
  background:$charcoal;
  background:transparentize($charcoal, 0.15);
  color:$light;
  h2, h3, h4, h5 {
    line-height:1;
  }
  a {
    color:lighten($blue,10);
    &:hover {
      color:lighten($blue,25);
    }
  }
  @include mq('small', '-') {
    padding:$base-spacing/2;
    .o-grid__box--half\@small &,
    .o-grid__box--third\@small & {
      h3 {
        font-size: 18px;
        font-size: 1.25rem;
      }
    }
  }
}
.c-figure__content--left {
}
.c-figure__content--right {
  float:right;
}
// Content colours
.c-figure__content--blue {
  background-color:$blue;
  background-color:transparentize($blue, 0.25);
}
.c-figure__content--pink {
  background-color:$pink;
  background-color:transparentize($pink, 0.25);
}
.c-figure__content--teal {
  background-color:$teal;
  background-color:transparentize($teal, 0.25);
}
.c-figure__content--gold {
  background-color:$gold;
  background-color:transparentize($gold, 0.25);
}
.c-figure__content--charcoal {
  background-color:$charcoal;
  background-color:transparentize($charcoal, 0.25);
}

// DEMARGINED FIGURE (SO STICKY NAV CAN BE CLOSER)
.c-figure--no-margin {
  margin:0;
}

//
.c-figure--banner {
  padding:$base-spacing;
  .csstransforms & {
    .c-figure__image {
      left:50%;
      margin-top:0;
      transform: translate(-50%, -50%)
    }
  }
  @include mq('small', '-') {
    padding:0;
  }
  .c-figure__image {
    z-index:10;
    min-height:100%;
    width:auto;
    position:absolute;
    top:50%;
    margin-top:-25%;
    @include mq('large', '+') {
      width:100%;
    }
    @include mq('small', '-') {
      position:static;
      .csstransforms & {
        position:static;
        transform:translate(0, 0);
        left:0;
      }
    }
  }
  .c-figure__content {
    display:inline-block;
    position:relative;
    z-index:12;
    max-width:($container-width/2) - ($base-spacing*2);
    top:0;
    bottom:$base-spacing;
    background-color:transparentize($teal, 0.1);
    @include mq('small', '-') {
      width:100%;
      max-width:none;
      position:static;
      display:block;
    }
    @include getOffset(2);
    &.c-figure__content--half {
      @include getOffset(2);
    }
    &.c-figure__content--third {
      @include getOffset(3);
    }
    &.c-figure__content--quarter {
      @include getOffset(4);
    }
  }
  .c-figure__caption {
    z-index:12;
    max-width:45%;
    max-width:calc(50% - #{$base-spacing});
    @include mq('small', '-') {
      width:100%;
      max-width: none;
      position:static;
      display:block;
      background-color:$blue;
    }
  }
}

// LINK
.c-figure--link {
  text-decoration:none;
  .c-figure__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    @include mq('tiny') {
      position:static;
      display:block;
      &.c-figure__content--blue {
        background-color:$blue;
      }
      &.c-figure__content--pink {
        background-color:$pink;
      }
      &.c-figure__content--teal {
        background-color:$teal;
      }
      &.c-figure__content--gold {
        background-color:$gold;
      }
      &.c-figure__content--charcoal {
        background-color:$charcoal;
      }

    }
  }
}
