//
// FIGURES & CAPTIONS
//
.c-figure {
  @include component-margin;
  position:relative;
  display:block;
  overflow:hidden;
  max-width:100%;
}
.c-figure__image,
.c-figure img {
  display:block;
  width:100%;
}
.c-figure__caption {
  @include image-caption;
  @include mq('small', '-') {
    padding:$base-spacing/2;
    .o-grid__box--half\@small &,
    .o-grid__box--third\@small & {
      h3 {
        font-size: 18px;
        font-size: 1.25rem;
      }
    }
  }
}

// Caption positions
.c-figure__caption--bottom-left {
  bottom:$base-spacing;
  left:$base-spacing;
  margin-right:25%;
  @include mq('medium', '-') {
    margin-right:20px;
  }
  @include mq('small', '-') {
    margin-right:$base-spacing/2;
    bottom:$base-spacing/2;
    left:$base-spacing/2;
  }
}
.c-figure__caption--top-left {
  top:$base-spacing;
  left:$base-spacing;
  margin-right:25%;
  @include mq('medium', '~') {
    margin-right:$base-spacing;
  }
  @include mq('small', '-') {
    margin-right:$base-spacing/2;
    top:$base-spacing/2;
    left:$base-spacing/2;
  }
}
.c-figure__caption--top-right {
  top:$base-spacing;
  right:$base-spacing;
  margin-left:25%;
  @include mq('medium', '-') {
    margin-left:20px;
  }
  @include mq('small', '-') {
    margin-left:$base-spacing/2;
    top:$base-spacing/2;
    right:$base-spacing/2;
  }
}
.c-figure__caption--bottom-right {
  bottom:$base-spacing;
  right:$base-spacing;
  margin-left:25%;
  @include mq('medium', '-') {
    margin-left:20px;
  }
  @include mq('small', '-') {
    margin-left:$base-spacing/2;
    bottom:$base-spacing/2;
    right:$base-spacing/2;
  }
}
.c-figure__caption--right {
  float:right;
}
// Caption colours
.c-figure__caption--blue {
  background-color:$blue;
  background-color:transparentize($blue, 0.25);
}
.c-figure__caption--pink {
  background-color:$pink;
  background-color:transparentize($pink, 0.25);
}
.c-figure__caption--teal {
  background-color:$teal;
  background-color:transparentize($teal, 0.25);
}
.c-figure__caption--gold {
  background-color:$gold;
  background-color:transparentize($gold, 0.25);
}
.c-figure__caption--charcoal {
  background-color:$charcoal;
  background-color:transparentize($charcoal, 0.25);
}

// BANNER
.c-figure--banner {
  @include center-image('y');
  .c-figure__image {
    display:block;
    z-index:10;
    min-height:100%;
    min-width:100%;
  }
  .c-figure__caption {
    position:absolute;
    display:inline-block;
    z-index:12;
    width:33.333%;
    left:$base-spacing;
    bottom:$base-spacing;
    @include mq('medium', '~') {
      width:50%;
    }
    @include mq('small', '-') {
      width:100%;
    }
  }
  .csstransforms & {
    padding:$base-spacing;
    .c-figure__image {
    }
    .c-figure__caption {
      position:relative;
      top:0;
      left:0;
    }
  }
}

// LINK
.c-figure--link {
  text-decoration:none;
  .c-figure__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    @include mq('tiny') {
      position:static;
      display:block;
      &.c-figure__caption--blue {
        background-color:$blue;
      }
      &.c-figure__caption--pink {
        background-color:$pink;
      }
      &.c-figure__caption--teal {
        background-color:$teal;
      }
      &.c-figure__caption--gold {
        background-color:$gold;
      }
      &.c-figure__caption--charcoal {
        background-color:$charcoal;
      }

    }
  }
}
