//
// FIGURES & CAPTIONS
//
.c-figure {
  position:relative;
  margin:0;
  overflow:hidden;
  .c-figure__image {
    display:block;
  }

  // Use when there is just a set height
  // @extend %set-height-figure;

  // Use when there's a set height and width
  // @extend %centered-image;

}

.c-figure__caption {
  background:$charcoal;
  color:$light;
  line-height:1.25;
  padding:0.25em 8px;
  display:inline;
  position:absolute;
  :first-child {
    margin-top:8px;
  }
  :last-child {
    margin-bottom:8px;
  }
  h1,h2,h3,h4,h5,h6,p,ul,ul,ol {
    margin:8px 0;
  }
}
.c-figure__caption--bottom-left {
  bottom:1em;
  left:0;
  margin-right:25%;
}
.c-figure__caption--top-left {
  top:1em;
  left:0;
  margin-right:25%;
}
.c-figure__caption--top-right {
  top:1em;
  right:0;
  margin-left:25%;
}
.c-figure__caption--bottom-right {
  bottom:1em;
  right:0;
  margin-left:25%;
}