//
// FORMS
//

.c-form {
  @include component-margin;
}
.c-form--bordered {
  border:2px solid $c-form--bordered-border;
  padding:$base-spacing;
}
.c-form--faint {
  border: 1px solid $c-form--bordered-border;
  background-color: $c-form--panel-light;
  padding:$base-spacing;
}
.c-form--panel {
  border-top:0.8em solid $c-panel--highlight-border;
  background-color: $c-panel--highlight-background;
  border-radius:3px;
  display:block;
  padding:$base-spacing/2 $base-spacing;
  color:$c-form--panel-color;
  & a {
    color:$c-form--panel-color;
  }
}
.c-form__legend {
  @include component;
  padding:0;
  font-family:$font-title;
  font-size:24px;
}
.c-form__label {
  font-weight: 700;
}
.c-form__hint {
  display:block;
}
.c-form__input {
  width:100%;
  line-height:1.5;
  height:2em;
  border:1px solid $c-form__input-border;
  padding:0.25em 8px;
  border-radius:3px;
  color:$c-form__input-color;
  background-color:$c-form__input-background-color;
  -webkit-appearance:none;
}
.c-form__input--textarea {
  min-height:5em; // Three lines of text + 0.5em for padding
  &.c-form__input--textarea--double {
    min-height:9.5em; // Six lines of text + 0.5em for padding
  }
  &.c-form__input--textarea--treble {
    min-height:14em; // Nine lines of text + 0.5em for padding
  }
}
.c-form__input--file {
  height:2em;
  line-height:1;
  padding:0;
  border:0;
}

.c-form__checkbox-group,
.c-form__radio-group {
  white-space: nowrap;
  display:inline-block;
  margin-right:$base-spacing;
  .c-form__label {
    margin-left:$base-spacing/4;
    font-weight: normal;
    cursor:pointer;
  }
}
.c-form__radio,
.c-form__checkbox {

}
.c-form__element {
  position:relative;
  margin-bottom:10px;
}
// This styles the select box inside the container
.c-form__select {
  width:100%;
  line-height:1.5;
  height:1.99em;
  height:calc(2em - 2px); // minus top/bottom border
  border:none;
  padding:0.25em 8px;
  border-radius:3px;
  color:$c-form__input-color;
  background-color:$c-form__input-background-color;
  -webkit-appearance:none;
}
.c-form__input--select {
  position:relative;
  padding:0;
  &:after {
    line-height:2;
    content:'\25bc';
    display:block;
    position:absolute;
    right:-1px;
    bottom:-1px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    height:2em;
    width:2em;
    text-align:center;
    color:$c-form__input--select-after-color;
    background-color:$c-form__input--select-after-background-color;
    pointer-events:none;
  }
}

// Stacked form
.c-form--stacked {
  .c-form__label {
    display:block;
  }
  .c-form__radio-group,
  .c-form__checkbox-group {
    .c-form__label {
      display:inline-block;
    }
  }
}
// Inline form
.c-form--inline {
  .c-form__element {
    display:table;
    width:100%;
  }
  .c-form__label {
    display:table-cell;
    width:25%;
    vertical-align:top;
    min-height:2em;
    padding:0.25em 0; // regular line height (1.5) plus padding = 2
  }
  .c-form__input {
    display:table-cell;
  }
  .c-form__element-group {
    .c-form__label {
      width:auto;
      padding:0;
      display:inline-block;
    }
  }
}
// Joined form/button
.c-form--joined {
  .c-form__element {
    display:flex;
    width:100%;
    &--wrap {
      flex-flow: wrap;
    }
  }
  .c-form__input {
    flex-grow: 1;
    height: 2.4em;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
   }
  .c-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    white-space: nowrap;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2.2;
  }

}

// (Search) form in the header
.c-form--header {
  margin-top:39px;
  margin-bottom:0;
  @include mq(medium, '-') {
    display:none;
  }
}

// Form validation
.is-invalid {
  .c-form__input {
    border-color:$c-form-invalid-color;
  }
  .c-form__label,
  &.c-form__hint {
    color:$c-form-invalid-color;
  }

}
