//
// GALLERY
//

$c-gallery-item-size:140px;
$c-gallery-item-border-width:1px;

.c-gallery-item {
  @include component;
  border:$c-gallery-item-border-width solid $c-gallery-item-border;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  vertical-align:top;
  color:$c-gallery-item-color;
  width:100%;
  &:hover {
    text-decoration:none;
    color:$c-gallery-item-color;
  }
  &:last-of-type {
    margin-right:0;
  }
}
.c-gallery-item__thumbnail {
  width: 100%;
}
.c-gallery-item--landscape,
.c-gallery-item--portrait {
  margin-right:$base-spacing/2;
  width:$c-gallery-item-size + (2 * $c-gallery-item-border-width);
  height:$c-gallery-item-size + (2 * $c-gallery-item-border-width);
  overflow:hidden;
  .c-gallery-item__thumbnail {
    @include center-image;
    height:100%;
    position:relative;
  }
  @include mq(tiny, '~') {
    max-width:30%;
    margin-right:$base-spacing/4
  }
}
.c-gallery-item__thumbnail-image {
  display:block;
  width:100%;
}
.c-gallery-item--landscape {
  .c-gallery-item__thumbnail-image {
    height:100%;
    width:auto;
  }
}
.c-gallery-item--portrait {
  .c-gallery-item__thumbnail-image {
    height:auto;
  }
}
.c-gallery-item__content {
  @include demarginalise;
  padding:1em 20px;
}
