//
// GALLERY
//
.c-gallery-item {
  border:1px solid $charcoal;
  border-radius:3px;
  margin-bottom:20px;
  text-decoration:none;
  display:inline-block;
  color:$charcoal;
  &:hover {
    text-decoration:none;
    color:$charcoal;
  }
  + .c-gallery-item {
    margin-left:$base-spacing/2;
  }
}
.c-gallery-item__thumbnail--image {
  display:block;
}
.c-gallery-item__content {
  @include demarginalise;
  padding:1em 20px;
}
