//
// GLOBAL NOTICES
//

.c-global-notice {
  @include font-size(16px, 1.2);
  background-color: $c-global-notice-background;
  border-bottom:1px solid $c-global-notice-border;
  color: $c-global-notice-color;
  text-align: center;
  padding: 15px;
  z-index: 512;
  position: relative;

  &--highlighted {
    background-color: $c-global-notice--highlighted-background;
    color: $c-global-notice--highlighted-color;

    a {
      color: $c-global-notice--highlighted-color;
    }
  }

  *:last-child {
    margin-bottom:0;
  }

  &__title {
    @include font-size(24px, 1.2);

    @include mq(small, '-') {
      @include font-size(20px);
    }

    @include mq(tiny, '-') {
      @include font-size(18px);
    }
  }


  @include mq(small, '-') {
    @include font-size(14px);
  }

  @include mq(tiny, '-') {
    @include font-size(12px);
  }
}
