//
// HCARD
//
$img_size:140px;

.h-card {
  @include component;
  overflow:hidden;
}
.h-card__title {

}
.h-card__name {
  font-weight: 700;

}
.h-card__email {

}
.h-card__tel {

}
.h-card__url {

}
.h-card__figure {
    @include round;
    @include center-image;
    width:$img_size;
    height:$img_size;
    overflow:hidden;
    z-index:1; // Stops Chrome removing border-radius when other stuff aniamtes on the page
}
.h-card__bio {

}
.h-card--mini {
  @include demarginalise;
  display:inline-block;
  border-top:0.8em solid $pink;
  background-color: $light;
  color:$charcoal;
  border-radius:3px;
  padding:$base-spacing;
  .h-card__title {
    text-transform:uppercase;
    font-family:$font-default;
    font-weight: normal;
    margin-bottom:$base-spacing;
  }
  .h-card__email {
    margin-bottom:$base-spacing/2;
  }
  .h-card__position {
    margin-bottom:0;
  }
  .h-card__name {
    @include font-size(20px);
    margin-bottom:0;
  }
}
.h-card--byline {
  overflow:hidden;
  border-bottom:2px solid darken($light, 10);
  .h-card__name {
    @include font-size(20px);
    margin-top:$base-spacing/2;
    margin-bottom:0;
  }
  .h-card__position {
  }
  .h-card__figure {
    width:$img_size/2;
    height:$img_size/2;
    float:left;
    margin:0 $base-spacing 0 0;
  }
}
.h-card--article {
  @include demarginalise;
  border-top:0.8em solid $c-panel-border-color;
  background-color: $c-panel-background-color;
  color:$charcoal;
  border-radius:3px;
  padding:$base-spacing;
  .h-card__title {
    text-transform:uppercase;
    font-family:$font-default;
    font-weight: normal;
    margin-bottom:$base-spacing;
  }
  .h-card__figure {
    float:left;
    margin-right:$base-spacing;
    margin-bottom:0;
  }
  .h-card__name {
    @include font-size(20px);
    margin-bottom: 0;
  }
  // Margin to give room for the image
  .h-card__name,
  .h-card__email,
  .h-card__tel,
  .h-card__url,
  .h-card__bio {
    margin-left:$img_size + $base-spacing;

  }
}
