//
// HEADER
//

.c-main-header--fixed {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:auto;
  z-index:24;
}
.c-main-header {
  @include clearfix;
  color:$charcoal;
  background:#fff;
  position:relative;
}
.c-main-header__title {
  @include font-size(24px, 41px);
  display:block;
  float:left;
  margin:16px 0 11px;
  @include mq(tiny) {
    // Change size of logo on tiny screens
    @include font-size(18px, 20px);
    margin:8px 0 5px;
  }
}
.c-main-header__link {
  display:inline-block;
  vertical-align:middle;
}
.c-main-header__logo {
  display:block;
  width:200px;
  height:75px;
  @include mq(tiny) {
    // Change size of logo on tiny screens
    width:136px;
    height:51px;
  }
}
