//
// HEADER
//

.c-main-header--fixed {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:auto;
  z-index:24;
}
.c-main-header {
  @include clearfix;
  color:$charcoal;
  background:#fff;
  position:relative;
}
.c-main-header__title {
  @include font-size(24px, 41px);
  display:block;
  float:left;
  margin:17px 0 13px; // Check overrides.scss for margin-bottom override
  height:41px;
  @include mq(tiny) {
    // Change size of logo on tiny screens
    @include font-size(18px, 20px);
    height:20px;
  }
}
.c-main-header__logo {
  vertical-align:middle;
  @include mq(tiny) {
    // Change size of logo on tiny screens
    width:132px;
    height:20px;
  }
}
