// Hero
.c-hero {
    position: relative;
    left: 0;
    right: 0;
    margin-bottom: 1em;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow: hidden;
  }

.c-hero-background {
    height: 64vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #333;
    @media only screen and (min-aspect-ratio: 16/9) {
      min-height:400px;
    }
  @include mq('small', '+') {
    @media only screen and (orientation: landscape) {
      height: 100vh;
      background-size: 80%;
    }
  }
  @include mq('medium', '+') {
    height: 50vh;
    background-size: 65%;
    @media only screen and (orientation: landscape) {
      height: 100vh;
    }
  }
  @include mq('large', '+') {
    height: 74vh;
    background-size: 65%;
  }
   @include mq('huge', '++') {
    @media only screen and (min-aspect-ratio: 16/9) {
      min-height:550px;
    }
   }
}

.c-hero__content {
    color: #fff;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    bottom: 0;
    padding: 0;
}

.c-hero__caption {
  background:#000;
  background:rgba(0,0,0,0.6)!important;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0.7), #000)!important;
  position:absolute;
  padding-top: $base-spacing*2;
  padding-bottom: $base-spacing/4;
  padding-left: $base-spacing/2;
  width: 100vw;
  h1 {
    font-size: 32px;
    font-size: 2rem;
    margin: $base-spacing/4 0;
  }
  @include mq('small', '+') {
    text-align: center;
    h1 {
      font-size: 44px;
      font-size: 2.75rem;
    }
  }
}

.c-hero__caption p {
  margin-top: $base-spacing/4;
  margin-bottom: $base-spacing/2;
}
