// Hero
.c-hero {
    position: relative;
    left: 0;
    right: 0;
    margin-bottom: 1em;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow: hidden;
  }

.c-hero-background {
    height: 444px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $c-hero-background;
    @media only screen and (min-aspect-ratio: 16/9) {
      min-height:400px;
    }
  @include mq('small', '+') {
    @media only screen and (orientation: landscape) {
      background-size: 80%;
    }
  }
  @include mq('medium', '+') {
    height: 346px;
    background-size: 65%;
  }
  @include mq('large', '+') {
    height: 514px;
    background-size: 65%;
  }
   @include mq('huge', '++') {
    @media only screen and (min-aspect-ratio: 16/9) {
      min-height:550px;
    }
   }
}

.c-hero__content {
    color: $c-hero__content-color;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    bottom: 0;
    padding: 0;
}

.c-hero__caption {
  background:$c-hero__caption-background-solid;
  background:$c-hero__caption-background-alpha !important;
  background:$c-hero__caption-background-gradient !important;
  position:absolute;
  padding-top: $base-spacing*2;
  padding-right: $base-spacing/2;
  padding-bottom: $base-spacing/4;
  padding-left: $base-spacing/2;
  width: 100%;
  h1 {
    font-size: 32px;
    font-size: 2rem;
    margin: $base-spacing/2 0;
  }
  @include mq('small', '+') {
    text-align: center;
    h1 {
      font-size: 44px;
      font-size: 2.75rem;
    }
  }
}

.c-hero__caption p {
  margin-top: 0;
  margin-bottom: $base-spacing;
}

/* Inline version, does not cover the full viewport view */

.c-hero--inline {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: $base-spacing*2;
}

/* Hero controls, mandatory for video heros */

.c-hero__controls {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
}

.c-hero__controls > button {
  display: block;
  margin: 0;
  padding: 0;
  
  width: 1.75em;
  line-height: 1.75em;
  text-align: center;
  font-size: 1.5em;
  font-family: inherit;
  
  border: none;

  background: colour( 'pink' , 700 );
  color: white;
  border-radius: 3px;

  &:hover { background: lighten( colour( 'pink' , 700 ) , 5 ); }
}

/* The video container */

.c-hero__video > video {
  /* display: block; Removed - caused issues with .is-hidden/.is-visible */
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Fallback for mobile */
.c-hero__video > img {
  position: absolute;
  /* display: block; Removed - caused issues with .is-hidden/.is-visible */
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: cover;
}

/* Content for the video hero */

.c-hero__video__content {

  // Make sure this appears above the video/image
  position:relative;
  z-index:2;

  min-height: 30vh;
  padding: 10px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  @include demarginalise;
}

@include mq( 'medium' , '+' )
{
  .c-hero__video__content {

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    // Half-width max
    padding: 20px calc( 50% + 30px ) 20px 20px;
  }
}

/* Heading text treatment */

.c-hero__video__content h1 {
  font-size: 3em;
  line-height: 1;

  /* Stacking layout for children */
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  gap: 0.1em;
}

@include mq( 'large' , '+' )
{
  /* Nudge up the font-size */
  .c-hero__video__content h1 {
    font-size: 4.5em;
  }
}

.c-hero__video__content h1 > span {
  display: block;
  color: white;
  background: colour( 'blue' , 900 );
  padding: 0.12em 0.5em;
}

