//
// ICONS
//

// Font-awesome variables
$fa-font-path:        "../fonts" !default;
$fa-font-size-base:   16px;
$fa-css-prefix:       'c-icon-';
$fa-inverse:          $c-icon--inverse-color;

@import "icons/fontawesome";
@import 'icons/shims'; // v4 compatibility
@import "icons/solid";
@import "icons/regular";
@import "icons/brands";

.c-icon {
  @extend .c-icon-;
  @extend .fa;
  &:before {
    // width:$fa-font-size-base;
    height:$fa-font-size-base;
  }
}

.c-icon--brand {
  @extend .fab;
  font-weight:400;
}

.c-icon--regular {
  @extend .far;
}

@each $name, $size in $icons {
  .c-btn--#{$name} .c-icon:before,
  .c-icon--#{$name}:before {
    // width: $size;
    height: $size;
  }
}
.c-icon--hf {
  font-size: 0.5em;
}

.c-icon--before {
  margin-right:0.4em;
}
.c-icon--after {
  margin-left:0.4em;
}
.c-icon--above {
  display: block;
  margin: 0.4em auto 0;
}

.c-icon__sr-text {
  @include is-invisible;
}
