//
// ICONS
//

// Font-awesome variables
$fa-font-path:        "../fonts";
$fa-font-size-base:   16px;
$fa-css-prefix:       'c-icon';
// $fa-border-color:     #eee !default;
$fa-inverse:          $light;
// $fa-li-width:         (30em / 14) !default;

@import "icons/font-awesome";

.c-icon {
  &:before {
    // width:$fa-font-size-base;
    height:$fa-font-size-base;
  }
}
@each $name, $size in $icons {
  .c-btn--#{$name} .c-icon:before,
  .c-icon--#{$name}:before {
    // width: $size;
    height: $size;
  }
}
.c-icon--hf { font-size: 0.5em; }

.c-icon--before {
  margin-right:0.4em;
}
.c-icon--after {
  margin-left:0.4em;
}
.c-icon--above {
  display: block;
  margin: 0.4em auto 0;
}
