.c-image-group {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: 2em  0;
}

.c-image-group__link {
    transition: transform .08s  linear;
}

.c-image-group__link:hover .c-image-group__item {
    filter: opacity(.9);
}

.c-image-group__item {
    align-self: center;
    display: block;
    flex-shrink:  0;
    margin: 1em;
}

