//
// KEY FACTS
//
.c-key-fact {
  @include component;
  padding-right: $base-spacing;
  width:100%;
  color:$c-key-fact-color;
  text-decoration:none;
  display: block;
  margin-bottom:$base-spacing*2;
  .o-media__picture img {
    min-width:45px;
  }
  .o-grid__row--alt1 &,
  .o-grid__row--alt2 & {
    color:$c-key-fact-alt-color;
    .c-key-fact__icon {
      color:$c-key-fact-alt__icon-color;
    }
  }
  &:focus {
    outline: 2px solid $focus-outline-colour;
    outline-offset: -2px;
  }
}
a.c-key-fact:hover{
  color:$c-key-fact-hover-color;
  .c-key-fact__icon{
    color:$c-key-fact__icon-hover-color;
  }
  .c-key-fact__title {
    color:$c-key-fact__title-hover-color;
  }
  .o-grid__row--alt1 &,
  .o-grid__row--alt2 & {
    color:$c-key-fact-alt-color;
    .c-key-fact__title {
      color:$c-key-fact-alt-color;
      strong {
        color:$c-key-fact-alt-color;
      }
    }
  }
}

.c-key-fact__title {
  // @include responsive-font-size($h4-font-sizes);
  @include font-size(21px,1.1);
  margin-bottom:$base-spacing/4;
  font-family: $font-default;
  color:$c-key-fact__title-color;
  strong {
    color:$c-key-fact__icon-color;
  }
  .o-grid__row--alt1 &,
  .o-grid__row--alt2 & {
    color:$c-key-fact-alt__title-color;
    strong {
      color:$c-key-fact-alt__icon-color;
    }
  }
}


.c-key-fact__content {
  @include demarginalise;
  @include font-size(16px, 1.1);
}
.c-key-fact__icon {
  color:$c-key-fact__icon-color;
  // Take up a lot of space in thirds in large with subnav
  @include mq(large) {
    font-size:2em;
  }
}

.c-key-fact__learnMoreLink {
  text-decoration:underline;
  color: $c-key-fact__learnMoreLink;
  .o-grid__row--alt1 &,
  .o-grid__row--alt2 & {
    color:$c-key-fact-alt__learnMoreLink;
  }
}


.c-key-fact__text {
  color:$c-key-fact__icon-color;
  margin: 0;
  .o-grid__row--alt1 &,
  .o-grid__row--alt2 & {
    color:$c-key-fact-alt__title-color;
  }
  font-family: chaparral-pro;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  sup {
    font-size: 1.8rem;
    top: -0.6em!important;
  }
}