//
// Listings
//
$thumbnail_size:100px;
.c-listings {
    @include component;
    list-style: none;
    margin-left:0;
    padding-left:0;
    &__item {
        border-bottom: 1px dotted $blue;
        margin-bottom: $base-spacing;
        padding-bottom: $base-spacing/2;
    }

    &__item-date {
        color: lighten($charcoal,4);
        @include font-size(14px, 1.2);
        margin-top:0;
        margin-bottom: $base-spacing;

    }

    &__item-label {
        color: $grey;
        @include font-size(12px, 1.1);
        text-transform: uppercase;
        margin-top:0;
        margin-bottom:$base-spacing/3;
    }

    &__item-link {
        text-decoration: none;
    }

    &__item-title {
        font-weight: 400;
        @include font-size(24px, 1.2);
        color:$c-news--excerpt__title-color;
        margin-top:0;
        margin-bottom:0;
        @include mq(large, '-') {
          @include font-size(20px, 1.1);
        }
    }

    &__item-title:hover {
        color:$c-news--excerpt__title-hover-color;
      }

    &__item-description {
        @include demarginalise;
        @include font-size(16px, 1.2);
        color: #000;
        margin-top:$base-spacing/4;
        margin-bottom:$base-spacing/2;

      }


    &__item-url {
        @include font-size(14px, 1.1);
        color: $grey;
        text-decoration: none;
    }

    &__thumbnail {
      width:$thumbnail_size;
      img {
        max-width:$thumbnail_size;
      }
    }
}
