//
// MAP
//
.c-map {
  position:relative;
}
.c-map__mapdiv {
  height:100%;
}
.c-map__infowindow {

}
.c-map__fsbutton-text {
  margin-right: $base-spacing/2;
}
.c-map__fsbutton {
  @include transition;
  display: block;
  position: absolute;
  text-decoration: none;
  top:0;
  right:0;
  color: $c-map__fsbutton-color;
  background-color: $c-map__fsbutton-background;
  padding: 0 10px;
  line-height: 2em;
  height: 2em;
  width: auto;
  text-align: center;
  &:hover {
    background-color:$c-map__fsbutton-hover-background;
  }
}