.c-modal__wrapper {
	background-color: #999;
	background-color: rgba(0, 0, 0, 0.8); 
	position: fixed;
	top: 0;
	min-height: 100vh;
	min-width: 100vw;
	z-index: 65000010;
	@include transition("opacity");
	overflow: hidden;
	display: flex;
	// align-items: center;
	justify-content: center;
	opacity: 0;
	&.is-active {
		opacity: 1;
		
	}

}

.c-modal {
	position: absolute;
	max-width: 80vw;
	max-height: 70vh;

	display: flex;
	flex-flow: column nowrap;
	
	

	margin: 2em;

	@include transition("opacity");
	opacity: 0;
	&.is-active {
		opacity: 1;
	}
}

.c-modal--framed {
	border-left: 0.8em solid $c-modal-border-color;
	background-color: $c-modal-background-color;
	border-radius: 3px;
	.c-modal__content {
		padding: 1em 40px 1em 20px;
	}
}
.c-modal--scroll {
	overflow-y: auto;
}

.c-modal__title {
	padding: 1em 40px 0.5em 20px;
	margin: 0;
}


.c-modal__image {
	display:block;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.c-modal__caption {
  	@include demarginalise;
  	background: $c-modal__caption-background-solid;
 	color: $c-modal__caption-color;
	padding: 1em;
}


// Modal close
.c-modal__close {
	position: absolute;
	top: $base-spacing/2;
	right: $base-spacing/2;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $c-modal__close-color;
	background-color: $c-modal__close-background-color;
	border-radius: 50%;
	font-weight: bold;
	text-decoration: none;
	border: 0;
	cursor: pointer;
	&:hover {
		text-decoration: none;
		background-color: $c-modal__close-hover-background-color;
		color: $c-modal__close-hover-color;
	}
}


// Modal Navigation 
.c-modal__nav {
	@include transition("opacity");
	background-color: transparent;
	border: 0;
	position: absolute;
	top: 50%;
	cursor: pointer;
	opacity: 0;
	color: $c-modal__nav-color;
	z-index: 8;
	&.is-active {
		opacity: 1;
		outline-color: $focus-outline-colour;
		&:hover {
			opacity: 1;
		}
	}
	.c-icon {
		background-color: $c-modal__nav__icon-background;
		opacity: 0.9;
		padding: $base-spacing/2;
		font-size: 2.5rem
	}
	
}


.c-modal__nav--prev {
	left:0;
}
.c-modal__nav--next {
	right: 0;
}