//
// MODAL
//
.c-modal__wrapper {
  @include transition('opacity');
  transition-delay:200ms;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:32;
  opacity:0;
  background-color:#999;
  background-color:rgba(0,0,0,0.5);
  &.is-active {
    opacity:1;
    transition-delay:0ms;
  }
  .c-modal {
    @include transition('opacity');
    transition-delay:0ms;
    max-width:90%;
    max-height:90%;
    opacity:0;
    overflow:auto;
    // Really big screens
    @include mq('huge', '+') {
      // min-width:$container-width;
    }
    // Everything else
    @include mq('huge', '-') {
      width:90%;
      min-width:0;
    }
    &.is-active {
      transition-delay:200ms;
      opacity:1;
    }
    .csstransforms & {
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
    }
    .no-csstransforms & {
      margin:auto auto;
    }
  }
}
.c-modal {
  display:block;
  position:relative;
  overflow:hidden;
}
.c-modal--framed {
  border-left:0.8em solid $c-modal-border-color;
  background-color: $c-modal-background-color;
  border-radius:3px;
  .c-modal__content {
    padding:1em 40px 1em 20px;
  }
}
.c-modal--frameless {
  // border:0;
  // background-color:transparent;
  // border-radius:0;
}
.c-modal__title {
  padding:1em 40px 0.5em 20px;
  margin:0;
}
.c-modal__content {
  @include demarginalise;
  max-height:100%;
  max-width:100%;
}
.c-modal__close {
  position:absolute;
  top:$base-spacing/2;
  right:$base-spacing/2;
  width:20px;
  height:20px;
  line-height:20px;
  text-align:center;
  color:$c-modal__close-color;
  background-color:$c-modal__close-background-color;
  border-radius:50%;
  font-weight:bold;
  text-decoration:none;
  cursor:pointer;
  &:hover {
    text-decoration:none;
    background-color:$c-modal__close-hover-background-color;
    color:$c-modal__close-hover-color;
  }
  @include mq('medium', '-') {
    display:none;
  }
}
.c-modal__nav {
  @include transition('opacity');
  position:absolute;
  top:0;
  width:72px;
  height:100%;
  cursor:pointer;
  opacity:0;
  background-color:rgba(255,255,255,0.15);
  z-index:10;
  &.is-active {
    opacity:0.8;
    &:hover {
      opacity:1;
    }
  }
  .c-icon {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-16px;
    margin-left:-16px;
  }
  @include mq('small', '-') {
    width:52px;
  }
}
.c-modal__nav--prev {
  left:0;
}
.c-modal__nav--next {
  right:0;
}
