//
// MOBILE NAVIGATION
//

.c-mobile-search-button {
  @include mq(medium, '+') {
    display:none;
  }
  position:absolute;
  z-index:10;
  top:10px;
  right:10px;
  height:58px;
  width:58px;
  padding:13px;
}
.c-nav--mobile {
  @include mq(medium, '+') {
    display:none;
  }
}
.c-form--mobile-search {
  @include mq(medium, '+') {
    display:none;
  }
  .c-form__element {
    padding:$base-spacing/2;
  }
  .c-form__legend {
    display:none;
  }
  .c-form__label {
    .c-btn {
      margin-left:10%;
      margin-left:calc(#{$base-spacing});
      width:90%;
      width:calc(100% - #{$base-spacing});
    }
  }
}
// #mobile-menu {
//   position:fixed;
//   z-index:10;
//   top:78px;
//   bottom:0;
//   left:100%;
//   width:100%;
//   background-color:$charcoal;
//   color:$light;
//   transition:0.2s all ease-out;
//   &.show {
//     left:0;
//   }
//   ul {
//     list-style:none;
//     margin:0;
//     padding:0;
//     height:100%;
//     li {
//       width:33.333%;
//       height:33.333%;
//       &:nth-of-type(3n+3) a {
//         border-right:0;
//       }
//       &:nth-last-child(-n+3) a {
//         border-bottom:0;
//       }
//     }
//     a {
//       display:block;
//       border-right:1px solid $light;
//       border-bottom:1px solid $light;
//       width:100%;
//       height:100%;
//     }
//     ul {
//       display:none;
//     }
//   }
// }