//
// NAVIGATION
//

//
// MENU NAVIGATION
//
.c-nav {
  height:42px;
  background-color:$c-nav-background-color;
  border-bottom:3px solid $c-nav-border-color;
  border-top:1px solid lighten($c-nav-background-color,10);
  overflow:hidden;
  position:relative;
  width:100%;
  &.is-open {
    height:auto;
  }
  @include mq(small, '-') {
    height:38px;
  }
}
.c-nav--main {
  @include mq(small, '-') {
    @include font-size(13px);
  }
}
.c-nav__wrapper {
  @include component-margin;
  // Placeholder for when sticky nav goes AWOL
  height:auto;
  min-height:70px;
  overflow:hidden;
  @include mq(large, '-') {
    min-height:50px;
  }
}
.c-nav--sticky {
  @include transition;
  overflow:visible;
  // text-align:center;
  background-color:$s3;
  border-bottom-color: #fff;
  border-bottom-width:2px;
  border-top-width:0;
  height:70px; // this number is a guess
  @include mq(large, '-') {
    @include font-size(13px);
    height:50px;
  }
  &.is-sticky {
    position:fixed;
    top:0;
    left:0;
    z-index:64;
    width:100%;
    border-bottom-color:darken($s3,15);
  }
  &.is-centered {
    .c-nav__list {
      @include transition('left');
      position:absolute;
      left:0;
      top:0;
    }
    .c-nav__item {
    }
    .c-nav__link {
    }
  }
  .c-nav__list {
    // To match position when in main wrapper
    max-width:$container-width - (2 * $base-spacing);
    overflow:visible;
    width:100%;
    width:calc(100% + 100px);
    white-space:nowrap;
    position:relative;
  }
  .c-nav__link {
    border-bottom: 5px solid darken($s3,15);
    color:lighten($charcoal,10);
    font-weight:bold;
  }
  .c-nav__item {
    border:none;
    display:inline-block;
    float:none;
    .c-nav__link,
    // We can't add classes to 'a' tags in nav objects Site Manager
    a {
      padding-top:20px;
      @include mq(large, '-') {
        padding-left:$base-spacing/2;
        padding-right:$base-spacing/2;
        padding-top:10px;
      }
      @include mq(medium, '+') {
        &:hover {
          border-bottom: 5px solid $blue; // gets around a weird sticky hover issue on mobiles
        }
      }

      &:hover {
        background-color: $s3;
        color: $charcoal;
      }
    }
    &.is-current {
      .c-nav__link,
      // We can't add classes to 'a' tags in Site Manager
      a {
        background-color:$s3;
        border-bottom: 5px solid $teal;
        color:$charcoal;
      }
    }
  }
}
.c-nav__list {
  // @include transition;
  max-width:$container-width;
  width:100%;
  margin:0 auto;
  padding:0;
  min-height:2.75em;
  list-style:none;
  overflow:hidden;
  // Hide if no nav items inside
  &:empty {
    display:none;
  }
  .c-nav.is-open & {
    color:$c-nav__list-color;
    margin-bottom:$base-spacing/2;
    @include mq(large, '-') {
      padding-right: 100px; // To make sure nothing goes off edge of page when open
      //padding-right: calc(100px + 5rem); // To stop menu items going behind the "More" button
    }
    @include mq(tiny, '-') {
      margin-bottom:$base-spacing/4;
    }
  }
  @include mq(large, '-') {
    width:calc(100% + 100px);// Allow nav__items to overflow off the screen
  }
}
.c-nav__list--associative {
  display:none;
  .c-nav.is-open & {
    display:block;
    min-height:0; // In case it's empty and :empty not supported
    // Hide if no nav items inside
    &:empty {
      display:none;
    }
  }
}
.c-nav__list--structural {
  // Site Manager uses 'currentbranchN' classes
  span[class^="currentbranch"] {
    font-weight: bold;
    .c-nav.is-open & {
      display:none;
    }
  }
}

.c-nav__title {
  margin-top:$base-spacing;
  font-family: $font-title;
  font-size:24px;
  &:first-child {
    margin-top:0;
  }
  .c-subnav__link, a {
    color:$teal;
  }
  .c-nav.is-open & {
    display:block;
    float:none;
    clear:left;
  }
}
.c-nav__item {
  @include transition('background-color');
  float:left;
  border-right:1px solid lighten($c-nav-background-color, 10);
  border-left:1px solid lighten($c-nav-background-color, 10);
  margin:0;
  + .c-nav__item {
    border-left:0;
  }
  &.is-current {
    .c-nav__link {
      background-color:$c-nav__link-is-current-background-color;
    }
  }
  .c-nav.is-open & {
    border-color:$c-nav-background-color;
    min-height:0;
    float:none;
        li {
      margin:0;
    }
    // Sub menus in site manager
    ul {
      padding-left:$base-spacing * 2;
      a {
        padding-left:0;
      }
      .currentsection {
        padding: 0.4rem 0;
      }
    }
  }
  //Site Manager uses .currentsection span
  .currentsection {
    @include tiny-padding;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    color:$c-nav__link-color;
    display: block;
    font-weight: bold;
  }
}
.c-nav__item--more {
  position:absolute;
  right:0;
  top:0;
  border-right:0;
  font-weight: bold;
  .c-nav__link {
      background-color:$c-nav__item--more-background-color;
      box-shadow: -4px 0px 5px 5px rgba(64,64,64,0.85); // Fade nav__items that go under
  }
  .c-nav.is-open & {
    list-style:none;
    // override specificity of open nav
    .c-nav__link {
      &:hover {
        background-color:$c-nav__link-hover-background-color;
        color:$c-nav__link-hover-color;
      }
    }
  }
  @include mq(huge, '++') {
    right:50%; // line it up with right-hand edge when >1200px
    margin-right:-580px;
  }
}
.c-nav__link,
// We can't add classes to 'a' tags in Site Manager
.c-nav__item a {
  @include transition('background-color, color');
  @include tiny-padding;
  padding-top:$base-spacing/2;
  padding-bottom:$base-spacing/2;
  color:$c-nav__link-color;
  background-color:$c-nav__link-background-color;
  display:block;
  line-height:1.15;
  text-decoration:none;
  position:relative;
  &:hover {
    color:$c-nav__link-hover-color;
    background-color:$c-nav__link-hover-background-color;
  }
  .c-nav.is-open & {
    &:hover {
      color:lighten($blue,10);
      background-color:transparent;
    }
  }
}
.c-nav__header {
  @include tiny-padding;
  display:none;
  max-width:$container-width;
  margin:$base-spacing auto $base-spacing/2;
  color:$c-nav__header-color;
  .c-nav.is-open & {
    display:block;
    a {
      color:$c-nav__link-color;
      text-decoration: none;
      &:hover {
        color:$c-nav__link-hover-color;
      }
    }
  }
}
