//
// NAVIGATION
//

//
// MENU NAVIGATION
//
.c-nav {
  height:2.75em;
  background-color:$c-nav-background-color;
  border-bottom:3px solid $c-nav-border-color;
  overflow:hidden;
  position:relative;
  width:100%;
  &.is-open {
    height:auto;
  }
}
.c-nav--main {
  @include mq(small, '-') {
    @include font-size(13px);
  }
}
.c-nav__wrapper {
  // Placeholder for when sticky nav goes AWOL
  height:2.75em;
}
.c-nav--sticky {
  overflow:visible;
  &.is-sticky {
    position:fixed;
    top:0;
    z-index:64;
  }
  .c-nav__list {
    overflow:visible;
    width:100%;
    white-space:nowrap;
  }
  .c-nav__link {
    text-transform:uppercase;
  }
  .c-nav__item {
    display:inline-block;
    float:none;
    .c-nav__link,
    // We can't add classes to 'a' tags in Site Manager
    .c-nav__item a {
      &:after {
        @include transition;
        bottom: 0;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-top: 12px solid $c-nav-background-color;
        content: "";
        height: 0;
        left: 50%;
        margin-left: -15px;
        position: absolute;
        width: 0;
      }
      &:hover {
        &:after {
          border-top-color:$c-nav__link-hover-background-color;
        }
      }
    }
    &.is-current {
      .c-nav__link,
      // We can't add classes to 'a' tags in Site Manager
      .c-nav__item a {
        background-color:$c-nav__link-is-current-background-color;
        &:after {
          border-top-color:$c-nav__link-is-current-background-color;
          bottom: -12px;
        }
      }
    }
  }
}
.c-nav__list {
  max-width:$container-width;
  margin:0 auto;
  padding:0;
  min-height:2.75em;
  list-style:none;
  overflow:hidden;
  .c-nav.is-open & {
    color:$c-nav__list-color;
    padding:0 0 0 $base-spacing;
    margin-bottom:1em;
  }
}
.c-nav__list--associative {
    display:none;
    .c-nav.is-open & {
      display:block;
    }
}
.c-nav__list--structural {
  // Site Manager uses 'currentbranchN' classes
  span[class^="currentbranch"] {
    font-weight: bold;
    .c-nav.is-open & {
      display:none;
    }
  }
}

.c-nav__item {
  @include transition('background-color');
  float:left;
  border-right:1px solid lighten($c-nav-background-color, 10);
  border-left:1px solid lighten($c-nav-background-color, 10);

  + .c-nav__item {
    border-left:0;
  }
  &.is-current {
    .c-nav__link {
      background-color:$c-nav__link-is-current-background-color;
    }
  }
  .c-nav.is-open & {
    border:0;
    float:none;
    min-height:0;
  }
  //Site Manager uses .currentsection span
  .currentsection {
    color:$c-nav__link-color;
    display: block;
    font-weight: bold;
    padding:0.4rem 0;
  }
}
.c-nav__item--more {
  position:absolute;
  right:0;
  top:0;
  border-right:0;
  font-weight: bold;
  .c-nav__link {
      background-color:$c-nav__item--more-background-color;
  }
  .c-nav.is-open & {
    list-style:none;
    // override specificity of open nav
    .c-nav__link {
      background-color:$c-nav__item--more-background-color;
      padding:0.75em 20px;
      &:hover {
        background-color:$c-nav__link-hover-background-color;
        color:$c-nav__link-hover-color;
      }
    }
  }
}
.c-nav__link,
// We can't add classes to 'a' tags in Site Manager
.c-nav__item a {
  @include transition('background-color, color');
  color:$c-nav__link-color;
  background-color:$c-nav__link-background-color;
  display:block;
  padding:0.75em $base-spacing;
  line-height:1.1;
  text-decoration:none;
  position:relative;
  &:hover {
    color:$c-nav__link-hover-color;
    background-color:$c-nav__link-hover-background-color;
  }
  .c-nav.is-open & {
    display:inline-block;
    padding:0.4rem 0;
    &:hover {
        color:lighten($blue,10);
        background-color:transparent;
    }
  }
}
.c-nav__header {
  display:none;
  max-width:$container-width;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:$base-spacing/2;
  color:$c-nav__header-color;
  padding:0 $base-spacing;
  .c-nav.is-open & {
    display:block;
  }
}
