//
// NAVIGATION
//

//
// MAIN MENU
//
// .c-menu {
//   min-height:2.75em;
//   width:100%;
// }

//
// MENU TITLE
//
.c-page-title {
  background-color:$blue;
  min-height:2.75em;
}
.c-page-title__header {
  @include font-size(32px, 1.625);
  max-width:$container-width;
  margin:0 auto;
  padding:0 0 0 $base-spacing;
}
.c-page-title__link {
  color:$light;
  padding:0;
  line-height:1.625;
}

//
// MENU NAVIGATION
//
.c-nav {
  min-height:2.75em;
  background-color:$charcoal;
  overflow:hidden;
}
.c-nav--main {
  @include mq(small) {
    @include font-size(13px);
  }
  @include mq(small, '-') {
    display:none;
  }
}
.c-nav__list {
  position:relative;
  max-width:$container-width;
  margin:0 auto;
  padding:0;
  min-height:2.75em;
  list-style:none;
}
.c-nav__item {
  @include transition('background-color');
  min-height:2.75em;
  float:left;
  border-right:1px solid #949394;
  border-left:1px solid #949394;
  + .c-nav__item {
    border-left:0;
  }
}
.c-nav__link {
  @include transition('background-color, color');
  background-color:transparent;
  display:block;
  padding:0.75em 20px;
  line-height:1.25em;
  text-decoration:none;
  vertical-align:top;
  color:$light;
  &:hover {
    color:darken($light, 5);
    background-color:darken($blue, 20);
  }
}