//
// MOBILE NAVIGATION
//

.c-mobile-search-button {
  @include mq(medium, '+') {
    display:none;
  }
  @include mq(tiny, '-') {
    height: 36px;
    width: 36px;
    padding: 6px;
  }
  position:absolute;
  z-index:10;
  top:10px;
  right:10px;
  height:58px;
  width:58px;
  padding:13px;
  background-color:$c-mobile-search-button-background-color;
}
.c-form--mobile-search {
  @include mq(medium, '+') {
    display:none;
  }
  @include transition('height');
  height:0;
  overflow:hidden;
  &.is-open {
    height:3.625em;
  }
  .c-form__element {
    padding:$base-spacing/2;
    margin:0;
  }
  .c-form__legend {
    display:none;
  }
  .c-form__label {
    .c-btn {
      margin-left:10%;
      margin-left:calc(#{$base-spacing/2});
      width:90%;
      width:calc(100% - #{$base-spacing/2});
    }
  }
}