//
// NEWS
//
.c-news {
  @include component;
  width:100%;
  text-decoration:none;
  color:$c-news-color;
  &:hover {
    color:$c-news-hover-color;
  }
  .o-grid__row--alt1 &,
  .o-grid__row--alt2 & {
    color:$c-news__alt-row-color;
    &:hover {
      color:$c-news__alt-row-hover-color;
    }
  }
}
.c-news--excerpt {
  @include demarginalise;
  overflow:hidden;
  display:block;
  .o-grid__row--alt1 &,
  .o-grid__row--alt2 &,
  .o-grid__row--alt3 & {
    background-color: $c-news--excerpt__alt-row-background-color;
    padding:$base-spacing;
  }
}

.c-news__title {
  .c-news--excerpt & {
    @include font-size(22px, 1.1);
    color:$c-news--excerpt__title-color;
    margin-top:0;
  }
  .c-news--excerpt:hover & {
    color:$c-news--excerpt__title-hover-color;
  }
  .c-news--listing & {
    @include font-size(24px, 1.1);
    color:$c-news--listing__title-color;
    margin-bottom:$base-spacing/4;
    .o-grid__row--alt1 & {
      color:$c-news--listing__title__alt-row-color;
    }
  }
  .c-news--listing:hover & {
    color:$c-news--excerpt__title-hover-color;
  }
  .c-news--article & {
  }
}
.c-news__category {
  .c-news--excerpt & {
    // color:$c-news--excerpt__category-color;
  }
}
.c-news__meta {
  .c-news--excerpt & {
    @include font-size(14px);
    color:$c-news--excerpt__meta-color;
  }
}

.c-news__author {

}
.c-news__date {
  .c-news--listing & {
    display:block;
    @include font-size(14px);
    margin-bottom:$base-spacing/4;
    color:$c-news--listing__date-color;
    .o-grid__row--alt1 &,
    .o-grid__row--alt2 & {
      color:$c-news--listing__date__alt-row-color;
    }

  }
  .c-news--article & {
    @include component-margin;
    display:block;
  }
}
.c-news__teaser {
  .c-news--excerpt & {
    @include font-size(16px);
    color:$c-news--excerpt__teaser-color;
    p {
      margin-bottom:$base-spacing/2;
    }
  }
}
.c-news__lead {
  @include demarginalise;
  .c-news--article & {
    @extend .lead;
  }
  .c-news--listing & {
    @include font-size(16px);
  }
}
.c-news__share {
  @include component-margin;
}
.c-news__license {
  @include demarginalise;
  @include component-margin;
  padding:$base-spacing 0;
  font-style: italic;
  color:$c-news__license-color;
  border-top:1px solid $c-news__license-border;
  border-bottom:1px solid $c-news__license-border;
}
.c-news__thumbnail {
  width:100px;
  img {
    @include round;
  }
}
.c-news__poster {
  @include component-margin;
  img {
    width:100%;
    display:block;
  }
}
.c-news__banner {
  @include component-margin;
  img {
    width:100%;
    display:block;
  }
}
.c-news__content {

}

// List
.c-news-list {
  margin:0;
  padding:0;
}
.c-news-list li,
.c-news-list__item {
  list-style:none;
  margin-bottom: $base-spacing;
}
