//
// NEWS
//
$thumbnail_size:100px;
.c-news {
  @include component;
  display:block;
  width:100%;
  text-decoration:none;
  color:$charcoal;
  &:hover {
    color:$charcoal;
  }
  .o-grid__row--alt1 &,
  .o-grid__row--alt2 & {
    color:$light;
    &:hover {
      color:$light;
    }
  }
}
.c-news--excerpt {
  @include demarginalise;
  overflow:hidden;
  display:block;
  .o-grid__row--alt1 &,
  .o-grid__row--alt2 &,
  .o-grid__row--alt3 & {
    @include tiny-padding();
    padding-top:$base-spacing;
    padding-bottom:$base-spacing;
    background-color: #fff;
  }
}

.c-news__title {
  .c-news--excerpt & {
    @include font-size(22px, 1.1);
    color:$c-news--excerpt__title-color;
    margin-top:0;
    @include mq(large, '-') {
      @include font-size(18px, 1.1);
    }
  }
  .c-news--excerpt:hover & {
    color:$c-news--excerpt__title-hover-color;
  }
  .c-news--listing & {
    @include font-size(22px, 1.1);
    color:$c-news--listing__title-color;
    margin-bottom:$base-spacing/4;
    .o-grid__row--alt1 & {
      color:$light;
    }
    @include mq(large, '-') {
      @include font-size(18px, 1.1);
    }
  }
  .c-news--listing:hover & {
    color:$c-news--excerpt__title-hover-color;
  }
  .c-news--article & {
  }
}
.c-news__category {
  .c-news--excerpt & {
    //color:$teal;
  }
}
.c-news__meta {
  .c-news--excerpt & {
    @include font-size(14px);
    margin-top:$base-spacing/2;
    color:$c-news--excerpt__meta-color;
  }
}
.c-news__author {

}
.c-news__date {
  .c-news--listing & {
    @include font-size(14px);
    display:block;
    margin-bottom:$base-spacing/4;
    color:lighten($charcoal,30);
    .o-grid__row--alt1 &,
    .o-grid__row--alt2 & {
      color:darken($light,30);
    }

  }
  .c-news--article & {
    @include component-margin;
    display:block;
  }
}
.c-news__teaser {
  .c-news--excerpt & {
    @include demarginalise;
    @include font-size(14px);
    color:lighten($charcoal,5);
    p {
      margin-bottom:$base-spacing/2;
    }
  }
}
.c-news__lead {
  @include demarginalise;
  .c-news--article & {
    @extend .lead;
  }
  .c-news--listing & {
    @include font-size(14px);
  }
}
.c-news__share {
  @include component-margin;
}
.c-news__license {
  @include demarginalise;
  @include component-margin;
  padding:$base-spacing 0;
  font-style: italic;
  color:lighten($charcoal,25);
  border-top:1px solid $s3;
  border-bottom:1px solid $s3;
}
.c-news__thumbnail {
  width:$thumbnail_size;
  img {
    @include round;
    max-width:$thumbnail_size;
  }
}
.c-news__poster {
  @include component-margin;
  img {
    width:100%;
    display:block;
  }
}
.c-news__banner {
  @include component-margin;
  img {
    width:100%;
    display:block;
  }
}
.c-news__content {

}

// List
.c-news-list {
  margin:0;
  padding:0;
}
.c-news-list li,
.c-news-list__item {
  list-style:none;
  margin-bottom: $base-spacing;
}
