//
// PAGE TITLE
//

// Weird to have an element outside the block, I know
.c-page-title__wrapper {
  background-color:$c-page-title__background-color;
}
.c-page-title {
  min-height:2.75em;
  overflow:hidden;
  background-color:$c-page-title__background-color;
  max-width:$container-width;
  margin:0 auto;
}
.c-page-title__header {
  @include font-size(24px, 1.25);
  margin:$base-spacing/2 $base-spacing;
  color:$c-page-title__link-color;
}
.c-page-title__link.c-page-title__link {
  color:$c-page-title__link-color;
  padding:0;
  text-decoration: none;
  &:hover {
    color:$c-page-title__link-color;
  }
}
