//
// Pagination
//

.c-pagination {
  // .c-pagination_pages have 4px bottom margin to separate them if they wrap
  // This makes it up to normal $base-spacing size
  margin:0 0 $base-spacing - 4px;
}
.c-pagination__list {
  overflow:hidden;
  margin:0;
  padding:0;
  list-style:none;
}
.c-pagination__item {
  float:left;
}
.c-pagination__page {
  line-height: 2;
  display:block;
  padding: 0 .5em;
  border:1px solid $c-pagination__page-border;
  border-radius:3px;
  font-weight: bold;
  margin-right:0.25em;
  margin-bottom:4px;
  text-align:center;
  background:$c-pagination__page-background;
  text-decoration:none;
  cursor:pointer;
  &:hover {
    background:$c-pagination__page-hover-background;
    border-color:$c-pagination__page-hover-border;
    color:$c-pagination__page-hover-color;
  }
  // Don't style ellipsis links, called 'break'
  &--type-break {
    background-color:$c-pagination__page--type-break-background;
    border:0;
    &:hover {
      background-color:$c-pagination__page--type-break-hover-background;
      border:0;
      color:$c-pagination__page--type-break-hover-background;
      cursor:default;
    }
  }
  &--current {
    background-color:$c-pagination__page--current-background;
    border-color:$c-pagination__page--current-border;
    color: $c-pagination__page--current-color;
    cursor: default;
  }
}
