//
// PAGE TITLE
//

// Weird to have an element outside the block, I know
.c-page-title__wrapper {
  background-color:$c-page-title__background-color;
}
.c-page-title__wrapper--bordered {
  border-bottom:3px solid $c-nav-border-color;
}
.c-page-title {
  min-height:2.75em;
  overflow:hidden;
  background-color:$c-page-title__background-color;
  max-width:$container-width;
  margin:0 auto;
}

.c-page-title__header {
  // apply font to match h1
  font-family: $font-title;
  font-weight:600;
  @include font-size(24px, 1.25);
  @include tiny-padding;
  padding-top:$base-spacing/2;
  padding-bottom:$base-spacing/2;
  margin:0;
  color:$c-page-title__link-color;
}
.c-page-title__link.c-page-title__link {
  color:$c-page-title__link-color;
  padding:0;
  text-decoration: none;
  &:hover {
    color:$c-page-title__link-color;
  }
}
