//
// Pagination
//
.c-pagination {
  // .c-pagination_pages have 4px bottom margin to separate them if they wrap
  // This makes it up to normal $base-spacing size
  margin:0 0 $base-spacing - 4px;
}
.c-pagination__list {
  overflow:hidden;
  margin:0;
  padding:0;
  list-style:none;
}
.c-pagination__item {
  float:left;
}
.c-pagination__page {
  padding:0;
  border-radius:3px;
  font-weight: bold;
  display:block;
  width:2em;
  height:2em;
  line-height:2em;
  border:1px solid $c-pagination__page-border;
  text-align:center;
  background-color:$c-pagination__page-background;
  margin-right:0.25em;
  margin-bottom:4px;
  transition:all 0.2s ease-out;
  text-decoration:none;
  &:hover {
    border-color:$c-pagination__page-hover-border;
    background-color:$c-pagination__page-hover-background-color;
    color:$c-pagination__page-hover-color;
  }
  // Don't style ellipsis links
  &:not([href]) {
    &:hover {
      border-color:$c-pagination__ellipsis-page-hover-border;
      background-color:$c-pagination__ellipsis-page-hover-background-color;
      color:$c-pagination__ellipsis-page-hover-color;
      cursor:default;
    }
  }
  &.c-pagination__page--first {
    background-color:$c-pagination__page--first-background-color;
    &:hover {
      background-color:$c-pagination__page--first-hover-background-color;
    }
  }
  &.c-pagination__page--last {
    background-color:$c-pagination__page--last-background-color;
    &:hover {
      background-color:$c-pagination__page--last-hover-background-color;
    }
  }
  &.c-pagination__page--previous {
    background-color:$c-pagination__page--previous-background-color;
    &:hover {
      background-color:$c-pagination__page--previous-hover-background-color;
    }
  }
  &.c-pagination__page--next {
    background-color:$c-pagination__page--next-background-color;
    &:hover {
      background-color:$c-pagination__page--next-hover-background-color;
    }
  }
  &.c-pagination__page--current {
    background-color:$c-pagination__page--current-background-color;
    &:hover {
      background-color:$c-pagination__page--current-hover-background-color;
    }
  }
}