//
// PAGE TITLE
//
.c-page-title {
  min-height:2.75em;
  overflow:hidden;
}
.c-page-title__header {
  @include font-size(24px, 1.25);
  margin:0 auto $base-spacing/2 auto;
}
.c-page-title__link {
  color:$c-page-title__link-color;
  padding:0;
  text-decoration: none;
  &:hover {
    color:$c-page-title__link-color;
  }
}
