//
// Pagination
//
.c-pagination {
  // .c-pagination_pages have 4px bottom margin to separate them if they wrap
  // This makes it up to normal $base-spacing size
  margin:0 0 $base-spacing - 4px;
}
.c-pagination__list {
  overflow:hidden;
  margin:0;
  padding:0;
  list-style:none;
}
.c-pagination__item {
  float:left;
}
.c-pagination__page {
  line-height: 2;
  display:block;
  padding: 0 .5em;
  border:1px solid darken($s2,5);
  border-radius:3px;
  font-weight: bold;
  margin-right:0.25em;
  margin-bottom:4px;
  text-align:center;
  background:$s2;
  text-decoration:none;
  cursor:pointer;
  &:hover {
    background:$blue;
    border-color:$blue;
    color:$light;
  }
  // Don't style ellipsis links
  &:not([href]) {
    background-color:#fff;
    border:0;
    &:hover {
      background-color:#fff;
      border:0;
      color:$blue;
      cursor:default;
    }
  }
  &.c-pagination__page--current {
    background-color:$blue;
    color: #fff;
  }
}
