//
// c-panelS
//
.c-panel {
  border-left:0.8em solid $c-panel-border-color;
  background-color: $c-panel-background-color;
  border-radius:3px;
  display:block;
}
.c-panel__content {
  padding:1em 20px;
  :first-child {
    margin-top:0;
  }
  :last-child {
    margin-bottom:0;
  }
}
.c-panel__header,
.c-panel__subheader,
.c-panel__footer {
  @include demarginalise;
  padding:0.4em 20px;
  background:$s2;
  color:$charcoal;
}
.c-panel__image {
  img {
    display:block;
    width:100%;
  }
}

.c-panel--highlight {
  background-color:$c-panel--highlight-background-color;
  border-color:$c-panel--highlight-border-color;
  color:$light;
}

.c-panel--kis-widget {

}
.c-panel--kis-widget__title {
  width:100%;
  .o-grid__box--full > .c-panel--kis-widget & {
    @include mq(huge, '+') {
      float:left;
      width:545px;
      width:calc(100% - 615px);
      min-width:200px;
    }
  }
}
