//
// c-panelS
//
.c-panel {
  border:1px solid $charcoal;
  border-radius:3px;
}
.c-panel__content {
  padding:1em 20px;
  :first-child {
    margin-top:0;
  }
  :last-child {
    margin-bottom:0;
  }
}
.c-panel__header,
.c-panel__subheader,
.c-panel__footer {
  @include demarginalise;
  padding:0.4em 20px;
  background:$charcoal;
  color:$light;
}
.c-panel__image {
  img {
    display:block;
    width:100%;
  }
}