//
// PANELS
//
.c-panel {
  @include component;
  border-top:0.8em solid $c-panel-border;
  background-color: $c-panel-background;
  color: $c-panel-color;
  border-radius:3px;
  display:block;
}
.c-panel__content {
  @include tiny-padding;
  @include demarginalise;
  padding-top:$base-spacing;
  padding-bottom:$base-spacing;
  .c-panel__subheader + & {
    padding-top:0;
  }
  
  a {
    color:$c-panel-link-color;
    &:hover { color:$c-panel-link-hover; }
  }
}
.c-panel__header,
.c-panel__subheader,
.c-panel__footer {
  @include demarginalise;
  padding:0.4em $base-spacing;
  background: $c-panel-background;
  color: $c-panel-color;
}
.c-panel__image {
  img {
    display:block;
    width:100%;
  }
}
.c-panel__footer {
  .c-panel__content + & {
    padding-top:0;
  }
}

.c-panel--highlight {
  background-color:$c-panel--highlight-background;
  border-color:$c-panel--highlight-border;
  color:$c-panel--highlight-color;
  & a {
    color:$c-panel--highlight-link;
    &:hover {
      color:$c-panel--highlight-hover;
    }
  }
}

.c-panel--link {
  color:$c-panel-color;
  text-decoration: none;
  .c-panel__more {
    color: $c-panel-link-color;
    font-weight: bold;
    text-decoration:underline;
  }
  &:hover {
    color:$c-panel-color;
    .c-panel__more {
      color:$c-panel-link-hover;
    }
  }
  &.c-panel--highlight {
    color:$c-panel--highlight-color;

    .c-panel__more {
      color:$c-panel--highlight-link;
    }
    &:hover {
      .c-panel__more {
        color:$c-panel--highlight-hover;
      }
    }


  }
  .o-grid__row--alt1 &,
  .o-grid__row--alt2 & {
    color:$c-panel-color;
    &:hover {
      color:$c-panel-color;
    }
  }
}

.c-panel--compact {
  @include font-size(14px);
  li {
    margin:0;
  }
  p {
    @include font-size(14px);
  }
}

.c-panel--kis-widget {
}
.c-panel--kis-widget__title {
}
.c-panel--kis-widget__content {
  text-align:center;
}
