//
// SIGNPOSTS
//

.c-signpost {
  @include component;
  text-align:center;
  margin:$base-spacing 0 $base-spacing*2;
  h3 {
    margin-bottom: $base-spacing/4;
  }
  p {
    @include font-size(14px);
    margin-bottom: $base-spacing;
  }
}

.c-signpost__icon {
  color:$c-signpost__icon-color;
  margin-bottom: $base-spacing/4;
}
