//
// NAVIGATION
//
.c-subnav {
  @include component-margin;
  font-size: 16px;
}
.c-subnav__list {
  list-style:none;
  margin:0;
  padding:0;
}
.c-subnav__list--structural {
  //Hides the current branch from the 'Other sections' side nav. Site Manager uses 'currentbranchN' classes
  span[class^="currentbranch"] {
    display:none;
  }
}
.c-subnav__item {
  line-height: 1;
  margin:0;
  li {
    margin:0;
  }
  + .c-subnav__item {
    .c-subnav__link {
      border-top:0;
    }
  }
  &.is-current {
    .c-subnav__link {
      background-color:$blue;
      color:$light;
    }
  }
  //Site Manager uses .currentsection span
  .currentsection {
    color:$c-subnav__link-color;
    display: block;
    font-weight: bold;
    padding:0.4em 0;
  }
}
.c-subnav__link,
//We can't put classes on links in Site Manager
.c-subnav__item a {
  color:$c-subnav__link-color;
  display:block;
  padding:0.4em 0;
  position:relative;
  text-decoration: none;
  &:hover {
    color:$blue;
  }
  .c-icon--after {
    position: absolute;
    right:$base-spacing/2;
    top: 50%;
    @each $name, $size in $icons {
      &.c-icon--#{$name} {
        margin-top:-$size/2;
      }
    }
  }
}
.c-subnav__title {
  margin-top:$base-spacing;
  font-family: $font-title;
  font-size:24px;
  &:first-child {
    margin:0;
  }
  .c-subnav__link, a {
    color:$teal;
    padding-top:0;
  }
}
