//
// TABLES
//
table {
  @include component-margin;
  border-collapse: collapse;
  border:0;
  width:100%;
}

caption {
    text-align: left;
    font-family: $font-title;
    font-style: italic;
}

th, thead > tr > td:empty {
  @include demarginalise;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  @include mq(tiny, '~') {
    @include font-size(14px);
    padding: 5px;
  }
  color: $table-th-color;
  border-bottom: 2px solid $table-th-border;
  line-height: 1.2;
}

tbody th {
  background-color: $table-tbody-th-background;
  border-bottom: 1px dotted $table-td-border;
  color: $table-tbody-th-color;
}

tbody tr:last-child th {
  border-bottom: 0;
}

td {
  @include demarginalise;
  padding:10px;
  border-bottom:1px dotted $table-td-border;
  vertical-align:top;
  ul {
    margin:0;
  }
  @include mq(tiny, '~') {
    @include font-size(14px);
    padding:5px;
    li {
      margin:0;
    }
    p {
      margin-bottom: $base-spacing/2;
    }
  }
}
tr:last-child td {
  border-bottom:0;
}

.c-table--striped {
  tbody tr:nth-child(odd) {
    background-color:$c-table--striped-odd-background;
  }
}

.c-table--stacked {
  @include mq(small, '-') {
    thead {
      display:none;
    }
    tr,th,td {
      display:block;
    }
    td {
      border-bottom:none;
    }
    tr {
      border-top:1px dotted $table-td-border;
    }
  }
}

// A table wrapping element that adds horizontal scrolling (with fancy shadows)
.c-table-scrollingwrapper {
	
  // Settings
  $shadow-size: 1em;
  $shadow-opacity: 0.25;
  $mask-size: 4em;
  $mask-feather-size: 7em;

  // Move bottom margin to container
  & > table { margin: 0; }
  margin-bottom: $base-spacing;

  // This is to make sure that the table doesn't just squish down
  // Not sure the concept is the solidest - to be revisted
  th, td { white-space: nowrap; }

  // Allow the container to scroll
  overflow: auto;

  // Adapted from https://css-scroll-shadows.now.sh/
  background:
    // The masks that will obscure the shadow at the wrapper's left/right edges
    linear-gradient( 90deg , white $shadow-size , transparent ),
    linear-gradient( 90deg , transparent , white calc( 100% - #{ $shadow-size } ) ),
	// Feather the masks in from top and bottom
    linear-gradient( white , transparent $mask-feather-size , transparent calc( 100% - #{ $mask-feather-size } ) , white ),
    // Add in the shadows under the rest
	linear-gradient( 90deg , rgba( black , $shadow-opacity ) , transparent ),
    linear-gradient( 90deg , transparent , rgba( black , $shadow-opacity ) );
  background-repeat: no-repeat;
  background-attachment: local , local , local , scroll , scroll;
  background-size: $mask-size 100% , $mask-size 100% , 100% 100% , $shadow-size 100% , $shadow-size 100%;
  background-position: left center , right center , center , left center , right center;
}
