//
// TABS
//
.c-tabs {
  @include component-margin;
}
.c-tabs__nav {
  width:100%;
  margin:0;
  padding:0;
  list-style:none;
  position:relative;
  z-index:8;
}
.c-tabs--horizontal {
  .c-tabs__nav {
    display:table;
    table-layout:fixed;
  }
  .c-tabs__tab {
    display:table-cell;
    text-align:center;
    vertical-align:bottom;
    + .c-tabs__tab {
      padding-left:8px;
    }
    &.is-active {
      .c-tabs__link {
        border-bottom:1px solid $c-tabs-background;
      }
    }
  }
  .c-tabs__container {
    top:-1px;
  }
}
.c-tabs--vertical {
  overflow:hidden;
  .c-tabs__nav {
    width:25%;
    float:left;
  }
  .c-tabs__tab {
    + .c-tabs__tab {
      padding-top:8px;
    }
    &.is-active {
      .c-tabs__link {
        background-color: $c-tabs--vertical__tab-active__link-background;
        color:$c-tabs--vertical__tab-active__link-color;
      }
    }
  }
  .c-tabs__link {
    border:none;
    padding-left:$base-spacing/2;
    padding-right:$base-spacing/2;
    @include mq('small', '-') {
      padding:$base-spacing/2 $base-spacing/4;
    }
  }
  .c-tabs__container {
    width:75%;
    float:right;
    clear:right;
    left:-1px;
    border:none;
    padding:0 0 0 $base-spacing;
  }
}
.c-tabs__tab {
  &.is-active {
    .c-tabs__link {
      background:$c-tabs-background;
      color:$c-tabs-color;
      cursor:default;
    }
  }
}
.c-tabs__link {
  @include transition('background-color');
  background:$c-tabs__link-background;
  border:1px solid $c-tabs-border;
  color:$c-tabs__link-color;
  display:block;
  font-weight: bold;
  padding: 0.75em 0.75em;
  line-height: 1.25em;
  text-decoration: none;
  vertical-align: top;
  &:hover{
    background-color:$c-tabs__link-hover-background;
    color:$c-tabs__link-hover-color;
  }
  &:focus {
    outline: 3px solid colour('blue', 500);
    outline-offset: -1px
}
  @include mq('small', '-') {
    font-size:14px;
  }
}

.c-tabs--horizontal {
    .c-tabs__nav {
        height:100%;
    }
    .c-tabs__tab {
        height:100%;
    }
    .c-tabs__link {
        height:100%;
        display:flex;
        flex-flow:column nowrap;
        justify-content:center;
    }
}

.c-tabs__container {
  background:$c-tabs-background;
  border:1px solid $c-tabs-border;
  padding:$base-spacing;
  clear:both;
  position:relative;
  z-index:4;
}
.c-tabs__content {
  @include demarginalise;
  display:none;
  &.is-active {
    display:block;
  }
}


.c-tabs--dark {
  .c-tabs__link {
    background: $c-tabs--dark__link-background;
    border:1px solid $c-tabs--dark__link-background;
    border-bottom:1px solid $c-tabs--dark-border;
    color:$c-tabs--dark__link-color;
    &:hover{
      background-color:$c-tabs--dark__link-hover-background;
      color:$c-tabs--dark__link-hover-color;
    }
  }
  .c-tabs__container {
    border:1px solid $c-tabs--dark-border;
    background:$c-tabs--dark-background;
    color:$c-tabs--dark-color;
    & li a {
      color: $c-tabs--dark-color;
      &:hover {
        color: $c-tabs--dark__link-hover-color;
      }
    }
  }
  .c-tabs__tab {
    &.is-active {
      .c-tabs__link {
        background:$c-tabs--dark-background;
        border:1px solid $c-tabs--dark-border;
        color:$c-tabs--dark-color;
        cursor:default;
      }
    }
  }
}