//
// TABLES
//
table {
  border-collapse: collapse;
  border:0;
  width:100%;
  margin:$base-spacing 0;
}
th {
  font-weight:bold;
  text-align:left;
  padding:12px;
  color:$teal;
  border-bottom:2px solid $blue;
  line-height:1.2;
}

tbody th {
  background-color: $s3;
  color:lighten($teal,5);
  border-bottom: 1px dotted lighten($blue,15);
}

tbody tr:last-child th {
  border-bottom: 0;
}

td {
  padding:12px;
  border-bottom:1px dotted lighten($blue,15);
  vertical-align:top;
  ul {
    margin:0;
  }
}
tr:last-child td {
  border-bottom:0;
}
