//
// TABS
//
.c-tabs {
  margin:0 0 $base-spacing;
}
.c-tabs__nav {
  width:100%;
  margin:0;
  padding:0;
  overflow:hidden;
  list-style:none;
  position:relative;
  z-index:10;
}
.c-tabs--horizontal {
  .c-tabs__nav {
    display:table;
    table-layout:fixed;
  }
  .c-tabs__tab {
    display:table-cell;
    text-align:center;
    vertical-align:bottom;
    + .c-tabs__tab {
      padding-left:8px;
    }
    &.is-active {
      .c-tabs__link {
        border-bottom:1px solid #fff;
      }
    }
  }
  .c-tabs__container {
    top:-1px;
  }
}
.c-tabs--vertical {
  overflow:hidden;
  .c-tabs__nav {
    width:25%;
    float:left;
  }
  .c-tabs__tab {
    + .c-tabs__tab {
      padding-top:8px;
    }
    &.is-active {
      .c-tabs__link {
        background-color: $blue;
        border-color:$blue;
        color:$light;
      }
    }
  }
  .c-tabs__link {
    border:none;
    padding-left:$base-spacing/2;
    padding-right:$base-spacing/2;
  }
  .c-tabs__container {
    width:75%;
    float:right;
    clear:right;
    left:-1px;
    border:none;
    padding:0 0 0 $base-spacing;
  }
}
.c-tabs__tab {
  &.is-active {
    .c-tabs__link {
      background:#fff;
      color:$charcoal;
      cursor:default;
    }
  }
}
.c-tabs__link {
  @include transition('background-color');
  border:1px solid $s1;
  background:darken($light, 5);
  color:$teal;
  display:block;
  font-weight: bold;
  padding: 0.75em 0;
  line-height: 1.25em;
  text-decoration: none;
  vertical-align: top;
  &:hover{
    background-color:darken($blue,20);
    color:$light;
  }
}
.c-tabs__container {
  background:#fff;
  border:1px solid $s1;
  padding:$base-spacing;
  clear:both;
  position:relative;
  z-index:5;
}
.c-tabs__content {
  @include demarginalise;
  display:none;
  &.is-active {
    display:block;
  }
}
