//
// TABS
//
.c-tabs {
  @include component-margin;
}
.c-tabs__nav {
  width:100%;
  margin:0;
  padding:0;
  overflow:hidden;
  list-style:none;
  position:relative;
  z-index:10;
}
.c-tabs--horizontal {
  .c-tabs__nav {
    display:table;
    table-layout:fixed;
  }
  .c-tabs__tab {
    display:table-cell;
    text-align:center;
    vertical-align:bottom;
    + .c-tabs__tab {
      padding-left:8px;
    }
    &.is-active {
      .c-tabs__link {
        border-bottom:1px solid $c-tabs--horizontal-is-active__link-border;
      }
    }
  }
  .c-tabs__container {
    top:-1px;
  }
}
.c-tabs--vertical {
  overflow:hidden;
  .c-tabs__nav {
    width:25%;
    float:left;
  }
  .c-tabs__tab {
    + .c-tabs__tab {
      padding-top:8px;
    }
    &.is-active {
      .c-tabs__link {
        background-color: $c-tabs--vertical-is-active__link-background-color;
        color:$c-tabs--vertical-is-active__link-color;
      }
    }
  }
  .c-tabs__link {
    border:none;
    padding-left:$base-spacing/2;
    padding-right:$base-spacing/2;
    @include mq('small', '-') {
      padding:$base-spacing/2 $base-spacing/4;
    }
  }
  .c-tabs__container {
    width:75%;
    float:right;
    clear:right;
    left:-1px;
    border:none;
    padding:0 0 0 $base-spacing;
  }
}
.c-tabs__tab {
  &.is-active {
    .c-tabs__link {
      background:$c-tabs__tab-is-active__link-background-color;
      color:$c-tabs__tab-is-active__link-color;
      cursor:default;
    }
  }
}
.c-tabs__link {
  @include transition('background-color');
  border:1px solid $c-tabs__link-border;
  background:$c-tabs__link-background-color;
  color:$c-tabs__link-color;
  display:block;
  font-weight: bold;
  padding: 0.75em 0;
  line-height: 1.25em;
  text-decoration: none;
  vertical-align: top;
  &:hover{
    background:$c-tabs__link-hover-background-color;
    color:$c-tabs__link-hover-color;
  }
  @include mq('small', '-') {
    font-size:14px;
  }
}
.c-tabs__container {
  background:$c-tabs__container-background-color;
  border:1px solid $c-tabs__container-border;
  padding:$base-spacing;
  clear:both;
  position:relative;
  z-index:5;
}
.c-tabs__content {
  @include demarginalise;
  display:none;
  &.is-active {
    display:block;
  }
}
