//
// Utility navigation
//
.c-utility-nav {
  @include clearfix;
  background:$c-utility-nav-background;
  color:$c-utility-nav-color;
  padding:0.25em 6px;
}
.c-utility-nav__list {
  @include inline-links;
  float:left;
}
.c-utility-nav__item {
  margin-top:0.1em;
  margin-bottom:0.1em;
  ~ .c-utility-nav__item {
    border-left:1px solid $c-utility-nav__item-sibling-border;
  }
}
.c-utility-nav__link {
  padding:0 0.75em;
  font-size:0.8em;
  color:$c-utility-nav__link-color;
}
.c-utility-nav__search {
  float:right;
  .c-form {
    margin-bottom:0;
  }
  .c-form__input--text {
    @include font-size(12px,1.5);
    width:auto;
    border:0;
    background-color:$c-utility-nav__search__input--text-background-color;
    color:$c-utility-nav__search__input--text-color;
  }
  .c-btn {
    min-height:0;
    border-width:0;
    line-height:1;
    height:2em;
    padding-left:0.5em;
    padding-right:0.5em;
    vertical-align:baseline;
  }
}
