//
// Utility navigation
//

.c-utility-nav {
  @include clearfix;
}

.c-utility-nav__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: $container-width;
  width: 100%;
  text-align: right;
  position: relative;
  @include mq(tiny, '-') {
    text-align: left;
  }
}

.c-utility-nav__item {
  display: inline-block;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  @include mq(tiny, '-') {
    &:first-of-type {
      // So text lines up with edge of box
      .c-utility-nav__link {
        margin-left: -$base-spacing/4;
      }
      .c-utility-nav__subnav {
        left: -$base-spacing/4;
      }
    }
  }
}

.c-utility-nav__link {
  @include transition('color');
  display: block;
  position: relative;
  padding: 0.5em $base-spacing/2;
  font-weight: bold;
  text-decoration: none;
  color: $c-utility-nav__link-color;
  &:hover {
    color: $c-utility-nav__link-hover-color;
  }
  .c-utility-nav__item.is-open &,
  &:focus {
    color: $c-utility-nav__link-is-open-color;
    background-color: $c-utility-nav__link-is-open-background-color;
  }
  .c-utility-nav__item--parent & {
    padding-right: 1.5em;
    &:after {
      @extend .c-icon;
      position: absolute;
      right: 0.5em;
      top: 50%;
      margin-top: -6px;
      // Down arrow
      content: "\f0d7";
    }
    @include mq(tiny, '-') {
      padding-right: 1.1em;
      &:after {
        right: 0.3em;
      }
    }
  }
  @include mq(tiny, '-') {
    padding-left: $base-spacing/4;
    padding-right: $base-spacing/4;
  }
  .c-utility-nav__item--parent.c-utility-nav__item.is-open &,
  .c-utility-nav__item--parent &:focus {
    &:after {
      // cross
      content: "\f00d";
    }
  }
}

.c-utility-nav__subnav {
  @include demarginalise;
  display:none;
  position:absolute;
  left:0;
  top:100%;
  min-width:100%;
  padding:$base-spacing/2;
  background-color:$c-utility-nav__subnav-background-color;
  z-index:16; // Above mobile search
  .c-utility-nav__item.is-open &,
  .c-utility-nav__link:focus ~ & {
    display:block;
  }
}

// Left aligned
.c-utility-nav__subnav--left {
  left:0;
  right:auto;
}
// Right aligned
.c-utility-nav__subnav--right {
  left:auto;
  right:0;
}
// Block aligned
.c-utility-nav__subnav--block {
  top:calc(100% - 1px); // Not sure why there's 1px extra...
  max-width:100%;
}
.c-utility-nav__item--block-parent {
  position:static;
}

.c-utility-nav__sublist {
  @include demarginalise;
  list-style:none;
  padding:0;
}

.c-utility-nav__subitem {
  display:block;
  text-align:left;
  margin-bottom:$base-spacing/4;
}

.c-utility-nav__sublink {
  color:$c-utility-nav__sublink-color;
  text-decoration:none;
  overflow: hidden;
  text-overflow: ellipsis;
  display:block;
  &:hover {
    color:$c-utility-nav__sublink-hover-color;
  }
}
