<!DOCTYPE html>
<html  lang="">
<head>
  <meta charset="utf-8" />
  <title>Formstack</title>
  <!-- Typekit -->
  <script src="//use.typekit.net/dvj8rpp.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <!-- iFrame Resizer Content Window -->
  <script src="https://www.york.ac.uk/static/stable/js/iframeResizer.contentWindow.min.js"></script>
  <!-- Formstack styles -->
  <link rel="stylesheet" href="/css/formstack.css" />

  <style>
      body { max-width:1200px; margin:0 auto; }
  </style>
</head>
<body>
<form class="fsForm fsMaxCol1" action="#">

    <div class="fsPage">

        <table class="fsSection fsTable" cellspacing="0" cellpadding="0" role="presentation">
            <tbody class="fsSectionHeader">
                <tr valign="top" class="fsRowTop">
                    <td class="fsRowOpen"></td>
                    <td class="fsRowBody"></td>
                    <td class="fsRowClose"></td>
                </tr>
                <tr valign="top" class="fsRow fsSectionRow">
                    <td class="fsRowOpen"></td>
                    <td class="fsRowBody fsCell fsSectionCell">

                                                    <div id="fsSubmissionCheckmark">
                                &nbsp;
                            </div>


                                                    <div class="fsSectionText" style="padding-left:78px"
                                role="alert"
                                aria-live="assertive"
                                aria-atomic="true">
                                <p><span>Thank you for contacting the University of York. We will review your application and contact you once this has been completed.</span></p>
                            </div>

                    </td>
                    <td class="fsRowClose"></td>
                </tr>
                <tr valign="top" class="fsRowBottom">
                    <td class="fsRowOpen"></td>
                    <td class="fsRowBody"></td>
                    <td class="fsRowClose"></td>
                </tr>
            </tbody>
        </table>



    </div>

</form>

</body>
</html>

