<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="robots" content="noindex, nofollow">

    <meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="" />
<meta name="twitter:site" content="@formstack" />
<meta name="twitter:title" content="Theme testing" />
<meta name="twitter:description" content="Formstack Form - Theme testing" />
<meta name="twitter:app:name:iphone" content="Formstack Forms" />
<meta name="twitter:app:name:ipad" content="Formstack Forms" />
<meta name="twitter:app:name:googleplay" content="Formstack Online Forms" />

<meta name="twitter:app:id:iphone" content="id526805387" />
<meta name="twitter:app:id:ipad" content="id526805387" />
<meta name="twitter:app:id:googleplay" content="com.formstack.android" />

    <title>Theme testing - Formstack</title>


        <link rel="icon" type="image/x-icon" href="img/favicon.ico" />

        <link rel="stylesheet" type="text/css" href="//static.formstack.com/forms/css/3/reset_53bc1bb20a.css" />
        <link rel="stylesheet" type="text/css" href="//static.formstack.com/forms/css/3/jquery-ui_e641deecbe.css" />
        <link rel="stylesheet" type="text/css" href="//static.formstack.com/forms/css/3/default_81280c6c1d.css" />
        <link rel="stylesheet" type="text/css" href="//static.formstack.com/forms/../common/css/uil-static.css" />
        <link rel="stylesheet" type="text/css" href="//static.formstack.com/forms/css/common/dialogs_68abb2e62a.css" />

        <!-- UoY Design Pattern CSS -->
        <link rel="stylesheet" type="text/css" href="/css/scopes/formstack.css" />
        <!-- Typekit -->
        <script src="//use.typekit.net/dvj8rpp.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>

    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" media="all" href="//uni_york.formstack.com/forms/css/3/ie.css?20140508" />
    <![endif]-->

    <!--[if IE 7]><link rel="stylesheet" type="text/css" media="all" href="//uni_york.formstack.com/forms/css/3/ie7.css" /><![endif]-->
    <!--[if IE 6]><link rel="stylesheet" type="text/css" media="all" href="//uni_york.formstack.com/forms/css/3/ie6fixes.css" /><![endif]-->


    <style type="text/css">
            </style>

    </head>

<body id="fsLocal" class="fsBody">








<form method="post" novalidate action="https://uni_york.formstack.com/forms/index.php" class="fsForm fsSingleColumn fsMaxCol1" id="fsForm2372130">

    <input type="hidden" name="form" value="2372130" />
    <input type="hidden" name="viewkey" value="LIu52cWDwV" />

    <input type="hidden" name="password" value="" />
    <input type="hidden" name="hidden_fields" id="hidden_fields2372130" value="" />
    <input type="hidden" name="fspublicsession" id="session_id2372130" value="" />
    <input type="hidden" name="incomplete" id="incomplete2372130" value="" />
    <input type="hidden" name="incomplete_email" id="incomplete_email2372130" value="" />
    <input type="hidden" name="incomplete_password" id="incomplete_password2372130" />
    <input type="hidden" name="referrer" id="referrer2372130" value="https://www.formstack.com/admin/form/builder/2372130?old" />
    <input type="hidden" name="referrer_type" id="referrer_type2372130" value="link" />
    <input type="hidden" name="_submit" value="1" />
    <input type="hidden" name="style_version" value="3" />

    <input type="hidden" id="fsLatitude" name="latitude" value="" />
    <input type="hidden" id="fsLongitude" name="longitude" value="" />
    <input type="hidden" id="viewparam" name="viewparam" value="576629" />
    <input type="hidden" id="analytics" name="analytics" value="" />







<div role="alert" id="requiredFieldsError" style="display:none;">Please fill in a valid value for all required fields</div>
<div role="alert" id="invalidFormatError" style="display:none;">Please ensure all values are in a proper format.</div>
<div role="alert" id="resumeConfirm" style="display:none;">Are you sure you want to leave this form and resume later?</div>
<div role="alert" id="resumeConfirmPassword" style="display: none;">Are you sure you want to leave this form and resume later? If so, please enter a password below to securely save your form.</div>
<div role="alert" id="saveAndResume" style="display: none;">Save and Resume Later</div>
<div role="alert" id="saveResumeProcess" style="display: none;">Save and get link</div>
<div role="alert" id="fileTypeAlert" style="display:none;">You must upload one of the following file types for the selected field:</div>
<div role="alert" id="embedError" style="display:none;">There was an error displaying the form. Please copy and paste the embed code again.</div>
<div role="alert" id="applyDiscountButton" style="display:none;">Apply Discount</div>
<div role="alert" id="dcmYouSaved" style="display:none;">You saved</div>
<div role="alert" id="dcmWithCode" style="display:none;">with code</div>
<div role="alert" id="submitButtonText" style="display:none;">Submit Form</div>
<div role="alert" id="submittingText" style="display:none;">Submitting</div>
<div role="alert" id="validatingText" style="display:none;">Validating</div>
<div role="alert" id="autocaptureDisabledText" style="display:none;"></div>
<div role="alert" id="paymentInitError" style="display:none;">There was an error initializing the payment processor on this form. Please contact the form owner to correct this issue.</div>
<div role="alert" id="checkFieldPrompt" style="display:none;">Please check the field: </div>

<div class="fsPage" id="fsPage2372130-1">









            <div class="fsSection fs1Col" id="fsSection42620416">




            <div class="fsSectionHeader">
            <h2 class="fsSectionHeading">Lead Generation Form</h2>

    </div>














                <div id="fsRow2372130-2" class="fsRow fsFieldRow fsLastRow">








            <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell42620417" lang="en">
                                                    <span id="label42620417" class="fsLabel fsRequiredLabel">Name<span class="fsRequiredMarker">*</span></span>



                <div class="fsSubFieldGroup">


    <div class="fsSubField fsNameFirst">
        <input type="text" id="field42620417-first" name="field42620417-first" size="20" value="" required class="fsField fsFieldName fsRequired" aria-required="true" />
        <label class="fsSupporting fsRequiredLabel" for="field42620417-first">First Name<span class="hidden">*</span></label>
    </div>



    <div class="fsSubField fsNameLast">
        <input type="text" id="field42620417-last" name="field42620417-last" size="20" value="" required class="fsField fsFieldName fsRequired" aria-required="true" />
        <label class="fsSupporting fsRequiredLabel" for="field42620417-last">Last Name<span class="hidden">*</span></label>
    </div>


</div>
<div class="clear"></div>







            </div>

                                    </div>













                <div id="fsRow2372130-3" class="fsRow fsFieldRow fsLastRow">








            <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell42620418" lang="en">
                                                                        <label id="label42620418" class="fsLabel fsRequiredLabel" for="field42620418">Address<span class="fsRequiredMarker">*</span>                    </label>



                <label for="field42620418-address" class="hidden">Address Line 1<span class="fsRequiredMarker">*</span></label>
<input type="text" id="field42620418-address" name="field42620418-address" size="50" required value="" class="fsField fsFieldAddress fsRequired" aria-required="true" />

<input type="text" id="field42620418-address2" name="field42620418-address2" size="50" value="" style="margin-top:5px;" class="fsField fsFieldAddress2" />

<div class="fsSubFieldGroup">

    <div class="fsSubField fsFieldCity">
        <input type="text" id="field42620418-city" name="field42620418-city" size="15" value="" required class="fsField fsFieldCity fsRequired" aria-required="true" />
        <label class="fsSupporting" for="field42620418-city">City</label>
    </div>

    <div class="fsSubField fsFieldState">
                    <select id="field42620418-state" name="field42620418-state" required class="fsField fsFieldState fsRequired" aria-required="true">
                <option value="">&nbsp;</option>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District of Columbia</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="PR">Puerto Rico</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                            </select>
            <label class="fsSupporting" for="field42620418-state">State</label>
            </div>

    <div class="fsSubField fsFieldZip">
                    <input type="text" id="field42620418-zip" name="field42620418-zip" size="6" value="" required class="fsField fsFieldZip fsFormatZipUS fsRequired" aria-required="true" />
            <label class="fsSupporting" for="field42620418-zip">ZIP Code</label>
            </div>

</div>
<div class="clear"></div>








            </div>

                                    </div>













                <div id="fsRow2372130-4" class="fsRow fsFieldRow fsLastRow">








            <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell42620419" lang="en">
                                                                        <label id="label42620419" class="fsLabel fsRequiredLabel" for="field42620419">Home Phone<span class="fsRequiredMarker">*</span>                    </label>



                <input type="tel" id="field42620419" name="field42620419" size="15" required value="" class="fsField fsFormatPhoneUS  fsRequired" aria-required="true" data-country="US" data-format="national" />







            </div>

                                    </div>













                <div id="fsRow2372130-5" class="fsRow fsFieldRow fsLastRow">








            <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell42620420" lang="en">
                                                                        <label id="label42620420" class="fsLabel" for="field42620420">Work Phone                    </label>



                <input type="tel" id="field42620420" name="field42620420" size="15" value="" class="fsField fsFormatPhoneUS " data-country="US" data-format="national" />







            </div>

                                    </div>













                <div id="fsRow2372130-6" class="fsRow fsFieldRow fsLastRow">








            <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell42620421" lang="en">
                                                                        <label id="label42620421" class="fsLabel fsRequiredLabel" for="field42620421">Email<span class="fsRequiredMarker">*</span>                    </label>



                <input type="email" id="field42620421" name="field42620421" size="50" required="required" value="" class="fsField fsFormatEmail fsRequired" aria-required="true" />







            </div>

                                    </div>













                <div id="fsRow2372130-7" class="fsRow fsFieldRow fsLastRow">








            <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell42620422" lang="en">
                                                                        <label id="label42620422" class="fsLabel" for="field42620422">Additional Comments                    </label>



                <textarea id="field42620422" name="field42620422" rows="10" cols="50" class="fsField"></textarea>







            </div>

                                    </div>













                <div id="fsRow2372130-8" class="fsRow fsFieldRow fsLastRow">








            <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell42620423" lang="en">
                                                                        <label id="label42620423" class="fsLabel" for="field42620423">Company                    </label>



                <input type="text" id="field42620423" name="field42620423" size="50" value="" class="fsField" />








            </div>

                                    </div>













                <div id="fsRow2372130-9" class="fsRow fsFieldRow fsLastRow">








            <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell42620424" lang="en">
                                                    <fieldset id="label42620424">

                        <legend class="fsLabel fsRequiredLabel fsLabelVertical"><span>When would you like to begin using our service?<span class="fsRequiredMarker">*</span></span></legend>
                        <div class="fieldset-content">






        <label class="fsOptionLabel vertical" for="field42620424_1"><input type="radio" id="field42620424_1" name="field42620424" value="ASAP" class="fsField fsRequired vertical" aria-required="true" />ASAP</label>



        <label class="fsOptionLabel vertical" for="field42620424_2"><input type="radio" id="field42620424_2" name="field42620424" value="Next Week" class="fsField fsRequired vertical" aria-required="true" />Next Week</label>



        <label class="fsOptionLabel vertical" for="field42620424_3"><input type="radio" id="field42620424_3" name="field42620424" value="Next Month" class="fsField fsRequired vertical" aria-required="true" />Next Month</label>



        <label class="fsOptionLabel vertical" for="field42620424_4"><input type="radio" id="field42620424_4" name="field42620424" value="2-3 Months" class="fsField fsRequired vertical" aria-required="true" />2-3 Months</label>



        <label class="fsOptionLabel vertical" for="field42620424_5"><input type="radio" id="field42620424_5" name="field42620424" value="4-6 Months" class="fsField fsRequired vertical" aria-required="true" />4-6 Months</label>



        <label class="fsOptionLabel vertical" for="field42620424_6"><input type="radio" id="field42620424_6" name="field42620424" value="7-11 Months" class="fsField fsRequired vertical" aria-required="true" />7-11 Months</label>



        <label class="fsOptionLabel vertical" for="field42620424_7"><input type="radio" id="field42620424_7" name="field42620424" value="1+ Year" class="fsField fsRequired vertical" aria-required="true" />1+ Year</label>






                                        </div></fieldset>



            </div>

                                    </div>













                <div id="fsRow2372130-10" class="fsRow fsFieldRow fsLastRow">








            <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell42620425" lang="en">
                                                    <fieldset id="label42620425">

                        <legend class="fsLabel fsRequiredLabel fsLabelVertical"><span>What product(s) are you interested in? Choose all that apply.<span class="fsRequiredMarker">*</span></span></legend>
                        <div class="fieldset-content">




                    <label class="fsOptionLabel vertical" for="field42620425_1"><input type="checkbox" id="field42620425_1" name="field42620425[]" value="Product A" class="fsField fsRequired vertical" aria-required="true" />Product A</label>

                                <label class="fsOptionLabel vertical" for="field42620425_2"><input type="checkbox" id="field42620425_2" name="field42620425[]" value="Product B" class="fsField fsRequired vertical" aria-required="true" />Product B</label>

                                <label class="fsOptionLabel vertical" for="field42620425_3"><input type="checkbox" id="field42620425_3" name="field42620425[]" value="Product C" class="fsField fsRequired vertical" aria-required="true" />Product C</label>

                                <label class="fsOptionLabel vertical" for="field42620425_4"><input type="checkbox" id="field42620425_4" name="field42620425[]" value="Product D" class="fsField fsRequired vertical" aria-required="true" />Product D</label>

                                <label class="fsOptionLabel vertical" for="field42620425_5"><input type="checkbox" id="field42620425_5" name="field42620425[]" value="Product E" class="fsField fsRequired vertical" aria-required="true" />Product E</label>







                                        </div></fieldset>



            </div>

                                    </div>













                <div id="fsRow2372130-11" class="fsRow fsFieldRow fsLastRow">








            <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell42620426" lang="en">
                                                    <fieldset id="label42620426">

                        <legend class="fsLabel fsRequiredLabel fsLabelVertical"><span>How did you hear about us?<span class="fsRequiredMarker">*</span></span></legend>
                        <div class="fieldset-content">






        <label class="fsOptionLabel vertical" for="field42620426_1"><input type="radio" id="field42620426_1" name="field42620426" value="Friend/Colleague" class="fsField fsRequired vertical" aria-required="true" />Friend/Colleague</label>



        <label class="fsOptionLabel vertical" for="field42620426_2"><input type="radio" id="field42620426_2" name="field42620426" value="Search Engine" class="fsField fsRequired vertical" aria-required="true" />Search Engine</label>



        <label class="fsOptionLabel vertical" for="field42620426_3"><input type="radio" id="field42620426_3" name="field42620426" value="Newspaper" class="fsField fsRequired vertical" aria-required="true" />Newspaper</label>



        <label class="fsOptionLabel vertical" for="field42620426_4"><input type="radio" id="field42620426_4" name="field42620426" value="Television" class="fsField fsRequired vertical" aria-required="true" />Television</label>



        <label class="fsOptionLabel vertical" for="field42620426_5"><input type="radio" id="field42620426_5" name="field42620426" value="Radio" class="fsField fsRequired vertical" aria-required="true" />Radio</label>



        <label class="fsOptionLabel vertical" for="field42620426_6"><input type="radio" id="field42620426_6" name="field42620426" value="Trade Show" class="fsField fsRequired vertical" aria-required="true" />Trade Show</label>


	<div class="vertical fs-clear">
	    <label class="fsOptionLabel vertical" for="field42620426_other"><input type="radio" id="field42620426_other" name="field42620426" value="Other" class="fsField fsRequired" aria-required="true" />Other:</label>

	    <input type="text" id="field42620426_othervalue" name="field42620426_other" size="15" class="fsOtherField" aria-required="true"	    /><label class="fsHiddenLabel" style="display: none;" for="field42620426_othervalue">Other Value</label>
    </div>




                                        </div></fieldset>



            </div>

                                    </div>







                </div>








                    </div>


                    <div class="fsPage fsHiddenPage" id="fsPage2372130-2" >



            <div class="fsSection fsFirstSection fs1Col" id="fsSection42620427">




            <div class="fsSectionHeader">

    </div>






    </div>



</div>


<div id="fsSubmit2372130" class="fsSubmit fsPagination">


    <button type="button" id="fsPreviousButton2372130" class="fsPreviousButton" value="Previous Page" style="display:none;"><span class="fsFull">Previous</span><span class="fsSlim">&larr;</span></button>
    <button type="button" id="fsNextButton2372130" class="fsNextButton" value="Next Page" style="display:none;"><span class="fsFull">Next</span><span class="fsSlim">&rarr;</span></button>

            <input id="fsSubmitButton2372130"
            class="fsSubmitButton fsSubmitMultipage"
            style="display: none;"
            type="submit"
            value="Submit Form" />




    <div class="clear"></div>

</div>

        <script type="text/javascript" src="//static.formstack.com/forms/js/3/jquery.min_1d14cd3798.js"></script>
        <script type="text/javascript" src="//static.formstack.com/forms/js/3/jquery-ui.min_42a497cb9f.js"></script>
        <script type="text/javascript" src="//static.formstack.com/forms/js/3/scripts_48c3d73d44.js"></script>
        <script type="text/javascript" src="//static.formstack.com/forms/js/3/analytics_e092e22178.js"></script>
        <script type="text/javascript" src="//static.formstack.com/forms/js/3/google-phone-lib_60aae7e185.js"></script>
        <script type="text/javascript" src="//static.formstack.com/forms/js/3/modernizr_60a2d5aeb5.js"></script>

    <script type="text/javascript">


        if(window.addEventListener) {
            window.addEventListener('load', loadFormstack, false);
        } else if(window.attachEvent) {
            window.attachEvent('onload', loadFormstack);
        } else {
            loadFormstack();
        }


        function loadFormstack() {
            var form2372130 = new Formstack.Form(2372130, 'https://uni_york.formstack.com/forms/');




            form2372130.logicFields = [];


            form2372130.calcFields = [];

            form2372130.init();

                        form2372130.plugins.analytics = new Formstack.Analytics('https://uni_york.formstack.com', 2372130, form2372130);
            form2372130.plugins.analytics.trackTouch();
            form2372130.plugins.analytics.trackBottleneck();





            window.form2372130 = form2372130;
        };
    </script>




    <div style="clear:both"></div>

</form>

<div class="fs-ngdialog fs-modal-medium fs-form-dialog fs-form-dialog--hidden">
  <div class="fs-ngdialog-overlay"></div>
  <div class="fs-ngdialog-content">
    <div class="fs-modal__top fs-form-dialog__title"></div>

    <div class="fs-modal__middle">
      <div class="fs-form-dialog__message"></div>

      <label class="hidden"
             for="fsSaveResumePassword">Enter your save and resume password</label>

      <input type="password"
             id="fsSaveResumePassword"
             class="fs-form-input fs-form-dialog__password fs-form-dialog--hidden fs--mt20" placeholder="Enter your save and resume password">
    </div>

    <div class="fs-modal__bottom">
      <a class="fs-form-dialog__cancel fs-btn2 fs-btn2--size_medium fs-btn2--style_edit-dark" title="Cancel">
        <div class="fs-btn2__content">
          <div class="fs-btn2__text">
            <span class="fs-form-dialog__button-text">Cancel</span>
          </div>
        </div>
      </a>

      <a class="fs-form-dialog__confirm fs-btn2 fs-btn2--size_medium fs-btn2--style_create fs--float-right" title="Confirm">
        <div class="fs-btn2__content">
          <div class="fs-btn2__text">
            <span class="fs-form-dialog__button-text">Confirm</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>






    </body>
    </html>
