//
// TABS
//
.tabs {

}
.tabs-nav {
  margin:0;
  padding:0;
  overflow:hidden;
  li {
    list-style:none;
    float:left;
    margin-right:8px;
    &.tab-active {
      a {
        background:$light;
        color:$dark;
        border-bottom:1px solid $light;
      }
    }
  }
  a {
    border:1px solid $dark;
    background:#ccc;
    color:#999;
    display:block;
    padding: 0.75em 20px;
    line-height: 1.25em;
    text-decoration: none;
    vertical-align: top;
  }
}
.tabs-content-container {
  background:$light;
  border:1px solid $dark;
  padding:20px;
  clear:both;
  margin-top:-1px;
}
.tabs-content {
  display:none;
  &.tab-active {
    display:block;
  }
}