//
// GRID SYSTEM
//
$box-margin: 20px;
$box-font-size: 16px;

.o-grid {

}

.o-grid__row {
  @include clearfix();
  font-size:0;
  margin-left:-$box-margin;
}

.o-grid__box {
  display:inline-block;
  vertical-align:top;
  padding-left:$box-margin;
  font-size: $box-font-size;
}

.o-grid__box--full {
  width:100%;
}
.o-grid__box--twothirds {
  width:66.666%;
}
.o-grid__box--half {
  width:50%;
}
.o-grid__box--third {
  width:33.333%;
}
.o-grid__box--quarter {
  width:25%;
}
.o-grid__box--threequarters {
  width:75%;
}
