//
// HEADER
//

#main-header {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:auto;
  z-index:24;
}
.main-header {
  color:$dark;
  background:#fff;
  padding:0 20px;
  h2 {
    display:inline-block;
    line-height:41px;
    font-size:24px;
    img {
      vertical-align:middle;
    }
  }
  .structural-nav {
    display:inline-block;
    float:right;
    clear:right;
    padding:1.625em 0;
  }
}
