//
// NAVIGATION
//
#main-menu {
  position:fixed;
  top:78px;
  left:0;
  height:46px;
  width:100%;
  z-index:8;
}
.main-menu {
  background:$dark;
  border-top: 3px solid $blue;
  ul {
    @extend %clearfix;
    max-width:$container-width;
    margin:0 auto;
    padding:0;
    li {
      float:left;
      line-height:43px;
      font-size:16px;
      list-style:none;
      border-right:1px solid #949394;
      position:relative;
      &:first-child {
        border-left:1px solid #949394;
      }
      a {
        display:block;
        padding:0 12px;
        color:#fff;
        text-decoration:none;
        &:hover {
          background:$blue;
        }
      }
      &:hover {
        ul {
          display:block;
        }
      }
      ul {
        display:none;
        position:absolute;
        top:100%;
        background:#999;
        min-width:180px;
        li {
          width:100%;
          border:0;
          border-top:1px solid #fff;
          &:first-child {
            border:0;
          }
        }
      }
    }
  }
}
#mobile-menu-buttons {
  position:fixed;
  z-index:10;
  top:0;
  right:0;
  font-size:0;
  a {
    display:inline-block;
    height:78px;
    width:78px;
    font-size:16px;
    background:$dark;
    color:$light;
    border-left:1px solid $light;
  }
}
#mobile-menu {
  position:fixed;
  z-index:10;
  top:78px;
  bottom:0;
  left:100%;
  width:100%;
  background:$dark;
  color:$light;
  transition:0.2s all ease-out;
  &.show {
    left:0;
  }
  ul {
    list-style:none;
    margin:0;
    padding:0;
    font-size:0;
    height:100%;
    li {
      display:inline-block;
      width:33.333%;
      height:33.333%;
      &:nth-of-type(3n+3) a {
        border-right:0;
      }
      &:nth-last-child(-n+3) a {
        border-bottom:0;
      }
    }
    a {
      display:block;
      font-size:16px;
      border-right:1px solid $light;
      border-bottom:1px solid $light;
      width:100%;
      height:100%;
    }
    ul {
      display:none;
    }
  }
}