//
// NAVIGATION
//

// General class for inline links
.inline-links {
  @extend %ib-container;
  list-style:none;
  margin-bottom:0;
  li {
    @extend %ib-element;
  }
  li ~ li {
    border-left:1px solid $dark;
  }
  a {
    padding:0 0.75em;
  }
}

// Utility navigation
.utility-nav {
  @extend %clearfix;
  background:$dark;
  color:$light;
  padding:0.25em;
  a {
    color:$light;
  }
}
.utility-links {
  @extend .inline-links;
  float:left;
  li {
    margin-top:0.25em;
    margin-bottom:0.25em;
  }
  li ~ li {
    border-left-color:$light;
  }
  a {
    font-size:0.8em;
  }
}
.utility-search {
  float:right;
  input[type=text] {
    border:0;
    background-color:$light;
  }
  .btn {
    vertical-align:top;
    border-width: 0;
    line-height: 2;
    height: 2em;
    padding-left:0.5em;
    padding-right:0.5em;
  }
}

.structural-nav {
  ul {
    @extend .inline-links;
  }
  a {
    @include transition();
    height:100%;
    display:block;
    &:hover {
      background-color:#eee;
    }
  }
}

#main-menu {
  position:fixed;
  top:78px;
  left:0;
  z-index:24;
}
.main-menu {
  min-height:2.75em;
  width:100%;
  background-color:$dark;
  margin-bottom:47px;
  margin-bottom:calc(2.75em + 3px);
  ul {
    max-width:$container-width;
    margin:0 auto;
    padding:0;
    min-height:2.75em;
    list-style:none;
    &.open {
      padding-right:7em;
    }
  }
  li {
    @include transition('background-color');
    line-height:2.75em;
    min-height:2.75em;
    float:left;
    &.more {
      position:absolute;
      top: 0;
      right: 0;
      text-align: right;
      line-height: 2.75em;
      z-index: 20;
      border:0;
      &:after {
        display:none;
      }
      a {
        background-color:transparent;
      }
    }
  }
  a {
    @include transition('background-color, color');
    display:block;
    padding:0 20px;
    text-decoration:none;
    vertical-align:top;
    color:#fff;
  }
  .nav-hidden {
    display:none;
  }
}
.main-menu-title {
  background-color:$blue;
  h1 {
    max-width:$container-width;
    margin:0 auto;
    padding:0 0 0 12px;
    color:$light;
    font-size:2em;
    line-height:1.625em;
  }
}
.menu-lv1 {
  position:relative;
  &.open {
    overflow:hidden;
  }
  > li {
    border-left:1px solid #949394;
    &:last-child {
      border-right:1px solid #949394;
    }
    &.active {
      > a {
        background-color:$blue;
        &:hover {
          background-color:$blue;
        }
      }
    }
    > a {
      &:hover {
        background-color:darken($blue, 20);
      }
    }
  }
}
// Level 2
.menu-lv2 {
  display:block;
  background-color:darken($blue, 20);
  position:absolute;
  left:0;
  top:100%;
  width:100%;
  overflow:hidden;
  ul {
    @extend %nav-overlay;
    position:relative;
    clear:both;
    overflow:hidden
  }
  > ul {
    &:after {
      background-color:$blue;
    }
  }
  li {
    position:relative;
    &.active {
      width:100%;
      > a {
        @extend %active-nav;
        position:relative;
        float:left;
      }
    }
  }
  > li {
    &:last-child {
      @extend %nav-overlay;
      &:after {
        background-color:$blue;
      }
    }
    &.active {
      > a {
        background-color:darken($blue, 20);
        z-index:18;
        &:hover {
          background-color:darken($blue, 25);
          &:after {
            border-left-color: darken($blue, 25);
          }
        }
        &:after {
          border-left-color: darken($blue, 20);
        }
      }
    }
  }
  a {
    &:hover {
      background-color:darken($blue, 5);
    }
  }
}

// Set default styles for subnav
@include submenu($blue);

// z-indexes and display settings for sub(sub(sub))navs
@for $n from 3 through 8 {
  $t: 4; // $t is the level at which the default color starts
  // Level #{$n}
  .menu-lv#{$n} {
    display:block;
    // To overlay the lighter background
    &:after {
      z-index:#{$n};
    }
    > li {
      > a {
        z-index:20 - $n;
      }
    }
  }
}

// MEGAMENU
.megamenu {
  overflow:visible;
  height:auto;
  z-index:10;
  li {
    height:auto;
    &:first-child {
      li a {
        padding-left:0;
      }
    }
  }
  ul {
    width:100%;
    height:auto;
    padding:20px;
    &:after {
      display:none;
    }
    > li {
      width:25%;
      line-height:1.626;
      vertical-align:top;
    }
    li {
      min-height:0;
      padding:0.25em 0;
      line-height:1.126;
      ul {
        display:block;
        width:100%;
        padding:0 0 0 1.626em;
        margin:0.25em 0 1em;
        color: #fff;
        list-style: disc;
        background-color:transparent;
        li {
          width:100%;
          a {
            padding:0;
          }
        }
      }
    }
    a {
      background-color:transparent;
      padding:0;
      &:after {
        display:none;
      }
    }
  }
  .nav-hidden {
    display:block;
  }
}


#mobile-menu-buttons {
  @extend %ib-container;
  position:fixed;
  z-index:10;
  top:0;
  right:0;
  a {
    @extend %ib-element;
    height:78px;
    width:78px;
    background-color:$dark;
    color:$light;
    border-left:1px solid $light;
  }
}
#mobile-menu {
  position:fixed;
  z-index:10;
  top:78px;
  bottom:0;
  left:100%;
  width:100%;
  background-color:$dark;
  color:$light;
  transition:0.2s all ease-out;
  &.show {
    left:0;
  }
  ul {
    @extend %ib-container;
    list-style:none;
    margin:0;
    padding:0;
    height:100%;
    li {
      @extend %ib-element;
      width:33.333%;
      height:33.333%;
      &:nth-of-type(3n+3) a {
        border-right:0;
      }
      &:nth-last-child(-n+3) a {
        border-bottom:0;
      }
    }
    a {
      display:block;
      border-right:1px solid $light;
      border-bottom:1px solid $light;
      width:100%;
      height:100%;
    }
    ul {
      display:none;
    }
  }
}