//
// NAVIGATION
//

// General class for inline links
.inline-links {
  @extend %ib-container;
  list-style:none;
  margin-bottom:0;
  li {
    @extend %ib-element;
  }
  li ~ li {
    border-left:1px solid $dark;
  }
  a {
    padding:0 0.75em;
  }
}

// Utility navigation
.utility-nav {
  @include clearfix();
  background:$dark;
  color:$light;
  padding:0.25em;
  a {
    color:$light;
  }
}
.utility-links {
  @extend .inline-links;
  float:left;
  li {
    margin-top:0.1em;
    margin-bottom:0.1em;
  }
  li ~ li {
    border-left-color:$light;
  }
  a {
    font-size:0.8em;
  }
}
.utility-search {
  float:right;
  input[type=text] {
    border:0;
    background-color:$light;
    font-size:12px;
    padding:0.125em 8px;
  }
  .btn {
    vertical-align:bottom;
    border-width: 0;
    line-height: 2;
    height: 2em;
    padding-left:0.5em;
    padding-right:0.5em;
  }
}

.structural-nav {
  ul {
    @extend .inline-links;
  }
  a {
    @include transition();
    height:100%;
    display:block;
    &:hover {
      background-color:#eee;
    }
  }
}

#main-menu {
  position:fixed;
  top:78px;
  left:0;
  z-index:24;
}
.main-menu {
  min-height:2.75em;
  width:100%;
  background-color:$dark;
  margin-bottom:47px;
  margin-bottom:calc(2.75em + 3px);
  ul {
    max-width:$container-width;
    margin:0 auto;
    padding:0;
    min-height:2.75em;
    list-style:none;
    &.open {
      padding-right:7em;
      .nav-additional {
        display:block;
      }
    }
  }
  li {
    @include transition('background-color');
    min-height:2.75em;
    float:left;
    &.more {
      position:absolute;
      top: 0;
      right: 0;
      text-align: right;
      z-index: 20;
      border:0;
      width:auto;
      &:after {
        display:none;
      }
      a {
        background-color:transparent;
      }
    }
  }
  a {
    @include transition('background-color, color');
    display:block;
    padding:0.75em 20px;
    line-height:1.25em;
    text-decoration:none;
    vertical-align:top;
    color:#fff;
  }
  .nav-additional {
    display:none;
    border:0;
    width:100%;
    ul {
    }
    li {
      border:0;
    }
    a {
    }
  }
}
.active-item {
  width:100%;
  > a {
    @extend %active-nav;
    position:relative;
    float:left;
    white-space: nowrap;
  }
  > ul {
    float:left;
    clear:right;
  }
}
.active-nav {
  position: absolute;
  top: 100%;
  left: 0;
  width:100%;
}

.main-menu-title {
  background-color:$blue;
  h1 {
    max-width:$container-width;
    margin:0 auto;
    padding:0 0 0 12px;
    color:$light;
    font-size:2em;
    line-height:1.625em;
    a {
      padding:0;
      line-height:1.625;
    }
  }
}

.menu-lv1 {
  position:relative;
  &.open {
    overflow:hidden;
  }
  > li {
    border-right:1px solid #949394;
    border-left:1px solid #949394;
    + li {
      border-left:0;
    }
    &.active-item {
      width:auto;
      > a {
        background-color:$blue;
        &:after {
          display:none;
        }
        &:hover {
          background-color:$blue;
        }
      }
    }
    > a,
    &.nav-additional a {
      &:hover {
        background-color:darken($blue, 20);
      }
    }
  }
}
// Level 2
.menu-lv2 {
  display:block;
  background-color:darken($blue, 10);
  position:absolute;
  left:0;
  top:100%;
  width:100%;
  // overflow:hidden;
  ul {
    // @extend %nav-overlay;
    // position:relative;
    // clear:both;
    // overflow:hidden
  }
  > ul {
    &:after {
      background-color:$blue;
    }
  }
  li {
    // position:relative;
  }
  > li {
    &:last-child {
      // @extend %nav-overlay;
      &:after {
        background-color:$blue;
      }
    }
    &.active-item {
      > a {
        background-color:darken($blue, 10);
        z-index:18;
        &:hover {
          background-color:darken($blue, 15);
          &:after {
            border-left-color: darken($blue, 15);
          }
        }
        &:after {
          border-left-color: darken($blue, 10);
        }
      }
    }
  }
  a {
    &:hover {
      background-color:darken($blue, 5);
    }
  }
}

// Set default styles for subnav
@include submenu($blue);

// z-indexes and display settings for sub(sub(sub))navs
@for $n from 3 through $nav_deepest_level {
  // Level #{$n}
  .menu-lv#{$n} {
    display:block;
    > li > a:after {
      z-index:20 - $n;
    }
  }
}

#mobile-menu-buttons {
  @extend %ib-container;
  position:fixed;
  z-index:10;
  top:0;
  right:0;
  a {
    @extend %ib-element;
    height:78px;
    width:78px;
    background-color:$dark;
    color:$light;
    border-left:1px solid $light;
  }
}
#mobile-menu {
  position:fixed;
  z-index:10;
  top:78px;
  bottom:0;
  left:100%;
  width:100%;
  background-color:$dark;
  color:$light;
  transition:0.2s all ease-out;
  &.show {
    left:0;
  }
  ul {
    @extend %ib-container;
    list-style:none;
    margin:0;
    padding:0;
    height:100%;
    li {
      @extend %ib-element;
      width:33.333%;
      height:33.333%;
      &:nth-of-type(3n+3) a {
        border-right:0;
      }
      &:nth-last-child(-n+3) a {
        border-bottom:0;
      }
    }
    a {
      display:block;
      border-right:1px solid $light;
      border-bottom:1px solid $light;
      width:100%;
      height:100%;
    }
    ul {
      display:none;
    }
  }
}