//
// STRUCTURE
//

.main-wrapper,
.wide-wrapper {
  margin:0 auto;
  background:#fff;
  padding-top:196px;
}
.main-wrapper {
  max-width:$container-width;
}
.wide-wrapper {
  max-width:100%;
}
.lead {
  font-size:20px;
  line-height:1.3;
}