//
// THEMES
// Changing the class of the body sets the theme for the menu, buttons etc.
// The body classes can also be applied specifically to items to change their theme
//
$x:#a23479;

body.purple {

  // NAVIGATION
  .main-menu {
    border-top-color: $x;
  }
  .menu-lv1 > li.active > a,
  .menu-lv1 > li.active > a:hover,
  .menu-lv2 > ul:after,
  .menu-lv2 > li:last-child:after,
  .menu-lv2 a {
    background-color: $x;
  }
  .menu-lv2 a:hover {
    background-color: darken($x, 5);
  }
  .menu-lv1 > li > a:hover,
  .menu-lv2,
  .menu-lv2 > li.active > a {
    background-color: darken($x, 20);
  }
  .menu-lv2 > li.active > a:after {
    border-left-color: darken($x, 20);
  }
  .menu-lv2 > li.active > a:hover {
    background-color: darken($x, 25);
  }
  .menu-lv2 > li.active > a:hover:after {
    border-left-color: darken($x, 25);
  }
  // Need redeclaring because of specificity
  .menu-lv2 > li.more a {
    background-color: transparent;
  }
  @include submenu($x);

}

