{{#if image}}
<div class="c-figure c-figure--link" style="height: auto;"> 
    <img class="c-figure__image" alt="" src="{{image}}" width="800" height="400">   
        <div class="c-figure__content c-figure__content--teal c-figure__content--left">  
{{else}}<div class="c-event__nofigure">{{/if}}<h1>
            {{title}} {{#if subtitle}}<small class="subtitle">{{subtitle}}</small>{{/if}}
        </h1>{{#if type-text}}
            <div class="c-label c-label--event-type">     
                <i class="c-icon c-icon--before c-icon--{{type-icon}}"></i> {{type-text}}
            </div>
        {{/if}}</div>{{#if image}}</div>{{/if}}   


<div class="u-two-columns">
    <ul class="c-icon--ul {{^if image}}u-two-columns__nofigure{{/if}}">
        <li><i class="c-icon--li c-icon c-icon--clock-o" aria-hidden="true" title="Date and time"></i><span class="sr-only">Date and time: </span> {{datetime}}</li>
        <li><i class="c-icon--li c-icon c-icon--map-marker" aria-hidden="true" title="Location"></i><span class="sr-only">Location: </span>{{location}}</li>
        <li><i class="c-icon--li c-icon c-icon--users" aria-hidden="true" title="Audience"></i><span class="sr-only">Audience: </span>{{audience}}</li>
        <li><i class="c-icon--li c-icon c-icon--ticket" aria-hidden="true" title="Admission"></i><span class="sr-only">Admission: </span>{{admission}}</li>        
    </ul>
  </div>