<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="University of York">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Search - University of York Websites</title>


    <meta name="description" content="">

    <!-- Head end + header -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" href="/css/styles.css">

    <script src="/js/vendor/modernizr/modernizr.js"></script>
    <script src="/js/vendor/requirejs/require.js" data-main="/js/app"></script>

    <!-- External, third party scripts -->
    <script src="//use.typekit.net/dvj8rpp.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

</head>

<body>
        <a href="#Main-Content" class="o-skip-link">Skip to content</a>

        <header class="c-main-header" role="banner">
          <div class="o-wrapper o-grid">
            <div class="o-grid__row">
              <div class="o-grid__box o-grid__box--threequarters o-grid__box--threequarters@medium o-grid__box--threequarters@small o-grid__box--threequarters@tiny">
                <h2 class="c-main-header__title"><a href="http://www.york.ac.uk/"><img class="c-main-header__logo" src="https://www.york.ac.uk/static/stable/img/logo.svg" alt="University of York" width="250" height="40"></a></h2>
              </div>
              <div class="o-grid__box o-grid__box--quarter o-grid__box--quarter@medium o-grid__box--quarter@small o-grid__box--quarter@tiny">
                <form action="https://www.york.ac.uk/search" method="get" class="c-form c-form--joined c-form--header is-hidden@medium-" autocomplete="off">
                  <fieldset>
                    <div class="c-form__element">
                      <input class="c-form__input c-form__input--text" type="text" id="q" aria-label="Search" name="q" placeholder="Search york.ac.uk" />
                      <input type="hidden" name="site" value="yorkweb">
                      <a class="c-btn c-btn--medium js-submit-form" href="https://www.york.ac.uk/search" role="button" aria-label="Search"><i class="c-icon c-icon--search" aria-hidden="true"></i></a>
                    </div>
                  </fieldset>
                </form>
                <!-- Mobile search -->
                <a href="#Mobile-Search" class="c-mobile-search-button js-toggle-button is-hidden@large+" aria-label="Search"><i class="c-icon c-icon--search" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </header>
        
        <!-- Mobile search -->
        <form action="https://www.york.ac.uk/search" method="get" class="c-form c-form--joined c-form--mobile-search" id="Mobile-Search">
          <fieldset class="c-form__fieldset">
            <legend class="c-form__legend">Search york.ac.uk</legend>
            <div class="o-grid">
              <div class="o-grid__row">
                <div class="o-grid__box o-grid__box--full">
                  <div class="c-form__element">
                    <input class="c-form__input c-form__input--text" type="text" id="q-mobile" name="q" aria-label="Search" />
                    <input type="hidden" name="site" value="yorkweb">
                    <a class="c-btn c-btn--medium js-submit-form" href="https://www.york.ac.uk/search" role="button">Search</a>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
            
        <!-- Main nav -->
        <nav class="c-nav c-nav--main" role="navigation" id="Main-Navigation">
           <ul class="c-nav__list c-nav__list--structural">
            <li class="c-nav__item"><a href="https://www.york.ac.uk/study/">Study</a></li>
            <li class="c-nav__item"><a href="https://www.york.ac.uk/research/">Research</a></li>
            <li class="c-nav__item"><a href="https://www.york.ac.uk/business/">Business</a></li>
            <li class="c-nav__item"><a href="https://www.york.ac.uk/about">About</a></li>
            <li class="c-nav__item"><a href="https://www.york.ac.uk/global/">Global</a></li>
            <li class="c-nav__item"><a href="https://www.york.ac.uk/news-and-events/news/">News</a></li>
            <li class="c-nav__item"><a href="https://www.york.ac.uk/news-and-events/events">Events</a></li>
             <li class="c-nav__item c-nav__item--more"><a class="c-nav__link js-toggle-button" href="#Main-Navigation">More&hellip;</a></li>
          </ul>
          <!--h4 class="c-nav__header">All sections</h4>
          <ul class="c-nav__list c-nav__list--associative">
            
          </ul-->
           
        
        </nav>
        
        
        <div class="o-wrapper o-wrapper--main o-grid js-wrapper--main" id="Main-Content">
        <h1>Search</h1>
              
                                <script>
                                          (function() {
                                            var cx = '018165413932352141731:4wxtna7op-0';
                                            var gcse = document.createElement('script');
                                            gcse.type = 'text/javascript';
                                            gcse.async = true;
                                            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                                '//www.google.com/cse/cse.js?cx=' + cx;
                                            var s = document.getElementsByTagName('script')[0];
                                            s.parentNode.insertBefore(gcse, s);
                                          })();
                                        </script>
        
                        <gcse:searchbox></gcse:searchbox>
        
                        <gcse:searchresults></gcse:searchresults>
                    
              </div>
        
        <footer class="c-footer-main" role="contentinfo">
          <div class="o-grid o-wrapper">
            <div class="o-grid__row">
              <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
                <h3 class="c-footer-main__heading">Information for</h3>
                <ul>
                  <li><a href="http://www.york.ac.uk/study/">Prospective students</a></li>
                  <li><a href="https://www.york.ac.uk/students/">Current students</a></li>
                  <li><a href="https://www.york.ac.uk/staff/">Staff</a></li>
                  <li><a href="http://www.yorkspace.net/">Alumni</a></li>
                  <li><a href="http://www.york.ac.uk/news-and-events/for-media/">Press and media</a></li>
                </ul>
              </div>
              <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
                <h3 class="c-footer-main__heading">About</h3>
                <ul>
                  <li><a href="http://www.york.ac.uk/about/">About the University</a></li>
                  <li><a href="http://www.york.ac.uk/research/">Research</a></li>
                  <li><a href="http://www.york.ac.uk/business/">Business</a></li>
                  <li><a href="http://www.york.ac.uk/global">Global</a></li>
                  <li><a href="http://www.york.ac.uk/news-and-events/news/">News</a></li>
                  <li><a href="http://www.york.ac.uk/news-and-events/events/">Events</a></li>
                </ul>
              </div>
              <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
                <h3 class="c-footer-main__heading">Quick links</h3>
                <ul>
                  <li><a href="http://www.york.ac.uk/about/departments/a-to-z/">A-Z</a></li>
                  <li><a href="http://www.york.ac.uk/about/departments/">Departments</a></li>
                  <li><a href="https://www.york.ac.uk/directory/">Staff directory</a></li>
                  <li><a href="http://www.york.ac.uk/about/maps/">Maps and directions</a></li>
                  <li><a href="http://www.york.ac.uk/about/term-dates/">Term dates</a></li>
                  <li><a href="http://jobs.york.ac.uk/">Job vacancies</a></li>
                </ul>
              </div>
              <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
                <h3 class="c-footer-main__heading">Contact us</h3>
                <p class="c-footer-main__address">University of York<br>
                  York<br>
                  YO10 5DD<br>
                  United Kingdom<br>
                </p>
                <p>+44 (0) 1904 320 000</p>
              </div>
            </div>
            <div class="o-grid__row">
              <div class="o-grid__box o-grid__box--quarter">
                <p>
                  <a href="https://twitter.com/uniofyork" aria-label="Follow us on Twitter"><i class="c-icon c-icon--twitter c-icon--2x c-icon--fw" title="Follow us on Twitter" aria-hidden="true"></i></a>
                  <a  href="https://www.facebook.com/universityofyork" aria-label="Like us on Facebook"><i class="c-icon c-icon--facebook c-icon--2x c-icon--fw" title="Like us on Facebook" aria-hidden="true"></i></a>
                  <a href="https://instagram.com/uniofyork" aria-label="Follow us on Instagramr"><i class="c-icon c-icon--instagram c-icon--2x  c-icon--fw" title="Follow us on Instagram" aria-hidden="true"></i></a>
                  <a  href="http://www.youtube.com/universityofyorkuk" aria-label="Watch our videos on YouTube"><i class="c-icon c-icon--youtube c-icon--2x c-icon--fw" title="Watch our videos on YouTube" aria-hidden="true"></i></a>
                </p>
              </div>
              <div class="o-grid__box o-grid__box--half">
                <p>&copy; University of York <br /> <a href="http://www.york.ac.uk/about/legal-statements/">Legal statements</a> | <a href="http://www.york.ac.uk/about/legal-statements/#tab-5">Privacy and cookies</a></p>
              </div>
              <div class="o-grid__box o-grid__box--quarter"><!-- Footer start-->
        
              </div>
            </div>
          </div>
        </footer>
        
        </body>
        
        </html><!-- Footer end-->        