
@media print {
  @mixin subtle-image {
    max-width:25%!important;
    float:left;
    margin-right:$base-spacing;
  }
  @mixin unsubtle-image {
    max-width:100%!important;
    float:none;
    margin-right:0;
  }

  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
    transition:none !important; /* http://www.lockedowndesign.com/chrome-print-preview-differs-from-dev-tools/ */
  }
  body {
    page-break-before: avoid !important;
    page-break-after: auto !important;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  th, td {
    border-color:#000 !important;
  }

  img {
    display:block;
  }
  img.icon,
  .c-main-header__logo {
    display:inline;
  }

  @page {
    margin: 1cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  a {
    text-decoration:none;
  }
  // Add external links afterwards
  a[href^="http"]:not([href*="york.ac.uk"]) {
    &:after {
      content:" (" attr(href) ") ";
      font-size:0.8em;
      font-weight:normal;
    }
  }

  // Add link to Youtube video
  .c-video {
    &:before {
      content:"Watch the video at https://youtu.be/"attr(data-video-id);
    }
    iframe {
      display:none;
    }
  }

  /*
   * Reduce header spacing
   */
   .c-main-header__title,
   .c-page-title__header,
   .c-breadcrumb {
     margin-bottom:0;
   }

   .c-breadcrumb__separator {
    padding: 0 5px;
}

  /*
   * Get rid of a load of unnecessary stuff
   */
  .c-nav,
  .c-subnav,
  .c-nav__wrapper,
  .c-footer-main,
  .c-form--header,
  .c-news__share,
  #__bs_notify__ {
    display:none;
  }
  /*
   * Fixes to the grid
   */
  .o-grid__row--alt1,
  .o-grid__row--alt2,
  .o-grid__row--alt3 {
    &:before,
    &:after {
      display:none;
    }
    + .o-grid__row {
      padding-top:0;
    }
    .c-news--excerpt {
      padding:0;
    }
  }
  .o-grid__row--bordered {
    border-bottom: 0;
  }
  .o-grid__box {
    width:100%!important;
    height:auto!important; // To stop js-equal-height-rows
    /*
     * Print override layouts
     */
    &.o-grid__box--full\@print {
      width:100%!important;
    }
    &.o-grid__box--half\@print {
      width:50%!important;
    }
    &.o-grid__box--third\@print {
      width:33.333%!important;
    }
    &.o-grid__box--twothirds\@print {
      width:66.666%!important;
    }
    &.o-grid__box--quarter\@print {
      width:25%!important;
    }
    &.o-grid__box--threequarters\@print {
      width:75%!important;
    }
  }

  /*
   * Fix buttons a bit
   */
  .c-btn,
  .cta a {
    border:0;
    padding:0;
    word-break:break-word;
  }
  /*
   * Open all accordions
   */
  .c-accordion__item {
    border:0;
  }
  .c-accordion__title {
    @include component-margin;
    padding:0;
  }
  .c-accordion__content {
    @include component-margin;
    padding:0;
    overflow:visible;
    height:auto!important;
  }
  .c-accordion__icon {
    display:none;
  }
  /*
   * Figure link captions move alongside images
   *
  .c-figure img,
  .c-figure__image,
  .image-fit-width img {
    @include subtle-image;
    .o-wrapper--main .o-grid__row:first-child &,
    .o-media__picture & {
      @include unsubtle-image;
    }
  }
  */
  .c-figure--link,
  .c-news--excerpt .c-news__poster {
    img {
      @include subtle-image;
    }
  }
  .c-figure--link {
    .c-figure__content {
      position:static;
      padding:0;
      display:block;
    }
  }
  .c-figure--no-margin {
    margin-bottom:$base-spacing;
  }
  /*
   * Quote blockquotes don't need speech bubbles
   */
  .c-blockquote--image-quote .c-blockquote__image + .c-blockquote__content:after   {
    display:none;
  }
  /*
   * Panels don't need borders
   */
  .c-panel,
  .h-card--article {
    border-top:0;
    margin-bottom:0;
  }
  .c-panel__header,
  .c-panel__image,
  .c-panel__subheader,
  .c-panel__content,
  .c-panel__footer {
    @include component-margin;
    padding:0;
  }
  .c-panel--kis-widget {
    display:none;
  }
  /*
   * Tabs separate out into blocks of text
   */
  .c-tabs__nav {
    display:none !important;
  }
  .c-tabs__container {
    border:0;
    padding:0!important;
  }
  .c-tabs__content {
    margin-bottom:$base-spacing;
    display:block;
    &:last-of-type {
      margin-bottom:0;
    }
  }
  .c-tabs--vertical {
    .c-tabs__container {
      width:100%;
    }
  }
  /*
   * Make alerts look more like headers
   */
  .c-alert {
    padding:0;
    border:0;
    font-weight:bold;
  }
  .c-alert__close {
    display:none;
  }
  /*
   * Key fact amends
   */
  .c-key-fact {
    padding:0;
  }
  /*
   * Signpost amends
   */
  .c-signpost {
    text-align:left;
  }
  .c-signpost__icon {
    @include subtle-image;
  }
  /*
   * Line up tags
   */
  .c-tag,
  .c-tag-list a {
    padding-left:0;
  }
}
