<a class="c-news c-news--listing o-media" href="{{link}}">{{#if thumbnail}}
  <div class="c-news__thumbnail o-media__picture">
    <img src="{{thumbnail}}" alt="{{title}}">
  </div>{{/if}}
  <div class="o-media__body">
    <h4 class="c-news__title">{{title}}</h4>{{#if date}}
    <datetime class="c-news__date">{{date}}</datetime>{{/if}}{{#if date}}
    <div class="c-news__lead">
      <p>{{lead}}</p>
    </div>{{/if}}
  </div>
</a>