<a class="c-news c-news--excerpt" href="{{link}}">{{#if poster}}
  <div class="c-news__poster">
    <img src="{{poster}}" alt="{{title}}">
  </div>{{/if}}{{#if category}}
  <p class="c-news__category">{{category}}</p>{{/if}}
  <h4 class="c-news__title">{{title}}</h4>
  <div class="c-news__teaser">
    <p>{{teaser}}</p>
  </div>
</a>