<div class="c-news c-news--article">
  <h1 class="c-news__title">{{title}}</h1>
  <ul class="c-tag-list c-tag-list--center c-news__category">{{#category}}
    <li class="c-tag-list__item">{{this}}</li>{{/category}}
  </ul>
  <div class="c-news__lead">
    <p>{{lead}}</p>
  </div>{{#if banner}}
  <figure class="c-news__banner c-figure">
    <img src="{{banner}}" alt="{{title}}">
    <div class="c-figure__caption c-figure__caption--below">
      <p>Dr Mark Jenner, research champion for&nbsp;Culture and communication</p>
    </div>
  </figure>{{/if}}
  <div class="c-news__content">
    {{content}}
  </div>{{#if date}}
  <time datetime="{{date}}" class="c-news__date">Posted on {{date}}</time>{{/if}}{{#if license}}
  <div class="c-news__license">
    <p>{{license}}</p>
  </div>{{/if}}
  <!-- SHARE BUTTONS -->
</div>