{{>head}}

{{>header}}

{{>mainmenu}}

<div class="o-wrapper o-wrapper--main js-wrapper--main o-grid">

  <div class="o-grid__row">

    <div class="o-grid__box o-grid__box--full" role="main" id="Main-Content">

      {{content}}

    </div>

  </div>

</div>

{{>foot}}