{{>head}}

{{>header}}

{{>mainnav}}

<div class="main-wrapper g-container">

  <div class="g-row">

    <div class="g-quarter" role="complementary">
      {{>subnav}}
    </div>

    <div class="g-threequarters" role="main">
      {{content}}
    </div>

  </div>

</div>

{{>foot}}