{{>head}}

{{>header}}

{{>mainmenu}}

<div class="o-wrapper o-wrapper--main o-grid">

  <div class="o-grid__row">

    <div class="o-grid__box o-grid__box--threequarters o-grid__box--main" role="main">
      {{content}}
    </div>

    <div class="o-grid__box o-grid__box--quarter" role="complementary">
      <nav class="c-subnav">
        {{>subnav}}
      </nav>
    </div>

  </div>

</div>

{{>foot}}