{{>head}}

{{>header}}

{{>mainnav}}

<div class="main-wrapper g-container">

  <div class="g-row">

    <div class="g-threequarters">
      {{content}}
    </div>

    <div class="g-quarter">
      <p>Quarter column</p>
    </div>

  </div>

</div>

{{>foot}}