{{>head}}

{{>header}}

{{>mainnav}}

<div class="main-wrapper o-grid">

  <div class="o-grid__row">

    <div class="o-grid__box o-grid__box--threequarters" role="main">
      {{content}}
    </div>

    <div class="o-grid__box o-grid__box--quarter" role="complementary">
      {{>subnav}}
    </div>

  </div>

</div>

{{>foot}}