{{>head}}

{{>header}}

{{>mainmenu}}

<div class="o-wrapper o-wrapper--wide o-wrapper--main o-grid">

  <div class="o-grid__row">

    <div class="o-grid__box o-grid__box--full" role="main">

      {{content}}

    </div>

  </div>

</div>

{{>foot}}