<div class="c-accordion__item js-accordion__item">
  <a href="#" class="c-accordion__title">{{title}}<i class="c-accordion__icon c-icon c-icon--plus c-icon--medium c-icon--light c-icon--after"></i></a>
  <div class="c-accordion__content">
    {{content}}
  </div>
</div>