<input type="checkbox" id="{{parentConfig.name}}-{{value}}" name="{{parentConfig.name}}" value="{{value}}"{{#checked}} checked{{/checked}}/>{{#label}}<label for="{{@root.parentConfig.name}}-{{@root.value}}">{{this}}</label>{{/label}}
