<div class="c-form__element{{#select}} c-form__element--select{{/select}}">{{#label}}
  <label class="c-form__label" for="{{@root.name}}">{{this}}</label>{{/label}}{{#select}}
  <select class="c-form__input c-form__input--select" name="{{name}}" id="{{name}}">{{/select}}
  {{#atoms}}
  {{this}}
  {{/atoms}}
  {{^atoms}}
  {{!-- Backup in case it all goes wrong - a normal, no-frills text input --}}
  <input class="c-form__input c-form__input--text" type="{{#type}}{{this}}{{/type}}{{^type}}text{{/type}}" id="{{name}}" name="{{name}}" {{#value}} value="{{this}}"{{/value}}{{#placeholder}}placeholder="{{this}}"{{/placeholder}}/>
  {{/atoms}}{{#select}}  </select>
{{/select}}</div>