<input class="c-form__input c-form__input--{{#type}}{{this}}{{/type}}{{^type}}text{{/type}}" type="{{#type}}{{this}}{{/type}}{{^type}}text{{/type}}" id="{{parentConfig.name}}" name="{{parentConfig.name}}" {{#value}} value="{{this}}"{{/value}}{{#placeholder}}placeholder="{{this}}"{{/placeholder}}{{#required}} required aria-required="true"{{/required}}/>