<textarea class="c-form__input c-form__input--textarea{{#size}} c-form__input--textarea--{{this}}{{/size}}" id="{{parentConfig.name}}" name="{{parentConfig.name}}"{{#placeholder}} placeholder="{{this}}"{{/placeholder}}>{{#value}}{{this}}{{/value}}</textarea>